Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,mjs}"
      run: bun run lint --fix
      stage_fixed: true
    format:
      glob: "*.{ts,tsx,js,json,md,astro,css}"
      run: bun run format
      stage_fixed: true
    typecheck:
      run: bun run typecheck

pre-push:
  commands:
    test:
      run: bun test
    exports:
      run: bun run check:exports
    security:
      run: bun audit --audit-level high

chore: delete unused notation barrel files and remove games target:node
  packages/games/bunup.config.ts
  packages/notation/src/parse.ts
  packages/notation/src/schemas.ts
  packages/notation/src/transform.ts
  packages/notation/src/validate.ts
Due: lint, format

chore: drop CJS output, ESM only
  packages/component-library/bunup.config.ts
  packages/component-library/package.json
  packages/display-utils/bunup.config.ts
  packages/display-utils/package.json
  packages/games/bunup.config.ts
  packages/games/package.json
  packages/notation/bunup.config.ts
  packages/notation/package.json
  packages/notation/src/index.ts
  packages/notation/src/validateNotation.ts
  packages/roller/bunup.config.ts
  packages/roller/package.json
Due: lint, format

chore: simplify build configs after CJS removal
  packages/component-library/bunup.config.ts
  packages/component-library/package.json
  packages/display-utils/bunup.config.ts
  packages/display-utils/package.json
  packages/games/bunup.config.ts
  packages/games/package.json
  packages/notation/bunup.config.ts
  packages/notation/package.json
  packages/roller/bunup.config.ts
  packages/roller/package.json
Due: lint, format

fix(games): add node:module to size-limit ignore and restore splitting
  packages/games/bunup.config.ts
  packages/games/package.json
Due: lint, format

feat(notation): add reroll-once (ro) and keep-middle (KM) notation sugar
  packages/notation/__tests__/definitions.test.ts
  packages/notation/__tests__/notationToOptions.test.ts
  packages/notation/src/definitions/keep.ts
  packages/notation/src/definitions/reroll.ts
  packages/notation/src/tokenize.ts
Due: lint, format

feat(roller): add zero-bias (zN) and custom faces (d{...}) special dice
  packages/roller/__tests__/roll/customFacesDice.test.ts
  packages/roller/__tests__/roll/zeroBiasDice.test.ts
  packages/roller/src/roll/parseArguments.ts
  packages/roller/src/types/core.ts
  packages/roller/src/types/index.ts
Due: lint, format

feat(notation): add margin-of-success (ms) and sorting (s/sa/sd) notation
  packages/notation/__tests__/marginOfSuccess.test.ts
  packages/notation/__tests__/sort.test.ts
  packages/notation/src/definitions/index.ts
  packages/notation/src/definitions/sort.ts
  packages/notation/src/index.ts
  packages/notation/src/parse/parseModifiers.ts
  packages/notation/src/tokenize.ts
  packages/notation/src/transformers/modifiersToStrings.ts
  packages/notation/src/types.ts
  packages/roller/__tests__/lib/modifiers/registry.test.ts
  packages/roller/__tests__/lib/modifiers/sort.test.ts
  packages/roller/src/lib/modifiers/behaviors/sort.ts
  packages/roller/src/lib/modifiers/definitions/index.ts
  packages/roller/src/lib/modifiers/definitions/sort.ts
  packages/roller/src/lib/modifiers/priorities.ts
  packages/roller/src/lib/modifiers/schema.ts
Due: lint, format

feat(roller): support string faces in d{...} and unify special dice via shared builder
  packages/roller/__tests__/roll/customFacesDice.test.ts
  packages/roller/src/roll/parseArguments.ts
  packages/roller/src/types/core.ts
Due: lint, format

docs(roller): update dice notation spec with new features
  packages/roller/RANDSUM_DICE_NOTATION.md
Due: format

docs: update CLAUDE.md, skills, and llms.txt for new notation features
  CLAUDE.md
  apps/site/public/llms.txt
  apps/site/public/skills/dice-rolling/SKILL.md
  apps/site/public/skills/dice-rolling/references/NOTATION.md
  llms.txt
  packages/notation/CLAUDE.md
  packages/roller/CLAUDE.md
  skills/dice-rolling/SKILL.md
  skills/dice-rolling/references/NOTATION.md
Due: format

docs(site): update notation and roller docs for new features
  apps/site/src/content/docs/notation/getting-started.mdx
  apps/site/src/content/docs/notation/introduction.mdx
  apps/site/src/content/docs/notation/randsum-dice-notation.mdx
  apps/site/src/content/docs/roller/api-reference.mdx
  apps/site/src/content/docs/roller/getting-started.mdx
  apps/site/src/content/docs/roller/introduction.mdx
  apps/site/src/content/docs/roller/modifiers.mdx
  apps/site/src/content/docs/roller/roll-options.mdx
Due: none

feat(roller): add draw die (DD) — sampling without replacement
  packages/roller/__tests__/roll/drawDice.test.ts
  packages/roller/src/roll/parseArguments.ts
  packages/roller/src/roll/pipeline.ts
  packages/roller/src/types/core.ts
  packages/roller/src/types/index.ts
  packages/roller/src/types/results.ts
Due: lint, format

feat: add count failures (F{N}) modifier and geometric die (gN)
  packages/notation/__tests__/countFailures.test.ts
  packages/notation/src/definitions/countFailures.ts
  packages/notation/src/definitions/index.ts
  packages/notation/src/index.ts
  packages/notation/src/parse/parseModifiers.ts
  packages/notation/src/transformers/modifiersToStrings.ts
  packages/notation/src/types.ts
  packages/roller/__tests__/roll/countFailures.test.ts
  packages/roller/__tests__/roll/geometricDice.test.ts
  packages/roller/src/lib/modifiers/behaviors/countFailures.ts
  packages/roller/src/lib/modifiers/definitions/countFailures.ts
  packages/roller/src/lib/modifiers/definitions/index.ts
  packages/roller/src/lib/modifiers/priorities.ts
  packages/roller/src/lib/modifiers/schema.ts
  packages/roller/src/roll/parseArguments.ts
  packages/roller/src/roll/pipeline.ts
  packages/roller/src/types/core.ts
  packages/roller/src/types/index.ts
  packages/roller/src/types/modifiers.ts
  packages/roller/src/types/results.ts
Due: lint, format

feat(notation): add repeat operator (xN) and integer division/modulo (//N, %N)
  packages/notation/__tests__/integerDivideModulo.test.ts
  packages/notation/__tests__/repeatOperator.test.ts
  packages/notation/src/definitions/index.ts
  packages/notation/src/definitions/integerDivide.ts
  packages/notation/src/definitions/modulo.ts
  packages/notation/src/index.ts
  packages/notation/src/parse/notationToOptions.ts
  packages/notation/src/parse/parseModifiers.ts
  packages/notation/src/tokenize.ts
  packages/notation/src/transformers/modifiersToStrings.ts
  packages/notation/src/types.ts
  packages/roller/__tests__/lib/modifiers/integerDivide.test.ts
  packages/roller/__tests__/lib/modifiers/modulo.test.ts
  packages/roller/src/lib/modifiers/behaviors/integerDivide.ts
  packages/roller/src/lib/modifiers/behaviors/modulo.ts
  packages/roller/src/lib/modifiers/definitions/index.ts
  packages/roller/src/lib/modifiers/definitions/integerDivide.ts
  packages/roller/src/lib/modifiers/definitions/modulo.ts
  packages/roller/src/lib/modifiers/priorities.ts
  packages/roller/src/lib/modifiers/schema.ts
Due: lint, format

feat: add annotations ([text]) and wild die (W) modifier
  packages/notation/__tests__/annotations.test.ts
  packages/notation/__tests__/wildDie.test.ts
  packages/notation/src/definitions/index.ts
  packages/notation/src/definitions/wildDie.ts
  packages/notation/src/index.ts
  packages/notation/src/parse/parseModifiers.ts
  packages/notation/src/parse/singleNotationToOptions.ts
  packages/notation/src/tokenize.ts
  packages/notation/src/transformers/modifiersToStrings.ts
  packages/notation/src/types.ts
  packages/roller/__tests__/lib/modifiers/wildDie.test.ts
  packages/roller/__tests__/roll/annotations.test.ts
  packages/roller/__tests__/roll/wildDie.test.ts
  packages/roller/src/lib/modifiers/behaviors/wildDie.ts
  packages/roller/src/lib/modifiers/definitions/index.ts
  packages/roller/src/lib/modifiers/definitions/wildDie.ts
  packages/roller/src/lib/modifiers/priorities.ts
  packages/roller/src/lib/modifiers/schema.ts
  packages/roller/src/roll/parseArguments.ts
  packages/roller/src/roll/pipeline.ts
  packages/roller/src/types/results.ts
Due: lint, format

docs: update all documentation for notation gaps 7-13
  CLAUDE.md
  apps/site/public/llms.txt
  apps/site/public/skills/dice-rolling/SKILL.md
  apps/site/public/skills/dice-rolling/references/NOTATION.md
  apps/site/src/content/docs/notation/api-reference.mdx
  apps/site/src/content/docs/notation/introduction.mdx
  apps/site/src/content/docs/notation/randsum-dice-notation.mdx
  apps/site/src/content/docs/roller/api-reference.mdx
  apps/site/src/content/docs/roller/getting-started.mdx
  apps/site/src/content/docs/roller/introduction.mdx
  apps/site/src/content/docs/roller/modifiers.mdx
  apps/site/src/content/docs/roller/roll-options.mdx
  llms.txt
  packages/notation/CLAUDE.md
  packages/roller/CLAUDE.md
  packages/roller/RANDSUM_DICE_NOTATION.md
  skills/dice-rolling/SKILL.md
  skills/dice-rolling/references/NOTATION.md
Due: format

docs: add discriminated RollRecord union implementation plan
  docs/superpowers/specs/2026-03-15-discriminated-roll-record.md
Due: format

docs: ADR-005 merge notation back into roller
  docs/adr/ADR-005-merge-notation-into-roller.md
Due: format

docs: ADR-006 notation scope boundary — no multi-expression composition
  docs/adr/ADR-006-notation-scope-boundary.md
Due: format

docs: ADR-006 update — grouped rolls and dynamic dice out of scope
  docs/adr/ADR-006-notation-scope-boundary.md
Due: format

fix: resolve lint, typecheck, and test failures across packages
  apps/discord-bot/__tests__/commands/roll.test.ts
  packages/notation/src/parse/listOfNotations.ts
  packages/roller/__tests__/lib/modifiers/registry.test.ts
  packages/roller/src/roll/parseArguments.ts
  packages/roller/src/roll/pipeline.ts
  packages/roller/src/types/index.ts
Due: lint, format

Cleanup
  apps/site/public/skills/dice-rolling/SKILL.md
  apps/site/public/skills/dice-rolling/references/NOTATION.md
  bun.lock
  packages/roller/RANDSUM_DICE_NOTATION.md
Due: format

feat: add notation sugar integration tests and docs for ro{}, KM, ms{N}, custom faces, zero-bias, explode sequence
  packages/notation/CLAUDE.md
  packages/roller/CLAUDE.md
  packages/roller/RANDSUM_DICE_NOTATION.md
  packages/roller/__tests__/roll/notationSugar.property.test.ts
  packages/roller/__tests__/roll/notationSugar.test.ts
Due: lint, format

feat(notation): add explode sequence modifier (!s{}, !i, !r)
  packages/notation/__tests__/definitions.test.ts
  packages/notation/__tests__/explodeSequence.test.ts
  packages/notation/src/constants.ts
  packages/notation/src/definitions/countSuccesses.ts
  packages/notation/src/definitions/explode.ts
  packages/notation/src/definitions/explodeSequence.ts
  packages/notation/src/definitions/index.ts
  packages/notation/src/index.ts
  packages/notation/src/parse/parseModifiers.ts
  packages/notation/src/parse/singleNotationToOptions.ts
  packages/notation/src/tokenize.ts
  packages/notation/src/transformers/modifiersToStrings.ts
  packages/notation/src/types.ts
  packages/roller/__tests__/lib/modifiers/registry.test.ts
  packages/roller/__tests__/roll/explodeSequence.test.ts
  packages/roller/src/lib/modifiers/behaviors/explodeSequence.ts
  packages/roller/src/lib/modifiers/definitions/explodeSequence.ts
  packages/roller/src/lib/modifiers/definitions/index.ts
  packages/roller/src/lib/modifiers/priorities.ts
  packages/roller/src/lib/modifiers/schema.ts
  packages/roller/src/roll/pipeline.ts
Due: lint, format

docs(site): add notation reference for new features on Astro docs site
  apps/site/src/content/docs/notation/randsum-dice-notation.mdx
  apps/site/src/content/docs/roller/modifiers.mdx
Due: none

fix(docs): restore deleted notation spec sections and fix explodeSequence docs
  CLAUDE.md
  packages/notation/CLAUDE.md
  packages/roller/RANDSUM_DICE_NOTATION.md
Due: format

fix(docs): correct explode behavior description, document penetrate floor, reject ADR-005
  docs/adr/ADR-005-merge-notation-into-roller.md
  packages/roller/RANDSUM_DICE_NOTATION.md
Due: format

fix(site): correct explosion caps, add d%/dF sections, fix llms.txt URLs
  apps/site/public/llms.txt
  apps/site/src/content/docs/notation/randsum-dice-notation.mdx
  apps/site/src/content/docs/roller/modifiers.mdx
  apps/site/src/content/docs/roller/roll-options.mdx
Due: none

test: add integration tests for repeat operator, sort, tokenize, and explodeSequence round-trip
  packages/notation/__tests__/explodeSequence.test.ts
  packages/notation/__tests__/tokenize.test.ts
  packages/roller/__tests__/roll/repeatOperator.test.ts
  packages/roller/__tests__/roll/sort.test.ts
Due: lint, format

feat(notation): add tokenizer support for ro{} and KM patterns
  packages/notation/__tests__/tokenize.test.ts
  packages/notation/src/tokenize.ts
Due: lint, format

feat(notation): tokenizer support for all special die types + fix spec bugs
  packages/notation/__tests__/tokenize.test.ts
  packages/notation/src/tokenize.ts
  packages/roller/RANDSUM_DICE_NOTATION.md
Due: lint, format

feat(notation): isDiceNotation recognizes all special die types
  packages/notation/__tests__/isDiceNotation.test.ts
  packages/notation/src/isDiceNotation.ts
Due: lint, format

docs: update spec to reflect isDiceNotation + tokenize support for all dice
  packages/roller/RANDSUM_DICE_NOTATION.md
Due: format

feat: complete site docs + compound/penetrate integration tests
  apps/site/src/content/docs/notation/randsum-dice-notation.mdx
  apps/site/src/content/docs/roller/modifiers.mdx
  packages/roller/__tests__/roll/modifiers.extended.test.ts
Due: lint, format

fix(site): add 4 missing special dice sections + explodeSequence to priority tables
  apps/site/src/content/docs/notation/randsum-dice-notation.mdx
  apps/site/src/content/docs/roller/modifiers.mdx
Due: none

docs: clarify ALL_MODIFIERS as single source of truth for modifier registry
  CLAUDE.md
  packages/roller/CLAUDE.md
Due: format

refactor: rename ALL_MODIFIERS to RANDSUM_MODIFIERS, trim redundant docs
  CLAUDE.md
  packages/notation/CLAUDE.md
  packages/roller/CLAUDE.md
  packages/roller/src/lib/modifiers/definitions/index.ts
  packages/roller/src/lib/modifiers/index.ts
  packages/roller/src/lib/modifiers/registry.ts
Due: lint, format

docs: add consensus taxonomy to canonical notation spec
  packages/roller/RANDSUM_DICE_NOTATION.md
Due: format

refactor: unify multiply behaviors, fix explode type to boolean-only
  packages/notation/src/definitions/explode.ts
  packages/notation/src/types.ts
  packages/roller/__tests__/roll/edgeCases.test.ts
  packages/roller/src/lib/modifiers/behaviors/explode.ts
  packages/roller/src/lib/modifiers/behaviors/multiplyTotal.ts
  packages/roller/src/lib/modifiers/definitions/explode.ts
  packages/roller/src/lib/modifiers/definitions/multiplyTotal.ts
  packages/roller/src/lib/modifiers/schema.ts
Due: lint, format
