Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,mjs}"
      run: bun run lint --fix
      stage_fixed: true
    format:
      glob: "*.{ts,tsx,js,json,md,astro,css}"
      run: bun run format
      stage_fixed: true
    typecheck:
      run: bun run typecheck

pre-push:
  commands:
    test:
      run: bun test
    exports:
      run: bun run check:exports
    security:
      run: bun audit --audit-level high

docs(site): add @randsum/notation package page and sidebar entry
  README.md
  apps/site/astro.config.mjs
  apps/site/src/content/docs/packages/notation.mdx
  apps/site/src/utils/packageData.ts
  packages/notation/README.md
Due: lint, format

docs(notation): add README and CLAUDE.md for @randsum/notation
  packages/notation/CLAUDE.md
  packages/notation/README.md
Due: format

docs: add design doc for Vegas slot package filter on die roll
  docs/plans/2026-03-08-dice-button-slot-filter-design.md
Due: format

docs: add implementation plan for Vegas slot filter on die roll
  docs/plans/2026-03-08-dice-button-slot-filter.md
Due: format

feat(site): Vegas slot filter cycle on die roll
  apps/site/src/pages/index.astro
Due: format

fix(site): update packageData test to not rely on corePackages index position
  apps/site/__tests__/packageData.test.ts
Due: lint, format

feat(site): SEO improvements — schema, headings, content, new pages
  apps/site/astro.config.mjs
  apps/site/src/content/docs/games/comparison.mdx
  apps/site/src/content/docs/games/pbta.mdx
  apps/site/src/content/docs/getting-started/introduction.mdx
  apps/site/src/content/docs/guides/recipes.mdx
  apps/site/src/content/docs/guides/troubleshooting.mdx
  apps/site/src/content/docs/packages/notation.mdx
  apps/site/src/content/docs/packages/roller.mdx
  apps/site/src/content/docs/reference/changelog.mdx
  apps/site/src/content/docs/reference/dice-notation.mdx
  apps/site/src/content/docs/tools/components/index.mdx
  apps/site/src/pages/index.astro
  docs/plans/2026-03-07-notation-package.md
Due: lint, format

docs: TUI playground parity design doc and implementation plan
  docs/plans/2026-03-08-tui-playground-parity-impl.md
  docs/plans/2026-03-08-tui-playground-parity-plan.md
Due: format

feat(cli): port formatResult helper from playground
  apps/cli/__tests__/tui/formatResult.test.ts
  apps/cli/src/tui/helpers/formatResult.ts
Due: lint, format

test(cli): add explicit error guards to formatResult tests
  apps/cli/__tests__/tui/formatResult.test.ts
Due: lint, format

feat(cli): unify HistoryEntry shape and add clearHistory
  apps/cli/__tests__/tui/useRollHistory.test.ts
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/RollHistory.tsx
  apps/cli/src/tui/hooks/useRollHistory.ts
Due: lint, format

docs(cli): fix misleading SYNC comment in useRollHistory
  apps/cli/src/tui/hooks/useRollHistory.ts
Due: lint, format

feat(cli): rich roll history display with total, pools, description
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/RollHistory.tsx
Due: lint, format

refactor(cli): remove unused onClear prop from RollHistory
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/RollHistory.tsx
Due: lint, format

feat(cli): never-throw roll pattern, Ctrl+L clear, simplified NotationInput
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/NotationInput.tsx
Due: lint, format

fix(cli): NotationInput border color matches playground (empty=gray, valid=green)
  apps/cli/src/tui/components/NotationInput.tsx
Due: lint, format

feat(cli): add gameConfigs, game deps, SelectField/NumberField/BooleanField components
  apps/cli/package.json
  apps/cli/src/tui/components/fields/BooleanField.tsx
  apps/cli/src/tui/components/fields/NumberField.tsx
  apps/cli/src/tui/components/fields/SelectField.tsx
  apps/cli/src/tui/gameConfigs.ts
  bun.lock
Due: lint, format

revert(cli): remove game-mode — TUI targets RollerPlayground parity instead
  apps/cli/package.json
  apps/cli/src/tui/components/fields/BooleanField.tsx
  apps/cli/src/tui/components/fields/NumberField.tsx
  apps/cli/src/tui/components/fields/SelectField.tsx
  apps/cli/src/tui/gameConfigs.ts
  bun.lock
Due: lint, format

feat(cli): port tokenize.ts, add live notation description row
  apps/cli/__tests__/tui/tokenize.test.ts
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/NotationDescriptionRow.tsx
  apps/cli/src/tui/helpers/tokenize.ts
Due: lint, format

feat(notation): add tokenize — parse notation into typed tokens for UI display
  packages/notation/CLAUDE.md
  packages/notation/src/index.ts
  packages/notation/src/tokenize.ts
  packages/roller/src/formatResult.ts
  packages/roller/src/index.ts
  packages/roller/src/internal/api.ts
Due: lint, format

feat(cli): interactive modifier reference with keyboard nav, docs, and add-to-notation
  apps/cli/__tests__/tui/modifierGrid.test.ts
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/NotationReference.tsx
  apps/cli/src/tui/helpers/modifierDocs.ts
  apps/cli/src/tui/helpers/modifierGrid.ts
Due: lint, format

feat(cli): add RollResultPanel with modifier history, redesign App header
  apps/cli/__tests__/tui/formatResult.test.ts
  apps/cli/__tests__/tui/tokenize.test.ts
  apps/cli/package.json
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/NotationDescriptionRow.tsx
  apps/cli/src/tui/components/RollResultPanel.tsx
  apps/cli/src/tui/helpers/formatResult.ts
  apps/cli/src/tui/helpers/tokenize.ts
  bun.lock
  packages/component-library/__tests__/tokenize.test.ts
  packages/component-library/package.json
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
  packages/component-library/src/components/RollerPlayground/tokenize.ts
Due: lint, format

chore(cli): remove roll history, dice toolbar, incrementDiceQuantity
  apps/cli/__tests__/tui/incrementDiceQuantity.test.ts
  apps/cli/__tests__/tui/useRollHistory.test.ts
  apps/cli/docs/plans/2026-03-08-tui-playground-parity-design.md
  apps/cli/docs/plans/2026-03-08-tui-playground-parity.md
  apps/cli/package.json
  apps/cli/src/tui/components/DiceToolbar.tsx
  apps/cli/src/tui/components/RollHistory.tsx
  apps/cli/src/tui/helpers/incrementDiceQuantity.ts
  apps/cli/src/tui/hooks/useRollHistory.ts
  bun.lock
Due: lint, format

chore(cli): remove dead history imports and usage from App.tsx
  apps/cli/src/tui/App.tsx
Due: lint, format

feat(cli): highlight active description token, correct token colors to match Playground CSS
  apps/cli/src/tui/components/NotationDescriptionRow.tsx
Due: lint, format

feat(cli): add useCursorPosition hook for token-aware cursor tracking
  apps/cli/__tests__/tui/useCursorPosition.test.ts
  apps/cli/src/tui/hooks/useCursorPosition.ts
Due: lint, format

feat(cli): restyle RollResultPanel — no border, separator line, cyan total, Playground colors
  apps/cli/src/tui/components/RollResultPanel.tsx
Due: lint, format

feat(cli): full-width modifier reference with row separators, bold notation keys
  apps/cli/src/tui/components/NotationReference.tsx
Due: lint, format

feat(cli): rewrite App — tokenized header, overlay result view, cursor token highlighting
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/NotationReference.tsx
Due: lint, format

fix(cli): show explicit cyan total in RollResultPanel for modifier rolls
  apps/cli/src/tui/components/RollResultPanel.tsx
Due: lint, format

test: fill coverage gaps across roller and notation packages
  apps/cli/__tests__/tui/useCursorPosition.test.ts
  apps/cli/src/tui/components/NotationReference.tsx
  packages/notation/__tests__/comparison.test.ts
  packages/notation/__tests__/formatHumanList.test.ts
  packages/notation/__tests__/schemas.test.ts
  packages/notation/__tests__/tokenize.test.ts
  packages/notation/__tests__/transformers.test.ts
  packages/notation/__tests__/validateNotation.test.ts
  packages/roller/__tests__/lib/modifiers/registry.test.ts
  packages/roller/src/lib/utils/formatHumanList.ts
  packages/roller/src/lib/utils/index.ts
Due: lint, format

feat(cli): add onLeftBoundary callback to useCursorPosition
  apps/cli/src/tui/hooks/useCursorPosition.ts
Due: lint, format

feat(cli): add roll focus zone — left arrow from pos 0 selects Roll
  apps/cli/src/tui/App.tsx
Due: lint, format

feat(cli): highlight roll label inverse when roll focus zone is active
  apps/cli/src/tui/App.tsx
Due: lint, format

feat(cli): roll focus zone navigation with token highlighting
  apps/cli/docs/plans/2026-03-08-tui-playground-parity-design.md
  apps/cli/docs/plans/2026-03-08-tui-playground-parity.md
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/HeroBanner.tsx
  apps/cli/src/tui/components/NotationDescriptionRow.tsx
  apps/cli/src/tui/components/NotationHighlight.tsx
  apps/cli/src/tui/components/NotationReference.tsx
  apps/cli/src/tui/components/RollResultPanel.tsx
  apps/cli/src/tui/helpers/tokenColors.ts
  apps/cli/src/tui/hooks/useCursorPosition.ts
  apps/cli/src/tui/hooks/useTerminalWidth.ts
  apps/site/public/skills/dice-rolling/SKILL.md
Due: lint, format

docs: fix llms.txt — remove stale AGENTS.md reference, add @randsum/notation
  llms.txt
Due: none

docs(cli): fix --json flag (no -j alias), add -r/--repeat to options table
  apps/cli/README.md
Due: format

docs: write 3.0.0 and 2.0.0 CHANGELOG entries, remove @randsum/mcp
  CHANGELOG.md
Due: format

docs: update SECURITY.md for 3.x.x support
  SECURITY.md
Due: format

docs(site): add @randsum/cli documentation page and sidebar entry
  apps/site/astro.config.mjs
  apps/site/src/content/docs/tools/cli.mdx
Due: lint
