Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint --fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

chore(games): remove dead build.ts and unused bin entry points
  packages/games/build.ts
  packages/games/src/lib/bin-build.ts
  packages/games/src/lib/bin.ts
  packages/games/tsconfig.json
Due: lint, format

chore(games): remove buildCLI test for deleted bin-build.ts
  packages/games/__tests__/lib/buildCLI.test.ts
Due: lint, format

fix(ci): add registry-url for npm OIDC Trusted Publishers
  .github/workflows/publish.yml
Due: none

fix: override h3 to 1.15.9 to resolve audit vulnerabilities
  bun.lock
  package.json
Due: format

chore(ci): replace GitHub App token with secrets.GITHUB_TOKEN
  .github/workflows/publish.yml
Due: none

fix(ci): use bun pm pack + npm publish for OIDC Trusted Publishers
  .github/workflows/publish.yml
  scripts/publish.ts
Due: lint, format

fix(ci): strip _authToken from .npmrc for OIDC Trusted Publishers
  .github/workflows/publish.yml
Due: none

fix(ci): unset NODE_AUTH_TOKEN so npm uses OIDC Trusted Publishers
  scripts/publish.ts
Due: lint, format

fix(ci): pass clean env to npm subprocess without NODE_AUTH_TOKEN
  scripts/publish.ts
Due: lint, format

fix(ci): use classic npm token instead of OIDC Trusted Publishers
  .github/workflows/publish.yml
  scripts/publish.ts
Due: lint, format

fix(ci): use setup-node v6 + Node 24 for npm Trusted Publishers
  .github/workflows/publish.yml
  scripts/publish.ts
Due: lint, format

fix(ci): tolerate already-published versions in publish script
  scripts/publish.ts
Due: lint, format

docs: add formal RANDSUM Dice Notation Specification v1.0
  RANDSUM_DICE_NOTATION_SPEC.md
Due: format

fix: correct Sort status in faceted records appendix
  RANDSUM_DICE_NOTATION_SPEC.md
Due: format

feat: add ExplodeOptions type for conditional explosion
  packages/roller/__tests__/lib/modifiers/conditionalExplode.test.ts
  packages/roller/src/modifiers/schema.ts
  packages/roller/src/notation/types.ts
Due: lint, format

feat: add shared condition matcher for explosion family
  packages/roller/__tests__/lib/modifiers/conditionMatch.test.ts
  packages/roller/src/modifiers/shared/conditionMatch.ts
Due: lint, format

feat: implement conditional explode (!{condition})
  packages/roller/__tests__/lib/modifiers/conditionalExplode.test.ts
  packages/roller/src/modifiers/explode.ts
  packages/roller/src/modifiers/shared/conditionMatch.ts
  packages/roller/src/notation/definitions/explode.ts
Due: lint, format

feat: extend compound and penetrate with Condition Expressions
  packages/roller/__tests__/lib/modifiers/conditionalCompound.test.ts
  packages/roller/__tests__/lib/modifiers/conditionalPenetrate.test.ts
  packages/roller/src/modifiers/compound.ts
  packages/roller/src/modifiers/penetrate.ts
  packages/roller/src/modifiers/shared/explosion.ts
  packages/roller/src/notation/definitions/compound.ts
  packages/roller/src/notation/definitions/penetrate.ts
Due: lint, format

docs: add conditional explode syntax, reference formal spec
  packages/roller/RANDSUM_DICE_NOTATION.md
Due: format

docs: update all references to point to formal spec
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  packages/games/CLAUDE.md
  packages/roller/CLAUDE.md
  packages/roller/README.md
Due: format

refactor: consolidate condition matching onto matchesComparison
  packages/roller/__tests__/lib/modifiers/conditionMatch.test.ts
  packages/roller/src/modifiers/count.ts
  packages/roller/src/modifiers/shared/conditionMatch.ts
Due: lint, format

docs: add spec design and implementation plan
  docs/superpowers/plans/2026-03-20-notation-spec-taxonomy.md
  docs/superpowers/specs/2026-03-20-notation-spec-taxonomy-design.md
Due: format

docs: add spec site design for spec.randsum.dev
  docs/superpowers/specs/2026-03-20-spec-site-design.md
Due: format

docs: rename spec site to notation.randsum.dev
  docs/superpowers/specs/2026-03-20-spec-site-design.md
Due: format

docs(adr): architectural decisions for notation.randsum.dev
  docs/adr/ADR-015-custom-astro-layout-over-starlight.md
  docs/adr/ADR-016-static-version-embedding.md
  docs/adr/ADR-017-vanilla-typescript-client-interactivity.md
Due: format

docs: revise versioning to per-page static routes (LLM-friendly)
  docs/adr/ADR-016-static-version-embedding.md
  docs/superpowers/specs/2026-03-20-spec-site-design.md
Due: format

docs(adr): address G1 review feedback
  docs/adr/ADR-015-custom-astro-layout-over-starlight.md
  docs/adr/ADR-016-static-version-embedding.md
  docs/adr/ADR-017-vanilla-typescript-client-interactivity.md
Due: format

feat(spec): scaffold apps/spec for notation.randsum.dev
  apps/spec/astro.config.ts
  apps/spec/netlify.toml
  apps/spec/package.json
  apps/spec/public/llms-full.txt
  apps/spec/public/llms.txt
  apps/spec/scripts/copy-latest-spec.sh
  apps/spec/src/content.config.ts
  apps/spec/src/content/specs/v1.0.md
  apps/spec/src/pages/index.astro
  apps/spec/tsconfig.json
  bun.lock
Due: lint, format

feat(spec): content pipeline with per-version static pages
  apps/spec/src/content.config.ts
  apps/spec/src/pages/404.astro
  apps/spec/src/pages/index.astro
  apps/spec/src/pages/v/[version].astro
  apps/spec/src/utils/versions.ts
Due: lint, format

feat(spec): three-column layout shell and global styles
  apps/spec/src/components/SkipLink.astro
  apps/spec/src/layouts/SpecLayout.astro
  apps/spec/src/pages/404.astro
  apps/spec/src/pages/index.astro
  apps/spec/src/pages/v/[version].astro
  apps/spec/src/styles/global.css
Due: format

feat(spec): add SidebarNav component with grouped section links
  apps/spec/src/components/SidebarNav.astro
  apps/spec/src/pages/index.astro
  apps/spec/src/pages/v/[version].astro
  apps/spec/src/styles/global.css
Due: format

feat(spec): add HeroHeader, VersionDropdown, and VersionBanner components
  apps/spec/src/components/HeroHeader.astro
  apps/spec/src/components/VersionBanner.astro
  apps/spec/src/components/VersionDropdown.astro
  apps/spec/src/layouts/SpecLayout.astro
  apps/spec/src/pages/404.astro
  apps/spec/src/styles/global.css
Due: format

feat(spec): add SpecContent component wrapper for rendered markdown
  apps/spec/src/components/SpecContent.astro
Due: format

feat(spec): add ShareActions floating bar with copy-markdown and LLM links
  apps/spec/src/components/ShareActions.astro
  apps/spec/src/layouts/SpecLayout.astro
  apps/spec/src/pages/index.astro
  apps/spec/src/pages/v/[version].astro
Due: format

feat(spec): add MobileMenu with hamburger overlay for mobile viewports
  apps/spec/src/components/MobileMenu.astro
  apps/spec/src/components/VersionDropdown.astro
  apps/spec/src/layouts/SpecLayout.astro
  apps/spec/src/styles/global.css
Due: format

feat(spec): add OnThisPage component and two-level scroll spy (S-008)
  apps/spec/src/components/OnThisPage.astro
  apps/spec/src/components/SidebarNav.astro
  apps/spec/src/components/VersionDropdown.astro
  apps/spec/src/pages/index.astro
  apps/spec/src/pages/v/[version].astro
  apps/spec/src/styles/global.css
Due: format

feat(spec): accessibility and polish pass (S-011)
  apps/spec/src/components/OnThisPage.astro
  apps/spec/src/components/SidebarNav.astro
  apps/spec/src/components/SpecContent.astro
  apps/spec/src/pages/index.astro
  apps/spec/src/pages/v/[version].astro
  apps/spec/src/styles/global.css
Due: format

chore: add notation:dev and notation:build root scripts
  package.json
Due: format

docs: point all spec references to notation.randsum.dev
  CLAUDE.md
  CONTRIBUTING.md
  RANDSUM_DICE_NOTATION_SPEC.md
  README.md
  packages/games/CLAUDE.md
  packages/roller/CLAUDE.md
  packages/roller/RANDSUM_DICE_NOTATION.md
  packages/roller/README.md
Due: format

refactor(spec): move source of truth to apps/spec/src/content/specs/
  RANDSUM_DICE_NOTATION_SPEC.md
  apps/spec/package.json
  apps/spec/scripts/copy-latest-spec.sh
  package.json
Due: format

Path conditions:
  lint: any of: *.{ts,tsx,js,mjs}
  format: any of: *.{ts,tsx,js,json,md,astro,css}
