Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint --fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

fix(site): replace Shiki Code component with plain pre/code on landing page
  apps/site/src/pages/index.astro
Due: format

fix(ci): add Node 22 setup to publish-preflight job
  .github/workflows/ci.yml
Due: none

fix(ci): remove publish-preflight from CI — publishing is manual only
  .github/workflows/ci.yml
Due: none

chore: sync all versions to 1.1.2, simplify publish workflow
  .github/workflows/publish.yml
  apps/cli/package.json
  apps/discord-bot/package.json
  apps/playground/package.json
  apps/site/package.json
  packages/games/package.json
  packages/roller/package.json
Due: format

fix(site): restore syntax highlighting with Expressive Code, single-line heading
  apps/site/package.json
  apps/site/src/pages/index.astro
  bun.lock
Due: format

feat(site): replace custom Copy Markdown/Open in Chat with starlight-page-actions plugin
  apps/site/astro.config.mjs
  apps/site/package.json
  apps/site/public/llms.txt
  apps/site/src/components/PageTitle.astro
  apps/site/src/integrations/copy-markdown-to-dist.ts
  bun.lock
Due: lint, format

fix: update flatted override to 3.4.2 to resolve audit vulnerability
  bun.lock
  package.json
Due: format

docs: add ADR-013 for Biome migration evaluation
  docs/adr/ADR-013-biome-migration-evaluation.md
Due: format

feat(dice-ui): scaffold @randsum/dice-ui workspace package
  bun.lock
  packages/dice-ui/package.json
  packages/dice-ui/src/index.ts
  packages/dice-ui/src/tokens.css
  packages/dice-ui/tsconfig.json
Due: lint, format

fix(dice-ui): rename token namespace --pg-* to --dui-*
  packages/dice-ui/src/tokens.css
Due: format

feat(dice-ui): extract useTheme hook from NotationRoller
  bun.lock
  packages/dice-ui/package.json
  packages/dice-ui/src/index.ts
  packages/dice-ui/src/useTheme.ts
  packages/dice-ui/tsconfig.json
Due: lint, format

feat(dice-ui): add TokenOverlayInput and RollSteps components
  packages/dice-ui/src/RollSteps.css
  packages/dice-ui/src/RollSteps.tsx
  packages/dice-ui/src/TokenOverlayInput.css
  packages/dice-ui/src/TokenOverlayInput.tsx
  packages/dice-ui/src/index.ts
  packages/dice-ui/tsconfig.json
Due: lint, format

feat(playground): consume TokenOverlayInput and RollSteps from @randsum/dice-ui
  apps/playground/__tests__/RollResult.test.tsx
  apps/playground/astro.config.mjs
  apps/playground/package.json
  apps/playground/src/components/NotationInput.css
  apps/playground/src/components/NotationInput.tsx
  apps/playground/src/components/RollResult.css
  apps/playground/src/components/RollResult.tsx
  apps/playground/src/styles/tokens.css
  apps/playground/tsconfig.json
  apps/site/tsconfig.json
Due: lint, format

refactor(site): consume TokenOverlayInput and RollSteps from @randsum/dice-ui
  apps/site/astro.config.mjs
  apps/site/package.json
  apps/site/src/components/NotationRoller/NotationRoller.css
  apps/site/src/components/NotationRoller/NotationRoller.tsx
Due: lint, format

fix(site): update tooltip test assertions for dice-ui CSS class names
  apps/site/__tests__/NotationRoller.tooltip.test.tsx
Due: lint, format

feat(site, dice-ui): improve NotationRoller result overlay and token hover
  apps/site/__tests__/NotationRoller.tooltip.test.tsx
  apps/site/src/components/NotationRoller/NotationRoller.css
  apps/site/src/components/NotationRoller/NotationRoller.tsx
  packages/dice-ui/src/RollSteps.css
  packages/dice-ui/src/TokenOverlayInput.css
  packages/dice-ui/src/TokenOverlayInput.tsx
Due: lint, format

feat(roller, site, dice-ui): replacement pairs, count ordering, site enhancements
  apps/site/src/components/GameSchemaViewer.tsx
  apps/site/src/components/IntegrationViewer.tsx
  apps/site/src/components/NotationRoller/NotationRoller.tsx
  apps/site/src/pages/index.astro
  packages/dice-ui/src/RollSteps.css
  packages/dice-ui/src/RollSteps.tsx
  packages/roller/__tests__/roll/modifiers.interaction.test.ts
  packages/roller/__tests__/story5-7-colocation.test.ts
  packages/roller/src/lib/modifiers/priorities.ts
  packages/roller/src/modifiers/count.ts
  packages/roller/src/modifiers/definitions.ts
  packages/roller/src/modifiers/log.ts
  packages/roller/src/modifiers/registry.ts
  packages/roller/src/modifiers/replace.ts
  packages/roller/src/modifiers/reroll.ts
  packages/roller/src/modifiers/schema.ts
  packages/roller/src/modifiers/unique.ts
  packages/roller/src/trace/traceRoll.ts
  packages/roller/src/types/modifiers.ts
Due: lint, format

feat: numericFaces pipeline, geometric dice refactor, TUI removal, site polish
  apps/cli/CLAUDE.md
  apps/cli/__tests__/tui/gradientColor.test.ts
  apps/cli/__tests__/tui/modifierGrid.test.ts
  apps/cli/__tests__/tui/tokenize.test.ts
  apps/cli/__tests__/tui/useCursorPosition.test.ts
  apps/cli/package.json
  apps/cli/src/index.ts
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/HeroBanner.tsx
  apps/cli/src/tui/components/NotationDescriptionRow.tsx
  apps/cli/src/tui/components/NotationHighlight.tsx
  apps/cli/src/tui/components/NotationReference.tsx
  apps/cli/src/tui/components/RollResultPanel.tsx
  apps/cli/src/tui/components/Spinner.tsx
  apps/cli/src/tui/helpers/gradientColor.ts
  apps/cli/src/tui/helpers/modifierGrid.ts
  apps/cli/src/tui/helpers/openInStackblitz.ts
  apps/cli/src/tui/helpers/openUrl.ts
  apps/cli/src/tui/helpers/stackblitz.ts
  apps/cli/src/tui/helpers/tokenColors.ts
  apps/cli/src/tui/hooks/useCursorPosition.ts
  apps/cli/src/tui/hooks/useTerminalWidth.ts
  apps/cli/tsconfig.json
  apps/site/src/components/GameSchemaViewer.tsx
  apps/site/src/pages/index.astro
  bun.lock
  packages/roller/__tests__/roll/geometricDice.test.ts
  packages/roller/src/roll/parseArguments.ts
  packages/roller/src/roll/pipeline.ts
  packages/roller/src/types/results.ts
Due: lint, format

refactor(dice-ui): move NotationRoller into @randsum/dice-ui
  apps/site/__tests__/NotationRoller.tooltip.test.tsx
  apps/site/src/components/NotationRoller/NotationRoller.css
  apps/site/src/components/NotationRoller/NotationRoller.tsx
  packages/dice-ui/src/NotationRoller.css
  packages/dice-ui/src/NotationRoller.tsx
  packages/dice-ui/src/index.ts
Due: lint, format

fix(site): update home page pitch copy for roller and games sections
  apps/site/src/pages/index.astro
Due: format

fix(site): improve code block formatting on mobile
  apps/site/src/pages/index.astro
Due: format

docs(adr): ADR-014 modifier category taxonomy and pipeline model
  docs/adr/ADR-014-modifier-category-taxonomy.md
Due: format

docs(adr): update ADR-014 with verb-based categories decision
  docs/adr/ADR-014-modifier-category-taxonomy.md
Due: format

docs(notation): document execution pipeline, verb taxonomy, and two-channel architecture
  packages/roller/RANDSUM_DICE_NOTATION.md
Due: format

fix(roller): count mutatesRolls flag, explodeSequence rollOne, ms{N} category
  packages/roller/src/modifiers/count.ts
  packages/roller/src/modifiers/explodeSequence.ts
Due: lint, format

feat(roller): introduce ModifierCategory typed union
  packages/roller/src/docs/index.ts
  packages/roller/src/docs/modifierDocs.ts
  packages/roller/src/index.ts
  packages/roller/src/notation/tokenize.ts
Due: lint, format

feat(roller)!: migrate modifier categories to verb-based taxonomy
  apps/playground/__tests__/NotationInput.test.ts
  apps/playground/__tests__/ReferenceDetail.test.ts
  apps/playground/src/components/notationInputUtils.ts
  apps/site/__tests__/tokenize.test.ts
  packages/roller/CLAUDE.md
  packages/roller/RANDSUM_DICE_NOTATION.md
  packages/roller/__tests__/docs.test.ts
  packages/roller/__tests__/notation/integerDivideModulo.test.ts
  packages/roller/__tests__/notation/tokenize.test.ts
  packages/roller/__tests__/notation/wildDie.test.ts
  packages/roller/src/modifiers/cap.ts
  packages/roller/src/modifiers/compound.ts
  packages/roller/src/modifiers/count.ts
  packages/roller/src/modifiers/drop.ts
  packages/roller/src/modifiers/explode.ts
  packages/roller/src/modifiers/explodeSequence.ts
  packages/roller/src/modifiers/integerDivide.ts
  packages/roller/src/modifiers/keep.ts
  packages/roller/src/modifiers/minus.ts
  packages/roller/src/modifiers/modulo.ts
  packages/roller/src/modifiers/multiply.ts
  packages/roller/src/modifiers/multiplyTotal.ts
  packages/roller/src/modifiers/penetrate.ts
  packages/roller/src/modifiers/plus.ts
  packages/roller/src/modifiers/replace.ts
  packages/roller/src/modifiers/reroll.ts
  packages/roller/src/modifiers/unique.ts
  packages/roller/src/modifiers/wildDie.ts
  packages/roller/src/notation/tokenize.ts
Due: lint, format

refactor(roller): extract createScaleBehavior factory for arithmetic modifiers
  packages/roller/src/modifiers/integerDivide.ts
  packages/roller/src/modifiers/minus.ts
  packages/roller/src/modifiers/modulo.ts
  packages/roller/src/modifiers/multiply.ts
  packages/roller/src/modifiers/multiplyTotal.ts
  packages/roller/src/modifiers/plus.ts
  packages/roller/src/modifiers/shared/scale.ts
Due: lint, format

feat: add changesets for automated versioning and publishing
  .changeset/README.md
  .changeset/config.json
  .github/workflows/publish.yml
  bun.lock
  package.json
Due: format

chore: bump all package versions to 1.2.3
  apps/cli/package.json
  packages/dice-ui/package.json
  packages/games/package.json
  packages/roller/package.json
Due: format

chore: add changeset for 1.3.0 and remove component-library references
  .changeset/test-2-0-0-release.md
  .claude/skills/publish/SKILL.md
  scripts/publish.ts
Due: lint, format

ci: add publish dry-run step when changesets are detected
  .github/workflows/ci.yml
Due: none

fix(ci): add BUN_AUTH_TOKEN to publish dry-run step
  .github/workflows/ci.yml
Due: none

fix(ci): configure .npmrc auth for publish dry-run
  .github/workflows/ci.yml
Due: none

fix(games): return "No result" instead of throwing for unmatched table ranges
  packages/games/__tests__/lib/lookupByRange.test.ts
  packages/games/__tests__/salvageunion.property.test.ts
  packages/games/src/lib/lookupByRange.ts
Due: lint, format

chore: update docs, tagline, and remove stale notation extraction map
  .claude/notation-extraction-map.md
  CLAUDE.md
  README.md
  apps/cli/README.md
  apps/playground/CLAUDE.md
  apps/site/src/pages/index.astro
  bun.lock
  packages/roller/README.md
Due: format

fix(playground): add missing Vite aliases for roller subpath exports
  apps/playground/astro.config.mjs
  packages/dice-ui/src/NotationRoller.tsx
Due: lint, format

chore: add changeset for 1.3.0 release (#1018)
  .changeset/test-2-0-0-release.md
  .claude/notation-extraction-map.md
  .claude/skills/publish/SKILL.md
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  apps/cli/README.md
  apps/playground/CLAUDE.md
  apps/playground/astro.config.mjs
  apps/site/src/pages/index.astro
  bun.lock
  packages/dice-ui/src/NotationRoller.tsx
  packages/games/__tests__/lib/lookupByRange.test.ts
  packages/games/__tests__/salvageunion.property.test.ts
  packages/games/src/lib/lookupByRange.ts
  packages/roller/README.md
  scripts/publish.ts
Due: lint, format

chore(ci): switch npm publishing to OIDC Trusted Publishers
  .github/workflows/publish.yml
  scripts/publish.ts
Due: lint, format

Path conditions:
  lint: any of: *.{ts,tsx,js,mjs}
  format: any of: *.{ts,tsx,js,json,md,astro,css}
