Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint --fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

feat(site): add gradient RANDSUM title to header nav
  apps/site/astro.config.mjs
  apps/site/src/components/SiteTitle.astro
Due: lint, format

fix(site): tighten install command spacing
  apps/site/src/pages/index.astro
Due: format

feat(site): redesign hero copy with clickable tagline and curated messaging
  apps/site/src/components/HeroInteractive.tsx
  apps/site/src/pages/index.astro
Due: lint, format

feat(site): two-column hero with playground above the fold
  apps/site/src/components/FeatureBand.astro
  apps/site/src/pages/index.astro
Due: format

feat(site): polish landing page and unify design system
  apps/playground/src/styles/tokens.css
  apps/site/astro.config.mjs
  apps/site/src/components/FeatureBand.astro
  apps/site/src/components/HeroInteractive.tsx
  apps/site/src/content/docs/games/blades.mdx
  apps/site/src/content/docs/games/daggerheart.mdx
  apps/site/src/content/docs/games/fifth.mdx
  apps/site/src/content/docs/games/pbta.mdx
  apps/site/src/content/docs/games/root-rpg.mdx
  apps/site/src/content/docs/games/salvageunion.mdx
  apps/site/src/pages/index.astro
  apps/site/src/styles/custom.css
  apps/site/src/utils/packageData.ts
  packages/component-library/src/components/ModifierReference/ModifierDocContent.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
Due: lint, format

fix(component-library): swap remaining blue-tinted grays to neutral zinc
  packages/component-library/src/components/ModifierReference/ModifierDocContent.css
  packages/component-library/src/components/ModifierReference/ModifierReference.css
  packages/component-library/src/components/Overlay/Overlay.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
Due: format

fix(component-library): constrain input overflow in RollerPlayground
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
Due: format

feat(component-library): convert RollerPlayground input to textarea
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
Due: lint, format

fix(component-library): pin buttons top-right, let textarea wrap below
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
Due: format

docs: add NotationRoller refactor design spec
  docs/superpowers/specs/2026-03-18-notation-roller-design.md
Due: format

feat(playground): add ?notation= query param that seeds input without session creation
  apps/playground/__tests__/PlaygroundApp.test.tsx
  apps/playground/src/components/PlaygroundApp.tsx
Due: lint, format

feat(component-library): add NotationRoller component, simplified from RollerPlayground
  packages/component-library/__tests__/dist.smoke.test.ts
  packages/component-library/src/components/NotationRoller/NotationRoller.css
  packages/component-library/src/components/NotationRoller/NotationRoller.stories.tsx
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
  packages/component-library/src/components/NotationRoller/index.ts
  packages/component-library/src/index.ts
Due: lint, format

feat(site): rename RollerPlayground to NotationRoller in all consumers
  apps/site/src/components/HeroInteractive.tsx
  apps/site/src/content/docs/notation/randsum-dice-notation.mdx
  apps/site/src/content/docs/roller/error-handling.mdx
  apps/site/src/content/docs/roller/getting-started.mdx
  apps/site/src/content/docs/roller/introduction.mdx
  apps/site/src/content/docs/roller/modifiers.mdx
  apps/site/src/content/docs/roller/roll-options.mdx
  apps/site/src/content/docs/tools/component-library.mdx
  apps/site/src/content/docs/welcome/introduction.mdx
  apps/site/src/styles/custom.css
Due: lint, format

feat(component-library): wire floating tooltip result display in NotationRoller
  packages/component-library/__tests__/NotationRoller.tooltip.test.tsx
  packages/component-library/src/components/NotationRoller/NotationRoller.css
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
Due: lint, format

feat(component-library): add "See in Playground" button to NotationRoller
  packages/component-library/src/components/NotationRoller/NotationRoller.css
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
Due: lint, format

refactor(component-library): remove RollerPlayground, ModifierReference, Overlay from barrel
  packages/component-library/__tests__/dist.smoke.test.ts
  packages/component-library/src/components/ModifierReference/ModifierDocContent.css
  packages/component-library/src/components/ModifierReference/ModifierDocContent.tsx
  packages/component-library/src/components/ModifierReference/ModifierReference.css
  packages/component-library/src/components/ModifierReference/ModifierReference.stories.tsx
  packages/component-library/src/components/ModifierReference/ModifierReference.tsx
  packages/component-library/src/components/ModifierReference/index.ts
  packages/component-library/src/components/Overlay/Overlay.css
  packages/component-library/src/components/Overlay/Overlay.tsx
  packages/component-library/src/components/Overlay/index.ts
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.stories.tsx
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
  packages/component-library/src/components/RollerPlayground/index.ts
  packages/component-library/src/index.ts
Due: lint, format

fix(component-library): mark RollResult as @internal export
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
Due: lint, format

fix(component-library): position result tooltip over entire shell, fix text alignment
  packages/component-library/src/components/NotationRoller/NotationRoller.css
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
Due: lint, format

fix(component-library): render result tooltip above NotationRoller at higher z-level
  packages/component-library/src/components/NotationRoller/NotationRoller.css
Due: format

fix(component-library): render result as modal overlay on top of NotationRoller
  packages/component-library/src/components/NotationRoller/NotationRoller.css
Due: format

fix(roller): reject NaN values in comparison notation patterns
  packages/roller/__tests__/notation/comparison.test.ts
  packages/roller/src/modifiers/count.ts
  packages/roller/src/notation/comparison/index.ts
  packages/roller/src/notation/definitions/count.ts
Due: lint, format

feat(component-library): redesign result overlay with total/steps split layout
  packages/component-library/src/components/NotationRoller/NotationRoller.css
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
Due: lint, format

feat(component-library): two-column result overlay with close button
  packages/component-library/src/components/NotationRoller/NotationRoller.css
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
Due: lint, format

feat(site): style tagline with per-word colors
  apps/site/src/components/HeroInteractive.tsx
  apps/site/src/pages/index.astro
Due: lint, format

fix(component-library): make entire right column scrollable, X absolutely positioned
  packages/component-library/src/components/NotationRoller/NotationRoller.css
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
Due: lint, format

feat(component-library): refine result overlay layout
  packages/component-library/src/components/NotationRoller/NotationRoller.css
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
Due: lint, format

feat(component-library): add total row to result steps with separator
  packages/component-library/src/components/NotationRoller/NotationRoller.css
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
Due: lint, format

fix(component-library): pin total pane to top-left, don't stretch with expansion
  packages/component-library/src/components/NotationRoller/NotationRoller.css
Due: format

feat(site): capitalize tagline, left-align hero text, add result overlay border
  apps/site/src/pages/index.astro
  packages/component-library/src/components/NotationRoller/NotationRoller.css
Due: format

feat(site): increase tagline size, reduce subtitle, tighten hero layout
  apps/site/src/pages/index.astro
Due: format

feat(component-library): result section grows the shell instead of overlaying
  packages/component-library/src/components/NotationRoller/NotationRoller.css
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
Due: lint, format

feat(component-library): hybrid result overlay with blur within shell
  packages/component-library/src/components/NotationRoller/NotationRoller.css
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
Due: lint, format

feat(component-library): full overlay result with blur, X dismiss, shell growth
  packages/component-library/src/components/NotationRoller/NotationRoller.css
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
Due: lint, format

fix(component-library): add !important to result overlay layout rules
  packages/component-library/src/components/NotationRoller/NotationRoller.css
Due: format

fix(component-library): move tooltip base styles out of light-mode media query
  packages/component-library/src/components/NotationRoller/NotationRoller.css
Due: format

fix(component-library): remove spacer, overlay scrolls internally instead of stretching shell
  packages/component-library/src/components/NotationRoller/NotationRoller.css
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
Due: lint, format

fix(component-library): result overlay grows up to 1.5x shell height, then scrolls
  packages/component-library/src/components/NotationRoller/NotationRoller.css
Due: format

fix(component-library): remove overlay border, fix scroll with align-items stretch
  packages/component-library/src/components/NotationRoller/NotationRoller.css
Due: format

feat(site): remove game mechanics sections, add LinkCard to official sites
  apps/site/src/content/docs/games/blades.mdx
  apps/site/src/content/docs/games/daggerheart.mdx
  apps/site/src/content/docs/games/fifth.mdx
  apps/site/src/content/docs/games/pbta.mdx
  apps/site/src/content/docs/games/root-rpg.mdx
  apps/site/src/content/docs/games/salvageunion.mdx
Due: none

feat(component-library): floating result dialog at 2/3 width with backdrop blur
  packages/component-library/src/components/NotationRoller/NotationRoller.css
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
Due: lint, format

Path conditions:
  lint: any of: *.{ts,tsx,js,mjs}
  format: any of: *.{ts,tsx,js,json,md,astro,css}
