Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint --fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

fix(ci): remove ajv override that breaks ESLint 10 under Node.js
  bun.lock
  package.json
Due: format

feat(cli): scaffold @randsum/cli package with dependencies
  CLAUDE.md
  apps/cli/package.json
  apps/cli/src/index.ts
  bun.lock
Due: lint, format

feat(cli): implement simple mode with arg parsing and roll execution
  apps/cli/src/index.ts
  apps/cli/src/simple/run.ts
  apps/cli/src/tui/App.tsx
Due: lint, format

fix(cli): improve type safety and handle missing --seed value
  apps/cli/src/index.ts
  apps/cli/src/simple/run.ts
Due: lint, format

feat(cli): add TUI shell with RollHistory component
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/RollHistory.tsx
Due: lint, format

feat(cli): add NotationInput component with text input
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/NotationInput.tsx
Due: lint, format

feat(cli): add DiceToolbar with focus management and keyboard navigation
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/DiceToolbar.tsx
  apps/cli/src/tui/components/NotationInput.tsx
Due: lint, format

fix(build): remove sideEffects: false to fix empty bundle output
  packages/mcp/package.json
Due: format

chore: remove @randsum/mcp package and all references
  CLAUDE.md
  apps/cli/LICENSE
  packages/mcp/package.json
Due: format

feat(cli): add responsive layout for small terminals
  apps/cli/src/tui/App.tsx
Due: lint, format

chore: add CLAUDE.md docs for all packages and update CLI components
  CLAUDE/scripts.md
  apps/cli/LICENSE
  apps/cli/package.json
  apps/cli/src/tui/components/DiceToolbar.tsx
  apps/cli/src/tui/components/NotationReference.tsx
Due: lint, format

feat(cli): add NotationReference, incrementDiceQuantity, and useValidation
  apps/cli/src/tui/components/NotationReference.tsx
Due: lint, format

feat(cli): add two-column layout, live validation, and smart dice buttons
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/NotationInput.tsx
  apps/cli/src/tui/components/RollHistory.tsx
Due: lint, format

fix(ci): resolve ESLint 10 ResolveMessage error and align CI with lefthook
  CLAUDE/scripts.md
  apps/cli/package.json
  package.json
Due: format

chore(deps): upgrade all dependencies to latest versions
  bun.lock
  package.json
Due: format

fix(security): resolve high-severity audit vulnerabilities via overrides
  bun.lock
  package.json
Due: format

WIP
  .claude/agents/code-reviewer.md
  .claude/skills/create-game/SKILL.md
  .claude/skills/publish/SKILL.md
Due: format

fix(ci): grant write permissions to Claude Code workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

chore: add CLAUDE.md docs, Claude Code skills, and dependency updates (#920)
  .claude/agents/code-reviewer.md
  .claude/skills/create-game/SKILL.md
  .claude/skills/publish/SKILL.md
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: format

chore(ci): centralize Bun version in .bun-version file
  .bun-version
  .github/workflows/main.yml
  .github/workflows/publish.yml
Due: none

feat(roller): add optional computeDetails to createGameRoll factory
  packages/roller/__tests__/lib/gameRoll.test.ts
  packages/roller/src/lib/gameRoll.ts
Due: lint, format

refactor(pbta): migrate to createGameRoll factory
  packages/pbta/src/roll/index.ts
Due: lint, format

feat(daggerheart): add input validation for modifier and rollingWith
  packages/daggerheart/__tests__/roll.test.ts
  packages/daggerheart/src/roll/index.ts
Due: lint, format

refactor(root-rpg): remove redundant RootRpgRollResult wrapper type
  apps/site/src/utils/packageData.ts
  packages/root-rpg/src/index.ts
  packages/root-rpg/src/roll/index.ts
  packages/root-rpg/src/types.ts
Due: lint, format

docs: fix stale CLAUDE.md references in game packages
  packages/daggerheart/CLAUDE.md
  packages/fifth/CLAUDE.md
  packages/root-rpg/CLAUDE.md
Due: format

fix(ci): deduplicate test matrix - macOS runs tests only
  .github/workflows/main.yml
Due: none

chore: bump versions for roller, root-rpg, daggerheart, pbta
  packages/daggerheart/package.json
  packages/pbta/package.json
  packages/roller/package.json
  packages/root-rpg/package.json
Due: format

chore: add TypeScript project references from game packages to roller
  packages/blades/tsconfig.json
  packages/daggerheart/tsconfig.json
  packages/fifth/tsconfig.json
  packages/pbta/tsconfig.json
  packages/roller/tsconfig.json
  packages/root-rpg/tsconfig.json
  packages/salvageunion/tsconfig.json
Due: format

feat(dx): add watch mode dev scripts to all packages
  package.json
  packages/blades/package.json
  packages/daggerheart/package.json
  packages/fifth/package.json
  packages/pbta/package.json
  packages/roller/package.json
  packages/root-rpg/package.json
  packages/salvageunion/package.json
Due: format

chore: add .worktrees to gitignore
  .gitignore
Due: none

feat(site): install Starlight and configure foundation
  .gitignore
  apps/site/astro.config.mjs
  apps/site/package.json
  apps/site/src/assets/randsum-logo.png
  apps/site/src/content.config.ts
  apps/site/src/content/docs/games/blades.mdx
  apps/site/src/content/docs/games/daggerheart.mdx
  apps/site/src/content/docs/games/fifth.mdx
  apps/site/src/content/docs/games/overview.mdx
  apps/site/src/content/docs/games/pbta.mdx
  apps/site/src/content/docs/games/root-rpg.mdx
  apps/site/src/content/docs/games/salvageunion.mdx
  apps/site/src/content/docs/getting-started/installation.mdx
  apps/site/src/content/docs/getting-started/introduction.mdx
  apps/site/src/content/docs/getting-started/quick-start.mdx
  apps/site/src/content/docs/index.mdx
  apps/site/src/content/docs/interactive/playground.mdx
  apps/site/src/content/docs/packages/overview.mdx
  apps/site/src/content/docs/packages/roller.mdx
  apps/site/src/content/docs/reference/dice-notation.mdx
  apps/site/src/content/docs/reference/modifiers.mdx
  apps/site/src/content/docs/reference/roll-options.mdx
  apps/site/src/content/docs/tools/discord-bot.mdx
  apps/site/src/pages/404.astro
  apps/site/src/styles/custom.css
  bun.lock
Due: lint, format

feat(site): add dark-first Zed/Shadcn theme
  apps/site/src/layouts/BaseLayout.astro
  apps/site/src/styles/custom.css
  apps/site/src/styles/global.css
  apps/site/src/styles/kirby.css
  apps/site/src/styles/theme.css
Due: format

feat(site): migrate all content pages to MDX
  apps/site/src/content/docs/games/blades.mdx
  apps/site/src/content/docs/games/daggerheart.mdx
  apps/site/src/content/docs/games/fifth.mdx
  apps/site/src/content/docs/games/overview.mdx
  apps/site/src/content/docs/games/pbta.mdx
  apps/site/src/content/docs/games/root-rpg.mdx
  apps/site/src/content/docs/games/salvageunion.mdx
  apps/site/src/content/docs/getting-started/installation.mdx
  apps/site/src/content/docs/getting-started/introduction.mdx
  apps/site/src/content/docs/getting-started/quick-start.mdx
  apps/site/src/content/docs/interactive/playground.mdx
  apps/site/src/content/docs/packages/overview.mdx
  apps/site/src/content/docs/packages/roller.mdx
  apps/site/src/content/docs/reference/dice-notation.mdx
  apps/site/src/content/docs/reference/modifiers.mdx
  apps/site/src/content/docs/reference/roll-options.mdx
  apps/site/src/content/docs/tools/discord-bot.mdx
Due: none

feat(site): add interactive dice playground
  apps/site/src/components/playground/DicePlayground.tsx
  apps/site/src/components/playground/DiceToolbar.tsx
  apps/site/src/components/playground/GameModePanel.tsx
  apps/site/src/components/playground/NotationInput.tsx
  apps/site/src/components/playground/NotationReference.tsx
  apps/site/src/components/playground/RollHistory.tsx
  apps/site/src/components/playground/gameConfigs.ts
  apps/site/src/components/playground/helpers/formatResult.ts
  apps/site/src/components/playground/helpers/incrementDiceQuantity.ts
  apps/site/src/components/playground/hooks/useRollHistory.ts
  apps/site/src/components/playground/hooks/useValidation.ts
  apps/site/src/components/playground/playground.css
  apps/site/src/content/docs/interactive/playground.mdx
Due: lint, format

feat(site): add game comparison page
  apps/site/astro.config.mjs
  apps/site/src/components/GameComparison.tsx
  apps/site/src/content/docs/games/comparison.mdx
Due: lint, format

feat(site): add custom landing page with StarlightPage wrapper
  apps/site/src/pages/index.astro
Due: format

chore(site): remove old pages, layouts, components; add redirects
  apps/site/netlify.toml
  apps/site/src/components/Breadcrumbs.astro
  apps/site/src/components/CodeExample.astro
  apps/site/src/components/Navigation.astro
  apps/site/src/components/NpmVersion.astro
  apps/site/src/components/PackageCard.astro
  apps/site/src/layouts/BaseLayout.astro
  apps/site/src/layouts/DocsLayout.astro
  apps/site/src/pages/games/blades.astro
  apps/site/src/pages/games/daggerheart.astro
  apps/site/src/pages/games/fifth.astro
  apps/site/src/pages/games/index.astro
  apps/site/src/pages/games/pbta.astro
  apps/site/src/pages/games/root-rpg.astro
  apps/site/src/pages/games/salvageunion.astro
  apps/site/src/pages/getting-started/game-packages.astro
  apps/site/src/pages/getting-started/index.astro
  apps/site/src/pages/getting-started/notation.astro
  apps/site/src/pages/packages/blades.astro
  apps/site/src/pages/packages/daggerheart.astro
  apps/site/src/pages/packages/discord-bot.astro
  apps/site/src/pages/packages/fifth.astro
  apps/site/src/pages/packages/pbta.astro
  apps/site/src/pages/packages/roller.astro
  apps/site/src/pages/packages/root-rpg.astro
  apps/site/src/pages/packages/salvageunion.astro
  apps/site/src/pages/tools/index.astro
  apps/site/src/pages/tools/skill.astro
Due: format

chore(site): use netlify dev for local development
  apps/site/netlify.toml
  apps/site/package.json
Due: format

Path conditions:
  lint: any of: *.{ts,tsx,js,mjs}
  format: any of: *.{ts,tsx,js,json,md,astro,css}
