Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint --fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

feat(discord-bot): migrate /roll to Components V2 (#1242)
  apps/discord-bot/__tests__/commands/index.test.ts
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/__tests__/integration/roll.integration.test.ts
  apps/discord-bot/__tests__/lib/view.ts
  apps/discord-bot/__tests__/worker/dispatch.test.ts
  apps/discord-bot/src/commands/dh.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/lib/view.ts
  apps/discord-bot/src/commands/pbta.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/worker/dispatch.ts
Due: lint, format

feat(discord-bot): migrate the six game commands to Components V2
  apps/discord-bot/__tests__/commands/blades.test.ts
  apps/discord-bot/__tests__/commands/dh.test.ts
  apps/discord-bot/__tests__/commands/fate.test.ts
  apps/discord-bot/__tests__/commands/fifth.test.ts
  apps/discord-bot/__tests__/commands/pbta.test.ts
  apps/discord-bot/__tests__/commands/root.test.ts
  apps/discord-bot/src/commands/blades.ts
  apps/discord-bot/src/commands/dh.ts
  apps/discord-bot/src/commands/fate.ts
  apps/discord-bot/src/commands/fifth.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/pbta.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/commands/root.ts
  apps/discord-bot/src/utils/builders.ts
  apps/discord-bot/src/utils/palette.ts
  apps/discord-bot/src/worker/dispatch.ts
Due: lint, format

feat(discord-bot): migrate the six game commands to Components V2 (#1243)
  apps/discord-bot/__tests__/commands/blades.test.ts
  apps/discord-bot/__tests__/commands/dh.test.ts
  apps/discord-bot/__tests__/commands/fate.test.ts
  apps/discord-bot/__tests__/commands/fifth.test.ts
  apps/discord-bot/__tests__/commands/pbta.test.ts
  apps/discord-bot/__tests__/commands/root.test.ts
  apps/discord-bot/src/commands/blades.ts
  apps/discord-bot/src/commands/dh.ts
  apps/discord-bot/src/commands/fate.ts
  apps/discord-bot/src/commands/fifth.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/pbta.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/commands/root.ts
  apps/discord-bot/src/utils/builders.ts
  apps/discord-bot/src/utils/palette.ts
  apps/discord-bot/src/worker/dispatch.ts
Due: lint, format

feat(discord-bot): migrate /notation, /help and /salvageunion to Components V2
  apps/discord-bot/__tests__/commands/help.test.ts
  apps/discord-bot/__tests__/commands/notation.test.ts
  apps/discord-bot/__tests__/commands/salvageunion.test.ts
  apps/discord-bot/__tests__/worker/dispatch.test.ts
  apps/discord-bot/src/commands/help.ts
  apps/discord-bot/src/commands/lib/notationView.ts
  apps/discord-bot/src/commands/notation.ts
  apps/discord-bot/src/commands/salvageunion.ts
  apps/discord-bot/src/utils/constants.ts
  apps/discord-bot/src/worker/dispatch.ts
Due: lint, format

feat(discord-bot): migrate /notation, /help and /salvageunion to Components V2 (#1244)
  apps/discord-bot/__tests__/commands/help.test.ts
  apps/discord-bot/__tests__/commands/notation.test.ts
  apps/discord-bot/__tests__/commands/salvageunion.test.ts
  apps/discord-bot/__tests__/worker/dispatch.test.ts
  apps/discord-bot/src/commands/help.ts
  apps/discord-bot/src/commands/lib/notationView.ts
  apps/discord-bot/src/commands/notation.ts
  apps/discord-bot/src/commands/salvageunion.ts
  apps/discord-bot/src/utils/constants.ts
  apps/discord-bot/src/worker/dispatch.ts
Due: lint, format

refactor(discord-bot): delete the embed path
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/__tests__/commands/index.test.ts
  apps/discord-bot/__tests__/worker/dispatch.test.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/types.ts
  apps/discord-bot/src/utils/builders.ts
  apps/discord-bot/src/utils/palette.ts
  apps/discord-bot/src/worker/dispatch.ts
Due: lint, format

refactor(discord-bot): delete the embed path (#1245)
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/__tests__/commands/index.test.ts
  apps/discord-bot/__tests__/worker/dispatch.test.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/types.ts
  apps/discord-bot/src/utils/builders.ts
  apps/discord-bot/src/utils/palette.ts
  apps/discord-bot/src/worker/dispatch.ts
Due: lint, format

feat(discord-bot): wire up the reroll buttons
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/__tests__/commands/lib/reroll.test.ts
  apps/discord-bot/__tests__/commands/lib/view.test.ts
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/__tests__/worker/dispatch.test.ts
  apps/discord-bot/src/commands/blades.ts
  apps/discord-bot/src/commands/dh.ts
  apps/discord-bot/src/commands/fate.ts
  apps/discord-bot/src/commands/fifth.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/lib/reroll.ts
  apps/discord-bot/src/commands/lib/view.ts
  apps/discord-bot/src/commands/pbta.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/commands/root.ts
  apps/discord-bot/src/worker/dispatch.ts
Due: lint, format

feat(discord-bot): wire up the reroll buttons (#1246)
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/__tests__/commands/lib/reroll.test.ts
  apps/discord-bot/__tests__/commands/lib/view.test.ts
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/__tests__/worker/dispatch.test.ts
  apps/discord-bot/src/commands/blades.ts
  apps/discord-bot/src/commands/dh.ts
  apps/discord-bot/src/commands/fate.ts
  apps/discord-bot/src/commands/fifth.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/lib/reroll.ts
  apps/discord-bot/src/commands/lib/view.ts
  apps/discord-bot/src/commands/pbta.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/commands/root.ts
  apps/discord-bot/src/worker/dispatch.ts
Due: lint, format

fix(discord-bot): restore /roll's "Did you mean" suggestion, once
  apps/discord-bot/__tests__/worker/dispatch.test.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/types.ts
  apps/discord-bot/src/worker/dispatch.ts
Due: lint, format

fix(discord-bot): restore /roll's "Did you mean" suggestion, once (#1247)
  apps/discord-bot/__tests__/worker/dispatch.test.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/types.ts
  apps/discord-bot/src/worker/dispatch.ts
Due: lint, format

fix(discord-bot): hold the message character cap, and stop a 500 on long input
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/__tests__/worker/dispatch.test.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/lib/view.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/worker/dispatch.ts
  apps/discord-bot/src/worker/index.ts
Due: lint, format

fix(discord-bot): hold the message character cap, and stop a 500 on long input (#1250)
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/__tests__/worker/dispatch.test.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/lib/view.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/worker/dispatch.ts
  apps/discord-bot/src/worker/index.ts
Due: lint, format

build: pin node 24 so arch:check can run
  mise.toml
Due: none

build: pin node 24 so arch:check can run (#1251)
  mise.toml
Due: none

chore: retire @randsum/cli
  .changeset/config.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  apps/DEPLOY.md
  apps/cli/CHANGELOG.md
  apps/cli/CLAUDE.md
  apps/cli/LICENSE
  apps/cli/README.md
  apps/cli/__tests__/dist.smoke.test.ts
  apps/cli/__tests__/e2e.test.ts
  apps/cli/__tests__/format.test.ts
  apps/cli/__tests__/index.test.ts
  apps/cli/__tests__/run.test.ts
  apps/cli/bunup.config.ts
  apps/cli/package.json
  apps/cli/src/format.ts
  apps/cli/src/index.ts
  apps/cli/src/run.ts
  apps/cli/tsconfig.json
  apps/site/astro.config.mjs
  apps/site/public/llms.txt
  apps/site/public/skills/dice-rolling/SKILL.md
  apps/site/src/components/IntegrationViewer.tsx
  apps/site/src/components/landing/IntegrationsSection.astro
  apps/site/src/components/landing/cardHelpers.ts
  apps/site/src/content/docs/tools/cli.mdx
  apps/site/src/utils/packageData.ts
  biome.json
  bun.lock
  llms.txt
  osv-scanner.toml
  package.json
  packages/mcp/bunup.config.ts
  scripts/publish.ts
  skills/dice-rolling/SKILL.md
  tsconfig.json
Due: lint, format

chore: retire @randsum/cli (#1249)
  .changeset/config.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  apps/DEPLOY.md
  apps/cli/CHANGELOG.md
  apps/cli/CLAUDE.md
  apps/cli/LICENSE
  apps/cli/README.md
  apps/cli/__tests__/dist.smoke.test.ts
  apps/cli/__tests__/e2e.test.ts
  apps/cli/__tests__/format.test.ts
  apps/cli/__tests__/index.test.ts
  apps/cli/__tests__/run.test.ts
  apps/cli/bunup.config.ts
  apps/cli/package.json
  apps/cli/src/format.ts
  apps/cli/src/index.ts
  apps/cli/src/run.ts
  apps/cli/tsconfig.json
  apps/site/astro.config.mjs
  apps/site/public/llms.txt
  apps/site/public/skills/dice-rolling/SKILL.md
  apps/site/src/components/IntegrationViewer.tsx
  apps/site/src/components/landing/IntegrationsSection.astro
  apps/site/src/components/landing/cardHelpers.ts
  apps/site/src/content/docs/tools/cli.mdx
  apps/site/src/utils/packageData.ts
  biome.json
  bun.lock
  llms.txt
  osv-scanner.toml
  package.json
  packages/mcp/bunup.config.ts
  scripts/publish.ts
  skills/dice-rolling/SKILL.md
  tsconfig.json
Due: lint, format

feat(discord-bot): put the total in the Daggerheart headline
  apps/discord-bot/__tests__/commands/dh.test.ts
  apps/discord-bot/src/commands/dh.ts
Due: lint, format

fix(discord-bot): a Daggerheart critical never shows a DC comparison
  apps/discord-bot/__tests__/commands/dh.test.ts
  apps/discord-bot/src/commands/dh.ts
Due: lint, format

chore(deps): force fast-uri >=3.1.7 and qs >=6.16.0 via overrides
  bun.lock
  package.json
Due: format

feat(discord-bot): put the total in the Daggerheart headline (#1252)
  apps/discord-bot/__tests__/commands/dh.test.ts
  apps/discord-bot/src/commands/dh.ts
  bun.lock
  package.json
Due: lint, format

feat(discord-bot): drop "Rolled" from the Daggerheart headline
  apps/discord-bot/__tests__/commands/dh.test.ts
  apps/discord-bot/src/commands/dh.ts
Due: lint, format

docs(discord-bot): align the dh docblock with the verb-less headline
  apps/discord-bot/__tests__/commands/dh.test.ts
  apps/discord-bot/src/commands/dh.ts
Due: lint, format

feat(discord-bot): drop "Rolled" from the Daggerheart headline (#1253)
  apps/discord-bot/__tests__/commands/dh.test.ts
  apps/discord-bot/src/commands/dh.ts
Due: lint, format

fix(ci): gate PRs on the dependencies they change, and clear the tree's advisories
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  apps/rdn/package.json
  apps/site/package.json
  bun.lock
  lefthook.yml
  osv-scanner.toml
  package.json
  scripts/check-ci-aggregator.ts
Due: lint, format

fix(ci): block devDependency advisories in dependency-review too
  .github/workflows/ci.yml
Due: none

fix(ci): gate PRs on the dependencies they change, and clear the tree's advisories (#1266)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  apps/rdn/package.json
  apps/site/package.json
  bun.lock
  lefthook.yml
  osv-scanner.toml
  package.json
  scripts/check-ci-aggregator.ts
Due: lint, format

ci: call the shared Dependabot auto-merge workflow, and drop Renovate
  .github/workflows/auto-merge.yml
  .github/zizmor.yml
  renovate.json
Due: format

ci: call the shared Dependabot auto-merge workflow, and drop Renovate (#1267)
  .github/workflows/auto-merge.yml
  .github/zizmor.yml
  renovate.json
Due: format

ci: let Dependabot update bun.lock with its bun ecosystem
  .github/dependabot.yml
Due: none

ci: let Dependabot update bun.lock with its bun ecosystem (#1268)
  .github/dependabot.yml
Due: none

chore(claude): a web session starts with the pinned Bun and its dependencies
  .claude/hooks/session-start.sh
  .claude/settings.json
Due: format

chore(claude): a web session starts with the pinned Bun and its dependencies (#1276)
  .claude/hooks/session-start.sh
  .claude/settings.json
Due: format

Path conditions:
  lint: any of: *.{ts,tsx,js,mjs}
  format: any of: *.{ts,tsx,js,json,md,astro,css}
