Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,mjs}"
      run: bun run lint --fix
      stage_fixed: true
    format:
      glob: "*.{ts,tsx,js,json,md,astro,css}"
      run: bun run format
      stage_fixed: true
    typecheck:
      run: bun run typecheck

pre-push:
  commands:
    test:
      run: bun test
    exports:
      run: bun run check:exports
    security:
      run: bun audit --audit-level high

feat(expo): unified roll screen, dice icons, history modal, UX improvements
  apps/expo/app/(tabs)/_layout.tsx
  apps/expo/app/(tabs)/history.tsx
  apps/expo/app/(tabs)/index.tsx
  apps/expo/app/result.tsx
  apps/expo/components/ActionRow.tsx
  apps/expo/components/DiceGrid.tsx
  apps/expo/components/DieButton.tsx
  apps/expo/components/HistoryEntry.tsx
  apps/expo/components/RollResultView.tsx
  apps/expo/lib/stores/contentTabStore.ts
  apps/expo/lib/stores/rollResultStore.ts
  apps/expo/types/dice-ui.d.ts
  packages/dice-ui/src/NotationRoller.native.tsx
  packages/dice-ui/src/TokenOverlayInput.native.tsx
Due: lint, format

docs: add design spec for multi-pool notation extension
  docs/superpowers/specs/2026-03-23-multi-pool-notation-design.md
Due: format

feat(roller): support quantity prefix on d% notation (Nd%)
  packages/roller/__tests__/roll/percentile-quantity.test.ts
  packages/roller/src/notation/isDiceNotation.ts
  packages/roller/src/notation/tokenize.ts
  packages/roller/src/roll/parseArguments.ts
Due: lint, format

feat(roller): support d%, gN, DDN in multi-pool notation strings
  packages/roller/__tests__/roll/multiPoolSpecial.test.ts
  packages/roller/src/notation/isDiceNotation.ts
  packages/roller/src/notation/parse/notationToOptions.ts
  packages/roller/src/notation/parse/parseSpecialPool.ts
Due: lint, format

feat(roller): mixed multi-pool, comprehensive tests, template literal spec
  docs/superpowers/specs/2026-03-23-typed-notation-template-literals-design.md
  packages/roller/__tests__/notation/isDiceNotation.comprehensive.test.ts
  packages/roller/__tests__/roll/multiPoolMixed.test.ts
  packages/roller/__tests__/roll/multiPoolSpecial.test.ts
  packages/roller/__tests__/roll/parseArguments.test.ts
  packages/roller/src/notation/isDiceNotation.ts
  packages/roller/src/notation/parse/notationToOptions.ts
  packages/roller/src/notation/parse/parseSpecialPool.ts
  packages/roller/src/roll/index.ts
  packages/roller/src/roll/parseArguments.ts
Due: lint, format

docs: implementation plan for notation bug fix + template literal types
  docs/superpowers/plans/2026-03-23-notation-bugfix-and-template-literals.md
Due: format

fix(roller): restore case-insensitive flag in buildNotationPattern (!P, KL)
  packages/roller/__tests__/notation/isDiceNotation.comprehensive.test.ts
  packages/roller/__tests__/roll/modifiers.extended.test.ts
  packages/roller/src/notation/isDiceNotation.ts
  packages/roller/src/notation/parse/parseModifiers.ts
Due: lint, format

feat(roller): define modifier template literal types for notation validation
  packages/roller/src/notation/parse/parseSpecialPool.ts
  packages/roller/src/notation/templateLiterals.ts
  packages/roller/src/roll/parseArguments.ts
Due: lint, format

feat(roller): strict DiceNotation template literal type
  packages/roller/src/notation/templateLiterals.ts
  packages/roller/src/notation/types.ts
  packages/roller/src/types/core.ts
Due: lint, format

test(roller): add type-level tests for strict DiceNotation
  packages/roller/__tests__/notation/diceNotation.types.test.ts
Due: lint, format

test(roller): type-level tests for DiceNotation template literal validation
  packages/roller/__tests__/types/notation.test-d.ts
Due: lint, format

chore(roller): bump tokenize bundle size limit to 6.5KB (multi-pool patterns)
  packages/roller/package.json
Due: format

feat(roller): add RollOptions examples to all NotationDoc entries (Rosetta stone)
  apps/playground/__tests__/ReferenceDetail.test.ts
  packages/roller/src/dice/index.ts
  packages/roller/src/docs/modifierDocs.ts
  packages/roller/src/modifiers/cap.ts
  packages/roller/src/modifiers/compound.ts
  packages/roller/src/modifiers/count.ts
  packages/roller/src/modifiers/drop.ts
  packages/roller/src/modifiers/explode.ts
  packages/roller/src/modifiers/explodeSequence.ts
  packages/roller/src/modifiers/integerDivide.ts
  packages/roller/src/modifiers/keep.ts
  packages/roller/src/modifiers/minus.ts
  packages/roller/src/modifiers/modulo.ts
  packages/roller/src/modifiers/multiply.ts
  packages/roller/src/modifiers/multiplyTotal.ts
  packages/roller/src/modifiers/penetrate.ts
  packages/roller/src/modifiers/plus.ts
  packages/roller/src/modifiers/replace.ts
  packages/roller/src/modifiers/reroll.ts
  packages/roller/src/modifiers/sort.ts
  packages/roller/src/modifiers/unique.ts
  packages/roller/src/modifiers/wildDie.ts
Due: lint, format

test(roller): Rosetta stone verification tests — docs examples as source of truth
  packages/roller/__tests__/docs/rosettaStone.test.ts
Due: lint, format

refactor(roller): unify NotationDoc examples — notation, options, description in one entry
  apps/playground/__tests__/ReferenceDetail.test.ts
  packages/roller/__tests__/docs/rosettaStone.test.ts
  packages/roller/src/dice/index.ts
  packages/roller/src/docs/modifierDocs.ts
  packages/roller/src/modifiers/cap.ts
  packages/roller/src/modifiers/compound.ts
  packages/roller/src/modifiers/count.ts
  packages/roller/src/modifiers/drop.ts
  packages/roller/src/modifiers/explode.ts
  packages/roller/src/modifiers/explodeSequence.ts
  packages/roller/src/modifiers/integerDivide.ts
  packages/roller/src/modifiers/keep.ts
  packages/roller/src/modifiers/minus.ts
  packages/roller/src/modifiers/modulo.ts
  packages/roller/src/modifiers/multiply.ts
  packages/roller/src/modifiers/multiplyTotal.ts
  packages/roller/src/modifiers/penetrate.ts
  packages/roller/src/modifiers/plus.ts
  packages/roller/src/modifiers/replace.ts
  packages/roller/src/modifiers/reroll.ts
  packages/roller/src/modifiers/sort.ts
  packages/roller/src/modifiers/unique.ts
  packages/roller/src/modifiers/wildDie.ts
Due: lint, format

refactor(ci): extract bun-setup composite action and gate publish on CI
  .github/actions/bun-setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  package.json
Due: format

fix(roller): format and lint fixes for CI
  packages/roller/__tests__/docs/rosettaStone.test.ts
  packages/roller/src/dice/index.ts
  packages/roller/src/modifiers/compound.ts
  packages/roller/src/modifiers/explode.ts
  packages/roller/src/modifiers/explodeSequence.ts
  packages/roller/src/modifiers/integerDivide.ts
  packages/roller/src/modifiers/minus.ts
  packages/roller/src/modifiers/modulo.ts
  packages/roller/src/modifiers/multiply.ts
  packages/roller/src/modifiers/multiplyTotal.ts
  packages/roller/src/modifiers/penetrate.ts
  packages/roller/src/modifiers/plus.ts
  packages/roller/src/modifiers/reroll.ts
  packages/roller/src/modifiers/sort.ts
  packages/roller/src/modifiers/wildDie.ts
Due: lint, format

chore(roller): bump bundle size limit to 15.5KB
  packages/roller/package.json
Due: format

fix(expo): remove unused imports and dead code
  apps/expo/components/DieButton.tsx
  apps/expo/components/HistoryEntry.tsx
  apps/expo/lib/stores/themeStore.ts
Due: lint, format

fix(rdn): fix TOC disappearing on sections without subsections
  apps/rdn/src/components/OnThisPage.astro
Due: format

fix(rdn): fix sticky sidebar and TOC not following scroll
  apps/rdn/src/styles/global.css
Due: format

chore(roller): add sideEffects false and browser target for bundle optimization
  packages/roller/bunup.config.ts
  packages/roller/package.json
Due: lint, format

Revert "chore(roller): add sideEffects false and browser target for bundle optimization"
  packages/roller/bunup.config.ts
  packages/roller/package.json
Due: lint, format

refactor(roller): separate docs from modifier definitions to reduce bundle size
  packages/roller/__tests__/docs/modifierDocSync.test.ts
  packages/roller/src/docs/modifierDocEntries.ts
  packages/roller/src/docs/modifierDocs.ts
  packages/roller/src/modifiers/cap.ts
  packages/roller/src/modifiers/compound.ts
  packages/roller/src/modifiers/count.ts
  packages/roller/src/modifiers/drop.ts
  packages/roller/src/modifiers/explode.ts
  packages/roller/src/modifiers/explodeSequence.ts
  packages/roller/src/modifiers/integerDivide.ts
  packages/roller/src/modifiers/keep.ts
  packages/roller/src/modifiers/minus.ts
  packages/roller/src/modifiers/modulo.ts
  packages/roller/src/modifiers/multiply.ts
  packages/roller/src/modifiers/multiplyTotal.ts
  packages/roller/src/modifiers/penetrate.ts
  packages/roller/src/modifiers/plus.ts
  packages/roller/src/modifiers/replace.ts
  packages/roller/src/modifiers/reroll.ts
  packages/roller/src/modifiers/sort.ts
  packages/roller/src/modifiers/unique.ts
  packages/roller/src/modifiers/wildDie.ts
  packages/roller/src/notation/schema.ts
Due: lint, format

chore: tighten bundle size limits after docs separation
  packages/games/package.json
  packages/roller/package.json
Due: format

fix: resolve lefthook hooksPath conflict and games typecheck errors
  bun.lock
  package.json
  packages/games/package.json
  packages/games/tsconfig.json
Due: format

fix(discord-bot): switch SU table choices to autocomplete
  apps/discord-bot/__tests__/commands/su.test.ts
  apps/discord-bot/src/commands/su.ts
  apps/discord-bot/src/events/interactionCreate.ts
  apps/discord-bot/src/types.ts
Due: lint, format

feat(discord-bot): deduplicate command registry into single barrel
  apps/discord-bot/__tests__/commands/index.test.ts
  apps/discord-bot/src/commands/index.ts
  apps/discord-bot/src/deploy-commands.ts
  apps/discord-bot/src/index.ts
Due: lint, format

feat(discord-bot): add D&D 5e critical hit/miss display
  apps/discord-bot/__tests__/commands/fifth.test.ts
  apps/discord-bot/src/commands/fifth.ts
Due: lint, format

feat(discord-bot): add notation fix suggestions to error messages
  apps/discord-bot/__tests__/commands/index.test.ts
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/src/commands/roll.ts
Due: lint, format

feat(discord-bot): replace hardcoded notation reference with live docs
  apps/discord-bot/__tests__/commands/notation.test.ts
  apps/discord-bot/src/commands/notation.ts
Due: lint, format

ci: add discord-bot job to CI workflow
  .github/workflows/ci.yml
Due: none

fix(discord-bot): resolve ESLint and Prettier issues in notation command
  apps/discord-bot/__tests__/commands/notation.test.ts
  apps/discord-bot/src/commands/notation.ts
Due: lint, format

fix
  apps/discord-bot/__tests__/commands/blades.test.ts
  apps/discord-bot/__tests__/commands/dh.test.ts
  apps/discord-bot/__tests__/commands/fifth.test.ts
  apps/discord-bot/__tests__/commands/index.test.ts
  apps/discord-bot/__tests__/commands/pbta.test.ts
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/__tests__/commands/root.test.ts
  apps/discord-bot/__tests__/commands/su.test.ts
Due: lint, format

feat(discord-bot): add re-roll button to all roll results
  apps/discord-bot/__tests__/commands/blades.test.ts
  apps/discord-bot/__tests__/commands/dh.test.ts
  apps/discord-bot/__tests__/commands/fifth.test.ts
  apps/discord-bot/__tests__/commands/index.test.ts
  apps/discord-bot/__tests__/commands/notation.test.ts
  apps/discord-bot/__tests__/commands/pbta.test.ts
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/__tests__/commands/root.test.ts
  apps/discord-bot/__tests__/commands/su.test.ts
  apps/discord-bot/__tests__/utils/rollButton.test.ts
  apps/discord-bot/src/commands/blades.ts
  apps/discord-bot/src/commands/dh.ts
  apps/discord-bot/src/commands/fifth.ts
  apps/discord-bot/src/commands/notation.ts
  apps/discord-bot/src/commands/pbta.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/commands/root.ts
  apps/discord-bot/src/commands/su.ts
  apps/discord-bot/src/events/interactionCreate.ts
  apps/discord-bot/src/utils/rollButton.ts
Due: lint, format

feat(discord-bot): add Show Work button with traceRoll visualization
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/__tests__/utils/traceFormatter.test.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/events/interactionCreate.ts
  apps/discord-bot/src/utils/traceFormatter.ts
Due: lint, format

feat(discord-bot): add /help command and server welcome message
  apps/discord-bot/__tests__/commands/help.test.ts
  apps/discord-bot/__tests__/events/guildCreate.test.ts
  apps/discord-bot/src/commands/help.ts
  apps/discord-bot/src/commands/index.ts
  apps/discord-bot/src/events/guildCreate.ts
  apps/discord-bot/src/index.ts
Due: lint, format

docs(discord-bot): update CLAUDE.md with new features and testing patterns
  apps/discord-bot/CLAUDE.md
Due: format
