Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,mjs}"
      run: bun run lint --fix
      stage_fixed: true
    format:
      glob: "*.{ts,tsx,js,json,md,astro,css}"
      run: bun run format
      stage_fixed: true
    typecheck:
      run: bun run typecheck

pre-push:
  commands:
    test:
      run: bun test
    exports:
      run: bun run check:exports
    security:
      run: bun audit --audit-level high

feat: add RDN conformance claims across all READMEs and package.json
  README.md
  apps/cli/README.md
  apps/discord-bot/README.md
  apps/discord-bot/src/commands/notation.ts
  docs/superpowers/plans/2026-03-21-rdn-branding-and-ietf.md
  packages/games/README.md
  packages/games/package.json
  packages/roller/README.md
  packages/roller/package.json
Due: lint, format

feat: add cross-linking, RDN conformance to docs, fix priority table
  apps/playground/src/components/PlaygroundHeader.tsx
  apps/rdn/src/components/HeroHeader.astro
  apps/site/astro.config.mjs
  apps/site/src/content/docs/games/introduction.mdx
  apps/site/src/content/docs/notation/introduction.mdx
  apps/site/src/content/docs/notation/randsum-dice-notation.mdx
  apps/site/src/content/docs/roller/introduction.mdx
  apps/site/src/content/docs/welcome/ecosystem-overview.mdx
Due: lint, format

fix(spec,games): Fate dice de-alias to custom faces, expand Blades pool to 6
  apps/rdn/src/content/specs/v1.0-alpha.md
  packages/games/blades.randsum.json
  packages/games/src/blades.generated.ts
Due: lint, format

feat(site): replace feature cards with compact title-only chips
  apps/site/src/pages/index.astro
Due: format

fix(site): use card style for feature chips (header-only, no description)
  apps/site/src/pages/index.astro
Due: format

fix(site): compact feature cards with no hover transform
  apps/site/src/pages/index.astro
Due: format

feat(site): replace version text with shields.io npm badges, add RDN to footer
  apps/site/src/pages/index.astro
Due: format

fix(site): hide npm label on badges, use static badge for private packages
  apps/site/src/pages/index.astro
  apps/site/src/utils/packageData.ts
Due: lint, format

fix(site): npm badges for public packages, static for private/skills
  apps/site/src/pages/index.astro
  apps/site/src/utils/packageData.ts
Due: lint, format

fix: update marketplace.json and plugin.json for Claude marketplace
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
Due: format

chore: clean up plugin.json to export only public skills
  .claude-plugin/plugin.json
Due: format

chore: move lockfile guard from plugin to local .claude/settings.json
  .claude-plugin/hooks/hooks.json
  .claude-plugin/plugin.json
  .claude/settings.json
Due: format

feat(spec): add ABNF grammar, test vectors, encoding/whitespace rules
  apps/rdn/src/content/specs/v1.0-alpha.md
Due: format

fix(spec): resolve ABNF contradictions, expand test vectors, complete references
  apps/rdn/src/content/specs/v1.0-alpha.md
Due: format

feat(spec): final IETF polish — Status of Memo, Authors, History, privacy, cross-index
  apps/rdn/src/content/specs/v1.0-alpha.md
  docs/superpowers/plans/2026-03-21-ietf-5-of-5.md
Due: format

docs(site): fix api-reference property names and type params
  apps/site/src/content/docs/roller/api-reference.mdx
Due: none

docs: fix Salvage Union description, Blades rating range (0-6), and add position/effect limitation note
  apps/site/public/skills/dice-rolling/references/GAME_SYSTEMS.md
  apps/site/src/content/docs/games/blades.mdx
  apps/site/src/content/docs/games/introduction.mdx
Due: format

docs(playground): replace stale display-utils refs with current packages
  apps/playground/CLAUDE.md
Due: format

fix(roller): correct geometric die termination condition
  packages/roller/__tests__/roll/geometricDice.test.ts
  packages/roller/src/roll/pipeline.ts
Due: lint, format

docs(site): fix geometric die description — result is sum, not count
  apps/site/src/content/docs/notation/randsum-dice-notation.mdx
Due: none

fix(roller): reject internal whitespace and zero-quantity in isDiceNotation
  packages/roller/__tests__/notation/isDiceNotation.test.ts
  packages/roller/__tests__/roll/parseArguments.test.ts
  packages/roller/__tests__/validateNotation.test.ts
  packages/roller/src/notation/coreNotationPattern.ts
  packages/roller/src/notation/isDiceNotation.ts
Due: lint, format

docs(site): fix modifiers page — correct priorities, unified count, sort types, explodeSequence
  apps/site/src/content/docs/roller/modifiers.mdx
Due: none

fix(roller): restrict sort to sa/sd per spec, toNotation returns sa not s
  packages/roller/__tests__/notation/sort.test.ts
  packages/roller/__tests__/roll/sort.test.ts
  packages/roller/src/modifiers/sort.ts
  packages/roller/src/notation/definitions/sort.ts
Due: lint, format

fix(games): use initial die value for nat 1/20 detection in fifth spec
  apps/rdn/src/content/specs/v1.0-alpha.md
  packages/roller/src/roll/pipeline.ts
Due: lint, format

docs(roller): fix spec test vector #38 and document explode/penetrate edge behaviors
  apps/site/src/content/docs/games/blades.mdx
  apps/site/src/content/docs/games/daggerheart.mdx
  apps/site/src/content/docs/games/fifth.mdx
  apps/site/src/content/docs/games/pbta.mdx
  apps/site/src/content/docs/games/root-rpg.mdx
  apps/site/src/content/docs/games/salvageunion.mdx
  apps/site/src/content/docs/welcome/ecosystem-overview.mdx
  apps/site/src/utils/packageData.ts
Due: lint, format

docs(spec): clarify draw die overflow — reshuffle, not cap
  packages/games/fifth.randsum.json
  packages/games/src/fifth.generated.ts
  packages/roller/src/roll/pipeline.ts
Due: lint, format

fix(games): tighten Root RPG bonus range from -20/20 to -3/5
  packages/games/root-rpg.randsum.json
Due: format

fix(roller): reject duplicate count modifiers per spec
  packages/games/__tests__/blades.property.test.ts
  packages/games/__tests__/daggerheart.test.ts
  packages/games/__tests__/fifth.test.ts
  packages/games/__tests__/pbta.property.test.ts
  packages/games/__tests__/root-rpg.property.test.ts
  packages/games/__tests__/root-rpg.test.ts
  packages/games/src/root-rpg.generated.ts
  packages/roller/__tests__/roll/count.test.ts
  packages/roller/src/notation/definitions/count.ts
  packages/roller/src/notation/isDiceNotation.ts
  packages/roller/src/notation/parse/parseModifiers.ts
Due: lint, format

docs: add CLI page, roller subpath docs, fix site and CLI CLAUDE.md
  apps/cli/CLAUDE.md
  apps/site/CLAUDE.md
  apps/site/src/content/docs/roller/api-reference.mdx
  apps/site/src/content/docs/tools/cli.mdx
Due: format

docs(notation): fix undocumented modifiers and stale token type list
  apps/site/src/content/docs/notation/getting-started.mdx
  apps/site/src/content/docs/notation/validation-and-parsing.mdx
Due: none

fix(roller): add explicit RegExp type to countPattern for isolatedDeclarations
  packages/roller/src/notation/definitions/count.ts
Due: lint, format

fix(site): correct traceRoll/formatAsMath signatures in api-reference
  apps/site/src/content/docs/roller/api-reference.mdx
Due: none

chore(audit-gap-fix): Wave 2 P2 polish — spec alignment, metadata, CLAUDE.md coverage
  apps/discord-bot/CLAUDE.md
  apps/rdn/CLAUDE.md
  packages/dice-ui/CLAUDE.md
  packages/dice-ui/package.json
  packages/games/CLAUDE.md
  packages/roller/__tests__/lib/parseComparisonNotation.test.ts
  packages/roller/src/modifiers/cap.ts
  packages/roller/src/modifiers/keep.ts
  packages/roller/src/notation/parse/parseModifiers.ts
  packages/roller/src/notation/parse/singleNotationToOptions.ts
Due: lint, format

chore(roller): update size-limit — index 15KB, tokenize 6KB
  packages/roller/package.json
Due: format

chore: rename skill-verify to claude-doctor, rebrand to Claude Plugin
  .github/workflows/ci.yml
  apps/rdn/src/content/specs/v1.0-alpha.md
  apps/site/astro.config.mjs
  apps/site/src/content/docs/tools/claude-code-skill.mdx
  apps/site/src/pages/index.astro
  apps/site/src/utils/packageData.ts
Due: lint, format

fix(spec): correct Status of Memo — IETF submission forthcoming, not marketplace
  apps/rdn/src/content/specs/v1.0-alpha.md
Due: format

fix(ci): install claude-code globally for plugin validate in CI
  .github/workflows/ci.yml
Due: none

fix(rdn): remove nonexistent prebuild from netlify.toml build command
  apps/rdn/netlify.toml
Due: none
