Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,mjs}"
      run: bun run lint --fix
      stage_fixed: true
    format:
      glob: "*.{ts,tsx,js,json,md,astro,css}"
      run: bun run format
      stage_fixed: true
    typecheck:
      run: bun run typecheck

pre-push:
  commands:
    test:
      run: bun test
    exports:
      run: bun run check:exports
    security:
      run: bun audit --audit-level high

fix(discord-bot): extract parseRerollId to avoid Bun mock interference
  apps/discord-bot/__tests__/utils/rollButton.test.ts
  apps/discord-bot/src/utils/parseRerollId.ts
  apps/discord-bot/src/utils/rollButton.ts
Due: lint, format

fix(discord-bot): use dynamic imports in rollButton test for Bun 1.3.10
  apps/discord-bot/__tests__/utils/rollButton.test.ts
Due: lint, format

fix: bump Bun to 1.3.11 for mock.module fix
  .bun-version
  apps/discord-bot/src/utils/rollButton.ts
Due: lint, format

fix(discord-bot): rewrite rollButton tests without mock.module
  apps/discord-bot/__tests__/utils/rollButton.test.ts
Due: lint, format

fix(discord-bot): add ButtonBuilder/ButtonStyle to all test mocks
  apps/discord-bot/__tests__/commands/blades.test.ts
  apps/discord-bot/__tests__/commands/dh.test.ts
  apps/discord-bot/__tests__/commands/fifth.test.ts
  apps/discord-bot/__tests__/commands/pbta.test.ts
  apps/discord-bot/__tests__/commands/root.test.ts
  apps/discord-bot/__tests__/commands/su.test.ts
  apps/discord-bot/__tests__/utils/rollButton.test.ts
Due: lint, format

fix(discord-bot): replace ButtonStyle enum import with numeric constant
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/utils/rollButton.ts
Due: lint, format

fix(discord-bot): preload shared discord.js mock for test stability
  apps/discord-bot/__tests__/setup.ts
  apps/discord-bot/bunfig.toml
Due: lint, format

fix(discord-bot): use explicit --preload flag for test setup
  apps/discord-bot/__tests__/setup.ts
  apps/discord-bot/package.json
Due: lint, format

fix(discord-bot): use require() preload to resolve CJS->ESM interop
  apps/discord-bot/__tests__/setup.ts
  apps/discord-bot/bunfig.toml
Due: lint, format

fix(discord-bot): move discord.js mock before async imports in roll test
  apps/discord-bot/__tests__/commands/roll.test.ts
Due: lint, format

fix(ci): run discord-bot check from package directory
  .github/workflows/ci.yml
Due: none

fix(discord-bot): explicit named exports in preload + bunfig.toml
  apps/discord-bot/__tests__/setup.ts
  apps/discord-bot/bunfig.toml
  apps/discord-bot/package.json
Due: lint, format

fix(discord-bot): CJS wrapper for discord.js to fix Linux CI
  .github/workflows/ci.yml
  apps/discord-bot/__tests__/commands/blades.test.ts
  apps/discord-bot/__tests__/commands/dh.test.ts
  apps/discord-bot/__tests__/commands/fifth.test.ts
  apps/discord-bot/__tests__/commands/help.test.ts
  apps/discord-bot/__tests__/commands/index.test.ts
  apps/discord-bot/__tests__/commands/notation.test.ts
  apps/discord-bot/__tests__/commands/pbta.test.ts
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/__tests__/commands/root.test.ts
  apps/discord-bot/__tests__/commands/su.test.ts
  apps/discord-bot/__tests__/events/guildCreate.test.ts
  apps/discord-bot/__tests__/setup.ts
  apps/discord-bot/bunfig.toml
  apps/discord-bot/src/commands/blades.ts
  apps/discord-bot/src/commands/dh.ts
  apps/discord-bot/src/commands/fifth.ts
  apps/discord-bot/src/commands/help.ts
  apps/discord-bot/src/commands/notation.ts
  apps/discord-bot/src/commands/pbta.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/commands/root.ts
  apps/discord-bot/src/commands/su.ts
  apps/discord-bot/src/deploy-commands.ts
  apps/discord-bot/src/events/guildCreate.ts
  apps/discord-bot/src/events/interactionCreate.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/utils/discord.ts
  apps/discord-bot/src/utils/replyWithError.ts
  apps/discord-bot/src/utils/rollButton.ts
Due: lint, format

fix(discord-bot): rewrite all tests without discord.js mocking
  apps/discord-bot/__tests__/commands/blades.test.ts
  apps/discord-bot/__tests__/commands/dh.test.ts
  apps/discord-bot/__tests__/commands/fifth.test.ts
  apps/discord-bot/__tests__/commands/help.test.ts
  apps/discord-bot/__tests__/commands/index.test.ts
  apps/discord-bot/__tests__/commands/notation.test.ts
  apps/discord-bot/__tests__/commands/pbta.test.ts
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/__tests__/commands/root.test.ts
  apps/discord-bot/__tests__/commands/su.test.ts
  apps/discord-bot/__tests__/events/guildCreate.test.ts
Due: lint, format

feat(discord-bot): Discord bot evolution — all 3 phases (#1027)
  .bun-version
  .github/workflows/ci.yml
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/__tests__/commands/blades.test.ts
  apps/discord-bot/__tests__/commands/dh.test.ts
  apps/discord-bot/__tests__/commands/fifth.test.ts
  apps/discord-bot/__tests__/commands/help.test.ts
  apps/discord-bot/__tests__/commands/index.test.ts
  apps/discord-bot/__tests__/commands/notation.test.ts
  apps/discord-bot/__tests__/commands/pbta.test.ts
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/__tests__/commands/root.test.ts
  apps/discord-bot/__tests__/commands/su.test.ts
  apps/discord-bot/__tests__/events/guildCreate.test.ts
  apps/discord-bot/__tests__/utils/rollButton.test.ts
  apps/discord-bot/__tests__/utils/traceFormatter.test.ts
  apps/discord-bot/src/commands/blades.ts
  apps/discord-bot/src/commands/dh.ts
  apps/discord-bot/src/commands/fifth.ts
  apps/discord-bot/src/commands/help.ts
  apps/discord-bot/src/commands/index.ts
  apps/discord-bot/src/commands/notation.ts
  apps/discord-bot/src/commands/pbta.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/commands/root.ts
  apps/discord-bot/src/commands/su.ts
  apps/discord-bot/src/deploy-commands.ts
  apps/discord-bot/src/events/guildCreate.ts
  apps/discord-bot/src/events/interactionCreate.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/utils/discord.ts
  apps/discord-bot/src/utils/parseRerollId.ts
  apps/discord-bot/src/utils/replyWithError.ts
  apps/discord-bot/src/utils/rollButton.ts
  apps/discord-bot/src/utils/traceFormatter.ts
Due: lint, format

feat(discord-bot): remove Roll Again and Show Work buttons
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/__tests__/commands/blades.test.ts
  apps/discord-bot/__tests__/commands/dh.test.ts
  apps/discord-bot/__tests__/commands/fifth.test.ts
  apps/discord-bot/__tests__/commands/pbta.test.ts
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/__tests__/commands/root.test.ts
  apps/discord-bot/__tests__/commands/su.test.ts
  apps/discord-bot/__tests__/utils/rollButton.test.ts
  apps/discord-bot/__tests__/utils/traceFormatter.test.ts
  apps/discord-bot/src/commands/blades.ts
  apps/discord-bot/src/commands/dh.ts
  apps/discord-bot/src/commands/fifth.ts
  apps/discord-bot/src/commands/pbta.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/commands/root.ts
  apps/discord-bot/src/commands/su.ts
  apps/discord-bot/src/events/interactionCreate.ts
  apps/discord-bot/src/utils/parseRerollId.ts
  apps/discord-bot/src/utils/rollButton.ts
  apps/discord-bot/src/utils/traceFormatter.ts
Due: lint, format

feat(site): polish Discord bot landing page with embed previews and /discord redirect
  apps/site/src/components/DiscordEmbed.astro
  apps/site/src/content/docs/tools/discord-bot.mdx
  apps/site/src/pages/discord.astro
Due: format

feat(site): add standalone Discord bot landing page at /discord
  apps/site/src/pages/discord.astro
Due: format

docs(rdn): add conformance test suite JSON and implement-this-spec section
  apps/rdn/public/conformance/v0.9.0.json
  apps/rdn/src/content/specs/v0.9.0.md
Due: format

docs(spec): add implementation spec for unify-notation-docs phases 1 and 2
  docs/specs/unify-notation-docs-implementation-spec.md
Due: format

docs(spec): fix 3 blockers from G2 review
  docs/specs/unify-notation-docs-implementation-spec.md
Due: format

feat(roller): add docs field to NotationSchema, remove displayOptional from NotationDoc
  packages/roller/__tests__/docs/modifierDocSync.test.ts
  packages/roller/src/docs/modifierDocEntries.ts
  packages/roller/src/docs/modifierDocs.ts
  packages/roller/src/notation/schema.ts
Due: lint, format

feat(roller): co-locate docs arrays on 5 multi-entry modifier schemas (S2)
  packages/roller/__tests__/docs.test.ts
  packages/roller/__tests__/docs/multiEntryModifierDocs.test.ts
  packages/roller/src/modifiers/count.ts
  packages/roller/src/modifiers/drop.ts
  packages/roller/src/modifiers/explodeSequence.ts
  packages/roller/src/modifiers/keep.ts
  packages/roller/src/modifiers/reroll.ts
Due: lint, format

feat(roller): add docs arrays to 14 single-entry modifier schemas (S3)
  packages/roller/__tests__/docs/singleEntryModifierDocs.test.ts
  packages/roller/src/modifiers/cap.ts
  packages/roller/src/modifiers/compound.ts
  packages/roller/src/modifiers/explode.ts
  packages/roller/src/modifiers/integerDivide.ts
  packages/roller/src/modifiers/minus.ts
  packages/roller/src/modifiers/modulo.ts
  packages/roller/src/modifiers/multiply.ts
  packages/roller/src/modifiers/multiplyTotal.ts
  packages/roller/src/modifiers/penetrate.ts
  packages/roller/src/modifiers/plus.ts
  packages/roller/src/modifiers/replace.ts
  packages/roller/src/modifiers/sort.ts
  packages/roller/src/modifiers/unique.ts
  packages/roller/src/modifiers/wildDie.ts
Due: lint, format

fix(roller): align satisfies pattern with S2 convention
  packages/roller/src/modifiers/cap.ts
  packages/roller/src/modifiers/compound.ts
  packages/roller/src/modifiers/explode.ts
  packages/roller/src/modifiers/integerDivide.ts
  packages/roller/src/modifiers/minus.ts
  packages/roller/src/modifiers/modulo.ts
  packages/roller/src/modifiers/multiply.ts
  packages/roller/src/modifiers/multiplyTotal.ts
  packages/roller/src/modifiers/penetrate.ts
  packages/roller/src/modifiers/plus.ts
  packages/roller/src/modifiers/replace.ts
  packages/roller/src/modifiers/sort.ts
  packages/roller/src/modifiers/unique.ts
  packages/roller/src/modifiers/wildDie.ts
Due: lint, format

feat(rdn): add conformance codegen pipeline (S5)
  apps/rdn/conformance-gen.ts
  apps/rdn/package.json
  apps/rdn/public/conformance/v0.9.0.json
  apps/rdn/src/conformance/types.ts
  apps/rdn/src/conformance/vectors.ts
  lefthook.yml
Due: lint, format

feat(roller): derive MODIFIER_DOCS from RANDSUM_MODIFIERS, delete modifierDocEntries.ts (S4)
  packages/roller/CLAUDE.md
  packages/roller/__tests__/docs/modifierDocSync.test.ts
  packages/roller/package.json
  packages/roller/src/docs/modifierDocEntries.ts
  packages/roller/src/docs/modifierDocs.ts
Due: lint, format

chore(roller): bump dist/index.js size limit to 16 KB
  packages/roller/package.json
Due: format

chore(games): bump size limits to accommodate roller docs co-location
  packages/games/package.json
Due: format

chore: remove deprecated ModifierDoc type alias
  apps/playground/CLAUDE.md
  apps/playground/__tests__/ReferenceSidebar.test.ts
  apps/playground/src/components/ReferenceDetail.tsx
  apps/site/src/content/docs/roller/api-reference.mdx
  packages/roller/CLAUDE.md
  packages/roller/README.md
  packages/roller/__tests__/docs.test.ts
  packages/roller/src/docs/index.ts
  packages/roller/src/docs/modifierDocs.ts
Due: lint, format

feat(rdn): add auto-generated modifier reference from @randsum/roller/docs
  apps/rdn/CLAUDE.md
  apps/rdn/package.json
  apps/rdn/src/components/ModifierReference.astro
  apps/rdn/src/pages/v/[version].astro
Due: format

chore: update bun.lock for rdn roller dev dep
  bun.lock
Due: none

fix(ci): build roller before rdn check, add roller to rdn change filter
  .github/workflows/ci.yml
Due: none

fix(rdn): build roller before rdn in Netlify deploy
  apps/rdn/netlify.toml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#1033)
  .github/workflows/claude-code-review.yml
Due: none

feat(rdn): add $id URL to conformance JSON
  apps/rdn/conformance-gen.ts
  apps/rdn/public/conformance/v0.9.0.json
  apps/rdn/src/conformance/types.ts
  apps/rdn/src/conformance/vectors.ts
Due: lint, format
