Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint --fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

refactor(dice-ui): delete dead components, close the lint/format gap
  packages/dice-ui/CLAUDE.md
  packages/dice-ui/README.md
  packages/dice-ui/__tests__/happydom.setup.ts
  packages/dice-ui/__tests__/notationBuilder.test.ts
  packages/dice-ui/package.json
  packages/dice-ui/src/NotationRoller.tsx
  packages/dice-ui/src/QuickReferenceGrid.tsx
  packages/dice-ui/src/index.ts
  packages/dice-ui/src/notationBuilder.ts
  packages/dice-ui/src/types.ts
  packages/dice-ui/tsconfig.json
Due: lint, format

fix(cli): suggest a fix for the invalid notation, not the joined args
  apps/cli/__tests__/run.test.ts
  apps/cli/src/run.ts
Due: lint, format

docs(roller): fix tokenize README example after TokenType removal
  packages/roller/README.md
Due: format

fix(site): repair four broken Netlify redirects, drop stale expo mention (#1131)
  apps/site/netlify.toml
Due: none

feat(cli): unknown-flag detection, did-you-mean suggestions, --total flag; fix advantage doc (#1133)
  .changeset/cli-flags-polish.md
  apps/cli/__tests__/e2e.test.ts
  apps/cli/__tests__/index.test.ts
  apps/cli/__tests__/run.test.ts
  apps/cli/src/index.ts
  apps/cli/src/run.ts
  apps/site/src/content/docs/tools/cli.mdx
Due: lint, format

fix(discord-bot): remove dead embed images, fix /fifth tie display, command consistency, build/deploy fixes (#1136)
  apps/discord-bot/__tests__/commands/fifth.test.ts
  apps/discord-bot/__tests__/commands/help.test.ts
  apps/discord-bot/__tests__/commands/notation.test.ts
  apps/discord-bot/__tests__/commands/root.test.ts
  apps/discord-bot/bunup.config.ts
  apps/discord-bot/src/commands/blades.ts
  apps/discord-bot/src/commands/fifth.ts
  apps/discord-bot/src/commands/help.ts
  apps/discord-bot/src/commands/notation.ts
  apps/discord-bot/src/commands/root.ts
  apps/discord-bot/src/utils/constants.ts
  render.yaml
Due: lint, format

feat: give fate full surfaces — /fate command, docs page, landing data, seven systems (#1134)
  apps/discord-bot/LISTING.md
  apps/discord-bot/__tests__/commands/fate.test.ts
  apps/discord-bot/__tests__/commands/index.test.ts
  apps/discord-bot/src/commands/fate.ts
  apps/discord-bot/src/commands/index.ts
  apps/site/astro.config.mjs
  apps/site/src/content/docs/games/fate.mdx
  apps/site/src/content/docs/games/schema/contributing-a-game.mdx
  apps/site/src/content/docs/tools/claude-code-plugin.mdx
  apps/site/src/utils/packageData.ts
Due: lint, format

chore(deps): prune root devDeps, fix catalog, pin stackblitz, changesets ignore dice-ui, renovate config (#1138)
  .changeset/config.json
  apps/site/package.json
  bun.lock
  knip.json
  package.json
  renovate.json
Due: format

refactor(dice-ui): delete dead components, close the lint/format gap (#1139)
  packages/dice-ui/CLAUDE.md
  packages/dice-ui/README.md
  packages/dice-ui/__tests__/happydom.setup.ts
  packages/dice-ui/__tests__/notationBuilder.test.ts
  packages/dice-ui/package.json
  packages/dice-ui/src/NotationRoller.tsx
  packages/dice-ui/src/QuickReferenceGrid.tsx
  packages/dice-ui/src/index.ts
  packages/dice-ui/src/notationBuilder.ts
  packages/dice-ui/src/types.ts
  packages/dice-ui/tsconfig.json
Due: lint, format

fix(games): declare fast-check devDependency
  bun.lock
  packages/games/package.json
Due: format

chore(knip): scan games __tests__ so test-only deps are tracked
  knip.json
Due: format

ci: add dependabot cooldown (zizmor insufficient-cooldown)
  .github/dependabot.yml
Due: none

fix(games): declare fast-check devDependency (#1141)
  bun.lock
  knip.json
  packages/games/package.json
Due: format

ci: drop stale audit ignore, schedule-only security scan, publint/attw in dry-run, workflow linting (#1135)
  .github/dependabot.yml
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .github/workflows/workflow-lint.yml
  lefthook.yml
Due: none

refactor(roller)!: prune dead registry helpers and leaked internal exports (#1137)
  .changeset/prune-roller-dead-exports.md
  packages/roller/CLAUDE.md
  packages/roller/README.md
  packages/roller/__tests__/dist.smoke.test.ts
  packages/roller/__tests__/lib/modifiers/ModifierEngine.apply.test.ts
  packages/roller/__tests__/lib/modifiers/ModifierEngine.format.test.ts
  packages/roller/__tests__/lib/modifiers/registry.test.ts
  packages/roller/__tests__/public-surface.test.ts
  packages/roller/__tests__/story4-dead-code.test.ts
  packages/roller/__tests__/story5-7-colocation.test.ts
  packages/roller/__tests__/types/templateLiterals.test-d.ts
  packages/roller/src/index.ts
  packages/roller/src/modifiers/registry.ts
  packages/roller/src/notation/templateLiterals.ts
  packages/roller/src/notation/tokenize.ts
  packages/roller/src/tokenize.ts
  packages/roller/src/types/index.ts
  packages/roller/src/types/results.ts
Due: lint, format

docs: sweep stale docs — changelog, publishing flow, help script, contributor docs, llms.txt (#1132)
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  apps/DEPLOY.md
  apps/site/AGENTS.md
  apps/site/public/llms.txt
  packages/games/CLAUDE.md
  packages/games/docs/randsum-json-schema.md
  packages/roller/CLAUDE.md
  packages/roller/ERROR_REFERENCE.md
  runbooks/RCA-template.md
  scripts/help.ts
Due: lint, format

feat(games)!: unify result strings to snake_case; spec ergonomics and hermetic codegen
  .changeset/games-snake-case-results.md
  apps/discord-bot/__tests__/commands/dh.test.ts
  apps/discord-bot/__tests__/commands/fate.test.ts
  apps/discord-bot/__tests__/commands/root.test.ts
  apps/discord-bot/src/commands/dh.ts
  apps/discord-bot/src/commands/fate.ts
  apps/discord-bot/src/commands/root.ts
  apps/site/src/content/docs/games/daggerheart.mdx
  apps/site/src/content/docs/games/fate.mdx
  apps/site/src/content/docs/games/introduction.mdx
  apps/site/src/content/docs/games/root-rpg.mdx
  packages/games/CLAUDE.md
  packages/games/__tests__/daggerheart.property.test.ts
  packages/games/__tests__/daggerheart.test.ts
  packages/games/__tests__/fate.property.test.ts
  packages/games/__tests__/fate.test.ts
  packages/games/__tests__/root-rpg.property.test.ts
  packages/games/__tests__/root-rpg.test.ts
  packages/games/codegen.ts
  packages/games/daggerheart.randsum.json
  packages/games/docs/codegen-extension.md
  packages/games/docs/randsum-json-schema.md
  packages/games/fate.randsum.json
  packages/games/pbta.randsum.json
  packages/games/root-rpg.randsum.json
  packages/games/src/daggerheart.generated.ts
  packages/games/src/fate.generated.ts
  packages/games/src/lib/index.ts
  packages/games/src/lib/validator.ts
  packages/games/src/pbta.generated.ts
  packages/games/src/root-rpg.generated.ts
  packages/games/src/schema.ts
Due: lint, format

feat(site): host the meta-schema at its $id, add POST /api/roll, prune stale API reference
  apps/site/__tests__/roll-endpoint.test.ts
  apps/site/__tests__/schema-sync.test.ts
  apps/site/astro.config.mjs
  apps/site/netlify.toml
  apps/site/public/schemas/v1/randsum.json
  apps/site/src/content/docs/notation/api-reference.mdx
  apps/site/src/content/docs/tools/http-api.mdx
  apps/site/src/integrations/copy-schema-to-dist.ts
  apps/site/src/pages/api/roll.ts
Due: lint, format

feat(mcp): new @randsum/mcp package — MCP stdio server for dice rolling
  .changeset/mcp-initial-release.md
  .github/workflows/ci.yml
  bun.lock
  eslint.config.js
  knip.json
  package.json
  packages/mcp/CLAUDE.md
  packages/mcp/LICENSE
  packages/mcp/README.md
  packages/mcp/__tests__/roll.test.ts
  packages/mcp/__tests__/rollGame.test.ts
  packages/mcp/__tests__/validate.test.ts
  packages/mcp/bunup.config.ts
  packages/mcp/package.json
  packages/mcp/src/index.ts
  packages/mcp/src/rng.ts
  packages/mcp/src/server.ts
  packages/mcp/src/tools/roll.ts
  packages/mcp/src/tools/rollGame.ts
  packages/mcp/src/tools/validate.ts
  packages/mcp/tsconfig.json
  scripts/publish.ts
  tsconfig.json
Due: lint, format

docs(games): update result-string docs to snake_case unions
  apps/site/src/content/docs/games/schema/reference.mdx
  packages/games/README.md
Due: format

fix(mcp): normalize LCG modulo so negative seeds yield valid dice faces
  packages/mcp/__tests__/roll.test.ts
  packages/mcp/src/rng.ts
Due: lint, format

refactor(roller): unify duplicated modifier schemas into a single source
  .changeset/unify-modifier-schemas.md
  packages/roller/CLAUDE.md
  packages/roller/__tests__/docs.test.ts
  packages/roller/__tests__/docs/modifierDocSync.test.ts
  packages/roller/__tests__/docs/multiEntryModifierDocs.test.ts
  packages/roller/__tests__/docs/singleEntryModifierDocs.test.ts
  packages/roller/__tests__/lib/modifiers/conditionalCompound.test.ts
  packages/roller/__tests__/lib/modifiers/conditionalExplode.test.ts
  packages/roller/__tests__/lib/modifiers/conditionalPenetrate.test.ts
  packages/roller/__tests__/trace/arithmeticModifiers.coverage.test.ts
  packages/roller/package.json
  packages/roller/src/docs/modifierDocData.ts
  packages/roller/src/docs/modifierDocs.ts
  packages/roller/src/modifiers/cap.ts
  packages/roller/src/modifiers/compound.ts
  packages/roller/src/modifiers/count.ts
  packages/roller/src/modifiers/drop.ts
  packages/roller/src/modifiers/explode.ts
  packages/roller/src/modifiers/explodeSequence.ts
  packages/roller/src/modifiers/integerDivide.ts
  packages/roller/src/modifiers/keep.ts
  packages/roller/src/modifiers/minus.ts
  packages/roller/src/modifiers/modulo.ts
  packages/roller/src/modifiers/multiply.ts
  packages/roller/src/modifiers/multiplyTotal.ts
  packages/roller/src/modifiers/penetrate.ts
  packages/roller/src/modifiers/plus.ts
  packages/roller/src/modifiers/replace.ts
  packages/roller/src/modifiers/reroll.ts
  packages/roller/src/modifiers/sort.ts
  packages/roller/src/modifiers/unique.ts
  packages/roller/src/modifiers/wildDie.ts
  packages/roller/src/notation/definitions/compound.ts
  packages/roller/src/notation/definitions/explode.ts
  packages/roller/src/notation/definitions/penetrate.ts
Due: lint, format

feat(games)!: unify result strings to snake_case; spec ergonomics and hermetic codegen (#1150)
  .changeset/games-snake-case-results.md
  apps/discord-bot/__tests__/commands/dh.test.ts
  apps/discord-bot/__tests__/commands/fate.test.ts
  apps/discord-bot/__tests__/commands/root.test.ts
  apps/discord-bot/src/commands/dh.ts
  apps/discord-bot/src/commands/fate.ts
  apps/discord-bot/src/commands/root.ts
  apps/site/src/content/docs/games/daggerheart.mdx
  apps/site/src/content/docs/games/fate.mdx
  apps/site/src/content/docs/games/introduction.mdx
  apps/site/src/content/docs/games/root-rpg.mdx
  apps/site/src/content/docs/games/schema/reference.mdx
  packages/games/CLAUDE.md
  packages/games/README.md
  packages/games/__tests__/daggerheart.property.test.ts
  packages/games/__tests__/daggerheart.test.ts
  packages/games/__tests__/fate.property.test.ts
  packages/games/__tests__/fate.test.ts
  packages/games/__tests__/root-rpg.property.test.ts
  packages/games/__tests__/root-rpg.test.ts
  packages/games/codegen.ts
  packages/games/daggerheart.randsum.json
  packages/games/docs/codegen-extension.md
  packages/games/docs/randsum-json-schema.md
  packages/games/fate.randsum.json
  packages/games/pbta.randsum.json
  packages/games/root-rpg.randsum.json
  packages/games/src/daggerheart.generated.ts
  packages/games/src/fate.generated.ts
  packages/games/src/lib/index.ts
  packages/games/src/lib/validator.ts
  packages/games/src/pbta.generated.ts
  packages/games/src/root-rpg.generated.ts
  packages/games/src/schema.ts
Due: lint, format

feat(mcp): new @randsum/mcp package — MCP stdio server for dice rolling (#1152)
  .changeset/mcp-initial-release.md
  .github/workflows/ci.yml
  bun.lock
  eslint.config.js
  knip.json
  package.json
  packages/mcp/CLAUDE.md
  packages/mcp/LICENSE
  packages/mcp/README.md
  packages/mcp/__tests__/roll.test.ts
  packages/mcp/__tests__/rollGame.test.ts
  packages/mcp/__tests__/validate.test.ts
  packages/mcp/bunup.config.ts
  packages/mcp/package.json
  packages/mcp/src/index.ts
  packages/mcp/src/rng.ts
  packages/mcp/src/server.ts
  packages/mcp/src/tools/roll.ts
  packages/mcp/src/tools/rollGame.ts
  packages/mcp/src/tools/validate.ts
  packages/mcp/tsconfig.json
  scripts/publish.ts
  tsconfig.json
Due: lint, format

fix(site): serve legacy 301s from Astro so the SSR function can't shadow them
  apps/site/astro.config.mjs
  apps/site/netlify.toml
  apps/site/src/content/docs/tools/http-api.mdx
  apps/site/src/pages/api/roll.ts
Due: lint, format

refactor(roller): unify duplicated modifier schemas into a single source (#1153)
  .changeset/unify-modifier-schemas.md
  packages/roller/CLAUDE.md
  packages/roller/__tests__/docs.test.ts
  packages/roller/__tests__/docs/modifierDocSync.test.ts
  packages/roller/__tests__/docs/multiEntryModifierDocs.test.ts
  packages/roller/__tests__/docs/singleEntryModifierDocs.test.ts
  packages/roller/__tests__/lib/modifiers/conditionalCompound.test.ts
  packages/roller/__tests__/lib/modifiers/conditionalExplode.test.ts
  packages/roller/__tests__/lib/modifiers/conditionalPenetrate.test.ts
  packages/roller/__tests__/trace/arithmeticModifiers.coverage.test.ts
  packages/roller/package.json
  packages/roller/src/docs/modifierDocData.ts
  packages/roller/src/docs/modifierDocs.ts
  packages/roller/src/modifiers/cap.ts
  packages/roller/src/modifiers/compound.ts
  packages/roller/src/modifiers/count.ts
  packages/roller/src/modifiers/drop.ts
  packages/roller/src/modifiers/explode.ts
  packages/roller/src/modifiers/explodeSequence.ts
  packages/roller/src/modifiers/integerDivide.ts
  packages/roller/src/modifiers/keep.ts
  packages/roller/src/modifiers/minus.ts
  packages/roller/src/modifiers/modulo.ts
  packages/roller/src/modifiers/multiply.ts
  packages/roller/src/modifiers/multiplyTotal.ts
  packages/roller/src/modifiers/penetrate.ts
  packages/roller/src/modifiers/plus.ts
  packages/roller/src/modifiers/replace.ts
  packages/roller/src/modifiers/reroll.ts
  packages/roller/src/modifiers/sort.ts
  packages/roller/src/modifiers/unique.ts
  packages/roller/src/modifiers/wildDie.ts
  packages/roller/src/notation/definitions/compound.ts
  packages/roller/src/notation/definitions/explode.ts
  packages/roller/src/notation/definitions/penetrate.ts
Due: lint, format

fix(site): drop netlify.toml /* -> /404 catch-all shadowing the SSR function
  apps/site/astro.config.mjs
  apps/site/netlify.toml
Due: lint

feat(site): host the meta-schema at its $id, add POST /api/roll, prune stale API reference (#1151)
  apps/site/__tests__/roll-endpoint.test.ts
  apps/site/__tests__/schema-sync.test.ts
  apps/site/astro.config.mjs
  apps/site/netlify.toml
  apps/site/public/schemas/v1/randsum.json
  apps/site/src/content/docs/notation/api-reference.mdx
  apps/site/src/content/docs/tools/http-api.mdx
  apps/site/src/integrations/copy-schema-to-dist.ts
  apps/site/src/pages/api/roll.ts
Due: lint, format

docs(site): document @randsum/mcp; refresh llms.txt tool list
  apps/site/astro.config.mjs
  apps/site/public/llms.txt
  apps/site/src/content/docs/tools/mcp.mdx
  apps/site/src/utils/packageData.ts
  llms.txt
Due: lint, format

refactor(discord-bot): collapse per-game command boilerplate into a factory
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/src/commands/blades.ts
  apps/discord-bot/src/commands/dh.ts
  apps/discord-bot/src/commands/fate.ts
  apps/discord-bot/src/commands/fifth.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/pbta.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/commands/root.ts
  apps/discord-bot/src/commands/su.ts
Due: lint, format

chore(deps)!: Astro 7 family + dependency-cruiser 18 + knip and minor bumps
  apps/rdn/package.json
  apps/site/package.json
  bun.lock
  package.json
Due: format

fix(discord-bot): restore exact Modified Rolls parity in /roll
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/__tests__/integration/roll.integration.test.ts
  apps/discord-bot/src/commands/roll.ts
Due: lint, format

chore: consolidate root scripts and CI package jobs; harden the bench gate
  .github/workflows/ci.yml
  package.json
  scripts/bench-ci.ts
  scripts/check-workspace-scripts.ts
  scripts/help.ts
Due: lint, format

feat(roller)!: honest values typing, multi-pool guard, public seeded RNG, typed label and error codes
  .changeset/cli-shared-seeded-rng.md
  .changeset/mcp-shared-seeded-rng.md
  .changeset/roller-honest-api-fixes.md
  apps/cli/src/run.ts
  packages/mcp/__tests__/validate.test.ts
  packages/mcp/src/rng.ts
  packages/roller/README.md
  packages/roller/__tests__/notation/diceNotation.types.test.ts
  packages/roller/__tests__/notation/isDiceNotation.comprehensive.test.ts
  packages/roller/__tests__/notation/isDiceNotation.test.ts
  packages/roller/__tests__/notation/notation.test.ts
  packages/roller/__tests__/roll/auditFixes.test.ts
  packages/roller/__tests__/roll/multiPoolMixed.test.ts
  packages/roller/__tests__/roll/roll.test.ts
  packages/roller/__tests__/spec/conformance-vectors.test.ts
  packages/roller/__tests__/trace.test.ts
  packages/roller/__tests__/validateNotation.test.ts
  packages/roller/bunup.config.ts
  packages/roller/package.json
  packages/roller/src/errors.ts
  packages/roller/src/notation/coreNotationPattern.ts
  packages/roller/src/notation/parse/singleNotationToOptions.ts
  packages/roller/src/notation/types.ts
  packages/roller/src/random.ts
  packages/roller/src/roll/index.ts
  packages/roller/src/roll/parseArguments.ts
  packages/roller/src/trace/traceRoll.ts
  packages/roller/src/types/results.ts
  packages/roller/test-utils/src/queueRandom.ts
  packages/roller/test-utils/src/seededRandom.ts
Due: lint, format

ci: pass matrix values via env to avoid zizmor template-injection findings
  .github/workflows/ci.yml
Due: none

fix(roller): constrain bare dN to pool boundaries; tokenize + site follow-ups
  apps/site/__tests__/roll-endpoint.test.ts
  packages/roller/src/notation/coreNotationPattern.ts
  packages/roller/src/notation/tokenize.ts
Due: lint, format

docs(site): document @randsum/mcp; refresh llms.txt tool list (#1154)
  apps/site/astro.config.mjs
  apps/site/public/llms.txt
  apps/site/src/content/docs/tools/mcp.mdx
  apps/site/src/utils/packageData.ts
  llms.txt
Due: lint, format

refactor(discord-bot): collapse per-game command boilerplate into a factory (#1155)
  apps/discord-bot/__tests__/integration/roll.integration.test.ts
  apps/discord-bot/src/commands/blades.ts
  apps/discord-bot/src/commands/dh.ts
  apps/discord-bot/src/commands/fate.ts
  apps/discord-bot/src/commands/fifth.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/pbta.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/commands/root.ts
  apps/discord-bot/src/commands/su.ts
Due: lint, format

chore(deps)!: Astro 7 family + dependency-cruiser 18 + knip and minor bumps (#1156)
  apps/rdn/package.json
  apps/site/package.json
  bun.lock
  package.json
Due: format

feat(roller)!: honest values typing, multi-pool guard, public seeded RNG, typed label and error codes (#1158)
  .changeset/cli-shared-seeded-rng.md
  .changeset/mcp-shared-seeded-rng.md
  .changeset/roller-honest-api-fixes.md
  apps/cli/src/run.ts
  apps/site/__tests__/roll-endpoint.test.ts
  packages/mcp/__tests__/validate.test.ts
  packages/mcp/src/rng.ts
  packages/roller/README.md
  packages/roller/__tests__/notation/diceNotation.types.test.ts
  packages/roller/__tests__/notation/isDiceNotation.comprehensive.test.ts
  packages/roller/__tests__/notation/isDiceNotation.test.ts
  packages/roller/__tests__/notation/notation.test.ts
  packages/roller/__tests__/roll/auditFixes.test.ts
  packages/roller/__tests__/roll/multiPoolMixed.test.ts
  packages/roller/__tests__/roll/roll.test.ts
  packages/roller/__tests__/spec/conformance-vectors.test.ts
  packages/roller/__tests__/trace.test.ts
  packages/roller/__tests__/validateNotation.test.ts
  packages/roller/bunup.config.ts
  packages/roller/package.json
  packages/roller/src/errors.ts
  packages/roller/src/notation/coreNotationPattern.ts
  packages/roller/src/notation/parse/singleNotationToOptions.ts
  packages/roller/src/notation/tokenize.ts
  packages/roller/src/notation/types.ts
  packages/roller/src/random.ts
  packages/roller/src/roll/index.ts
  packages/roller/src/roll/parseArguments.ts
  packages/roller/src/trace/traceRoll.ts
  packages/roller/src/types/results.ts
  packages/roller/test-utils/src/queueRandom.ts
  packages/roller/test-utils/src/seededRandom.ts
Due: lint, format

Path conditions:
  lint: any of: *.{ts,tsx,js,mjs}
  format: any of: *.{ts,tsx,js,json,md,astro,css}
