Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,mjs}"
      run: bun run lint --fix
      stage_fixed: true
    format:
      glob: "*.{ts,tsx,js,json,md,astro,css}"
      run: bun run format
      stage_fixed: true
    typecheck:
      run: bun run typecheck

pre-push:
  commands:
    test:
      run: bun test
    exports:
      run: bun run check:exports
    security:
      run: bun audit --audit-level high

feat: polish @randsum/display-utils — README, CLAUDE.md, metadata, browser target, bump to 3.0.1
  packages/display-utils/CLAUDE.md
  packages/display-utils/LICENSE
  packages/display-utils/README.md
  packages/display-utils/bunup.config.ts
  packages/display-utils/package.json
Due: lint, format

chore(daggerheart): rename DaggerheartAdvantageDisadvantage to DaggerheartExtraDieMode
  apps/site/src/content/docs/games/daggerheart.mdx
  games/daggerheart/CLAUDE.md
  games/daggerheart/package.json
  games/daggerheart/src/index.ts
  games/daggerheart/src/types.ts
Due: lint, format

feat(discord-bot): add SIGTERM/SIGINT graceful shutdown handlers
  apps/discord-bot/src/index.ts
Due: lint, format

fix(site): update all package versions in packageData.ts to 3.0.0/3.0.1
  apps/site/src/utils/packageData.ts
Due: lint, format

docs: fix CLAUDE.md broken links, add display-utils, fix coverage target
  CLAUDE.md
Due: format

chore: add check:exports to CI, fix codecov targets, add .d.ts size limits, fix lefthook
  .github/workflows/main.yml
  codecov.yml
  lefthook.yml
  package.json
Due: format

docs: fix return type signatures in blades, root-rpg, daggerheart READMEs
  games/blades/README.md
  games/daggerheart/README.md
  games/root-rpg/README.md
Due: format

chore: bump display-utils to ^3.0.1 in CLI, fix stale test docs in display-utils CLAUDE.md
  apps/cli/CLAUDE.md
  apps/cli/package.json
  packages/display-utils/CLAUDE.md
Due: format

chore: add notation .d.ts size-limit, lefthook size check, tsconfig display-utils ref, update CLAUDE.md hooks docs
  CLAUDE.md
  lefthook.yml
  package.json
  tsconfig.json
Due: format

test(salvageunion): fix property tests to cover all valid table names
  games/root-rpg/__tests__/roll.property.test.ts
  games/salvageunion/__tests__/roll.property.test.ts
Due: lint, format

fix: use bun audit in pre-push hook (npm fails on workspace: protocol)
  lefthook.yml
Due: none

WIP
  bun.lock
Due: none

chore: remove size check from pre-push hook
  lefthook.yml
Due: none

WIP
  apps/cli/CLAUDE.md
  apps/cli/package.json
  bun.lock
Due: format

Fix bump
  apps/cli/package.json
  bun.lock
Due: format

WIP
  packages/roller/__tests__/roll/parseArguments.test.ts
  packages/roller/src/roll/parseArguments.ts
  packages/roller/src/types/core.ts
Due: lint, format

chore(site): upgrade @astrojs/starlight to 0.38.0 for Zod 4 compatibility
  apps/site/package.json
  apps/site/src/content.config.ts
  bun.lock
  package.json
Due: lint, format

feat(site): migrate Google Fonts to Astro 6 built-in Fonts API
  apps/site/astro.config.mjs
  apps/site/src/styles/custom.css
Due: lint, format

feat(site): enable Astro 6 Content Security Policy with SHA-256 hashing
  apps/site/astro.config.mjs
Due: lint

WIP
  apps/site/astro.config.mjs
  apps/site/docs/plans/2026-03-10-astro6-best-practices.md
  apps/site/src/content/docs/index.mdx
Due: lint, format

no plans
  apps/site/docs/plans/2026-03-10-astro6-best-practices.md
Due: format

feat(gameSchema): add schema validator, build CLI, and outcomes ref support
  apps/discord-bot/src/commands/blades.ts
  bun.lock
  games/blades/.gitignore
  games/blades/README.md
  games/blades/__tests__/roll.property.test.ts
  games/blades/__tests__/roll.test.ts
  games/blades/blades.randsum.json
  games/blades/package.json
  games/blades/src/index.ts
  games/blades/src/roll/index.ts
  games/blades/src/roll/interpretHit.ts
  games/blades/src/types.ts
  games/blades/tsconfig.json
  games/gameSchema/README.md
  games/gameSchema/__tests__/fixtures/test.randsum.json
  games/gameSchema/__tests__/loader.test.ts
  games/gameSchema/__tests__/validator.test.ts
  games/gameSchema/bunup.config.ts
  games/gameSchema/package.json
  games/gameSchema/randsum.json
  games/gameSchema/scripts/codegen.ts
  games/gameSchema/src/bin-build.ts
  games/gameSchema/src/bin.ts
  games/gameSchema/src/codegen.ts
  games/gameSchema/src/conditionEvaluator.ts
  games/gameSchema/src/errors.ts
  games/gameSchema/src/index.ts
  games/gameSchema/src/inputBinder.ts
  games/gameSchema/src/loader.ts
  games/gameSchema/src/modifierTranslator.ts
  games/gameSchema/src/pipeline.ts
  games/gameSchema/src/refResolver.ts
  games/gameSchema/src/types.ts
  games/gameSchema/src/validator.ts
  games/gameSchema/tsconfig.json
  tsconfig.json
Due: lint, format

fix(deps): override tar to 7.5.11 to patch GHSA-9ppj-qmqm-q256
  bun.lock
  package.json
Due: format

fix(gameSchema): clean up codegen import/re-export to avoid GameRollResult alias
  games/gameSchema/src/codegen.ts
Due: lint, format

feat(gameSchema): generate naked-arg overloads for single-input roll functions
  games/gameSchema/src/codegen.ts
Due: lint, format

feat(gameSchema): add postResolveModifiers to types and meta-schema
  games/gameSchema/__tests__/postResolve.test.ts
  games/gameSchema/randsum.json
  games/gameSchema/src/types.ts
Due: lint, format

fix(gameSchema): export PostResolveModifyOperation, expand postResolveModifiers tests
  games/gameSchema/__tests__/postResolve.test.ts
  games/gameSchema/src/index.ts
Due: lint, format

feat(gameSchema): implement postResolveModifiers in pipeline
  games/gameSchema/__tests__/postResolve.test.ts
  games/gameSchema/src/pipeline.ts
Due: lint, format

feat(gameSchema): emit postResolveModifiers in codegen output
  games/gameSchema/__tests__/postResolve.test.ts
  games/gameSchema/src/codegen.ts
Due: lint, format

feat(gameSchema): use roller GameRollResult generic; numeric result when no outcome
  games/gameSchema/__tests__/numericResult.test.ts
  games/gameSchema/src/codegen.ts
  games/gameSchema/src/loader.ts
  games/gameSchema/src/pipeline.ts
  games/gameSchema/src/types.ts
Due: lint, format

feat(gameSchema): add build-time external \$ref resolver
  games/gameSchema/__tests__/externalRefResolver.test.ts
  games/gameSchema/src/errors.ts
  games/gameSchema/src/externalRefResolver.ts
  games/gameSchema/src/index.ts
Due: lint, format

feat(gameSchema): wire external ref resolution into build CLI
  eslint.config.js
  games/gameSchema/__tests__/buildCLI.test.ts
  games/gameSchema/src/bin-build.ts
Due: lint, format

feat(gameSchema): add dicePools and comparePool types to schema
  games/gameSchema/__tests__/multiPool.test.ts
  games/gameSchema/randsum.json
  games/gameSchema/src/codegen.ts
  games/gameSchema/src/index.ts
  games/gameSchema/src/pipeline.ts
  games/gameSchema/src/types.ts
Due: lint, format

feat(gameSchema): implement multi-pool execution and comparePool resolve in pipeline
  games/gameSchema/__tests__/multiPool.test.ts
  games/gameSchema/src/loader.ts
  games/gameSchema/src/pipeline.ts
Due: lint, format

feat(gameSchema): emit multi-pool executeRoll and compare logic in codegen
  games/gameSchema/__tests__/multiPool.test.ts
  games/gameSchema/src/codegen.ts
Due: lint, format

fix(gameSchema): resolve 4 code-review issues in codegen and pipeline
  apps/discord-bot/src/commands/blades.ts
  games/gameSchema/__tests__/degreeOfSuccess.test.ts
  games/gameSchema/__tests__/multiPool.test.ts
  games/gameSchema/randsum.json
  games/gameSchema/src/codegen.ts
  games/gameSchema/src/pipeline.ts
Due: lint, format

Schema Expansion
  .claude/agents/json-schema-expert.md
  .claude/agents/ttrpg-enthusiast.md
  apps/cli/package.json
  games/gameSchema/__tests__/fixtures/test.ts
  games/gameSchema/package.json
  package.json
  packages/component-library/package.json
  packages/display-utils/package.json
  scripts/publish.ts
  tsconfig.json
Due: lint, format

feat(gameSchema): add conditional IntegerOrInput variant for dynamic pool sides
  games/gameSchema/__tests__/dynamicPoolSides.test.ts
  games/gameSchema/randsum.json
  games/gameSchema/src/codegen.ts
  games/gameSchema/src/inputBinder.ts
  games/gameSchema/src/types.ts
Due: lint, format
