Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint --fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

chore: consolidate root scripts and CI package jobs; harden the bench gate (#1157)
  .github/workflows/ci.yml
  package.json
  scripts/bench-ci.ts
  scripts/check-workspace-scripts.ts
  scripts/help.ts
Due: lint, format

refactor(roller)!: single-pass lexer for notation — validate/parse/tokenize/roll unified
  .changeset/roller-single-pass-lexer.md
  packages/roller/CLAUDE.md
  packages/roller/README.md
  packages/roller/__tests__/notation/parse-extended.test.ts
  packages/roller/__tests__/notation/parseModifiers.allSchemas.test.ts
  packages/roller/package.json
  packages/roller/src/notation/isDiceNotation.ts
  packages/roller/src/notation/lexer/parse.ts
  packages/roller/src/notation/lexer/scan.ts
  packages/roller/src/notation/lexer/specs.ts
  packages/roller/src/notation/parse/notationToOptions.ts
  packages/roller/src/notation/parse/parseModifiers.ts
  packages/roller/src/notation/tokenize.ts
  packages/roller/src/notation/transformers/optionsToDescription.ts
  packages/roller/src/notation/types.ts
  packages/roller/src/notation/validateNotation.ts
  packages/roller/src/roll/parseArguments.ts
Due: lint, format

ci: raise dependabot cooldown to 7 days (zizmor minimum)
  .github/dependabot.yml
Due: none

ci: raise dependabot cooldown to 7 days (zizmor minimum) (#1161)
  .github/dependabot.yml
Due: none

fix(roller): iterative lexer + explicit xN scope, positioned errors
  .changeset/roller-single-pass-lexer.md
  packages/roller/__tests__/notation/repeatScope.test.ts
  packages/roller/__tests__/notation/tokenize.test.ts
  packages/roller/src/notation/lexer/parse.ts
  packages/roller/src/notation/lexer/scan.ts
Due: lint, format

chore(tooling): upgrade to TypeScript 7.0.2
  apps/rdn/package.json
  apps/site/package.json
  bun.lock
  knip.json
  package.json
Due: format

fix(tooling): repair Biome-migration regressions (codegen, astro hook, ADR-007, gritql)
  biome-plugins/no-double-assertion.grit
  biome-plugins/no-let.grit
  biome-plugins/no-tokenize-modifier-import.grit
  biome.json
  lefthook.yml
  packages/games/.prettierrc.json
Due: format

fix(roller): linear annotation scanning (CodeQL js/polynomial-redos)
  packages/roller/__tests__/notation/tokenize.test.ts
  packages/roller/src/notation/lexer/scan.ts
Due: lint, format

refactor(roller)!: single-pass lexer for notation — validate/parse/tokenize/roll unified (#1160)
  .changeset/roller-single-pass-lexer.md
  packages/roller/CLAUDE.md
  packages/roller/README.md
  packages/roller/__tests__/notation/parse-extended.test.ts
  packages/roller/__tests__/notation/parseModifiers.allSchemas.test.ts
  packages/roller/__tests__/notation/repeatScope.test.ts
  packages/roller/__tests__/notation/tokenize.test.ts
  packages/roller/package.json
  packages/roller/src/notation/isDiceNotation.ts
  packages/roller/src/notation/lexer/parse.ts
  packages/roller/src/notation/lexer/scan.ts
  packages/roller/src/notation/lexer/specs.ts
  packages/roller/src/notation/parse/notationToOptions.ts
  packages/roller/src/notation/parse/parseModifiers.ts
  packages/roller/src/notation/tokenize.ts
  packages/roller/src/notation/transformers/optionsToDescription.ts
  packages/roller/src/notation/types.ts
  packages/roller/src/notation/validateNotation.ts
  packages/roller/src/roll/parseArguments.ts
Due: lint, format

chore(knip): re-enable unused-export and unused-type detection
  knip.json
  packages/dice-ui/src/useTheme.tsx
  packages/games/__tests__/lib/fixtures/test.ts
  packages/games/__tests__/lib/fixtures/types.ts
  packages/games/src/lib/typeGuards.ts
  packages/roller/src/modifiers/schema.ts
  packages/roller/src/random.ts
Due: lint, format

chore(knip): re-enable unused-export and unused-type detection (#1166)
  knip.json
  packages/dice-ui/src/useTheme.tsx
  packages/games/__tests__/lib/fixtures/test.ts
  packages/games/__tests__/lib/fixtures/types.ts
  packages/games/src/lib/typeGuards.ts
  packages/roller/src/modifiers/schema.ts
  packages/roller/src/random.ts
Due: lint, format

feat(mcp): add project-scoped netlify MCP server
  .mcp.json
  CLAUDE.md
Due: format

feat(mcp): add project-scoped netlify MCP server (#1167)
  .mcp.json
  CLAUDE.md
Due: format

chore(tooling): complete the Biome conversion — drop scoped Prettier from games codegen and .astro
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  apps/cli/CLAUDE.md
  apps/discord-bot/CLAUDE.md
  apps/rdn/.prettierrc.json
  apps/rdn/CLAUDE.md
  apps/rdn/conformance-gen.ts
  apps/rdn/package.json
  apps/rdn/src/components/MobileMenu.astro
  apps/rdn/src/components/OnThisPage.astro
  apps/rdn/src/components/ShareActions.astro
  apps/site/.prettierrc.json
  apps/site/package.json
  biome.json
  bun.lock
  lefthook.yml
  packages/dice-ui/CLAUDE.md
  packages/dice-ui/README.md
  packages/games/.prettierrc.json
  packages/games/CLAUDE.md
  packages/games/__tests__/lib/codegen-snapshots.test.ts
  packages/games/codegen.ts
  packages/games/docs/codegen-extension.md
  packages/games/package.json
  packages/games/src/lib/formatGeneratedCode.ts
  packages/games/src/lib/index.ts
  packages/mcp/CLAUDE.md
  packages/roller/CLAUDE.md
  scripts/help.ts
Due: lint, format

docs: fix review nits — biome (not prettier/eslint) in docs, honest stdin-path comment
  CLAUDE.md
  README.md
  packages/games/docs/codegen-extension.md
  packages/games/src/lib/formatGeneratedCode.ts
  packages/roller/CLAUDE.md
  scripts/help.ts
Due: lint, format

chore(tooling): complete the Biome conversion — drop scoped Prettier from games codegen and .astro (#1168)
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  apps/cli/CLAUDE.md
  apps/discord-bot/CLAUDE.md
  apps/rdn/.prettierrc.json
  apps/rdn/CLAUDE.md
  apps/rdn/conformance-gen.ts
  apps/rdn/package.json
  apps/rdn/src/components/MobileMenu.astro
  apps/rdn/src/components/OnThisPage.astro
  apps/rdn/src/components/ShareActions.astro
  apps/site/.prettierrc.json
  apps/site/package.json
  biome.json
  bun.lock
  lefthook.yml
  packages/dice-ui/CLAUDE.md
  packages/dice-ui/README.md
  packages/games/.prettierrc.json
  packages/games/CLAUDE.md
  packages/games/__tests__/lib/codegen-snapshots.test.ts
  packages/games/codegen.ts
  packages/games/docs/codegen-extension.md
  packages/games/package.json
  packages/games/src/lib/formatGeneratedCode.ts
  packages/games/src/lib/index.ts
  packages/mcp/CLAUDE.md
  packages/roller/CLAUDE.md
  scripts/help.ts
Due: lint, format

fix(release): pin npm 11 (npm 12.0.0 sigstore regression); align mcp version above its npm lineage
  .changeset/mcp-two-oh.md
  .github/workflows/publish.yml
  packages/mcp/package.json
Due: format

fix(release): pin npm 11 (npm 12 sigstore regression); mcp version continues its npm lineage (#1169)
  .changeset/mcp-two-oh.md
  .github/workflows/publish.yml
  packages/mcp/package.json
Due: format

chore(deps-dev): bump @happy-dom/global-registrator 20.10.3 -> 20.10.6
  bun.lock
  packages/dice-ui/package.json
Due: format

chore(deps-dev): bump @happy-dom/global-registrator to 20.10.6 (#1171)
  bun.lock
  packages/dice-ui/package.json
Due: format

feat(site,rdn): add Ko-fi support button to public pages
  apps/rdn/src/components/KofiButton.astro
  apps/rdn/src/layouts/SpecLayout.astro
  apps/site/astro.config.mjs
  apps/site/src/components/Footer.astro
  apps/site/src/components/KofiButton.astro
  apps/site/src/components/landing/LandingFooter.astro
  apps/site/src/pages/discord.astro
Due: lint, format

feat(site,rdn): add Ko-fi support button to public pages (#1173)
  apps/rdn/src/components/KofiButton.astro
  apps/rdn/src/layouts/SpecLayout.astro
  apps/site/astro.config.mjs
  apps/site/src/components/Footer.astro
  apps/site/src/components/KofiButton.astro
  apps/site/src/components/landing/LandingFooter.astro
  apps/site/src/pages/discord.astro
Due: lint, format

fix(publish): guard against unresolved workspace: protocol + republish broken legacy 1.x games
  scripts/publish.ts
  scripts/republish-legacy-1x.ts
Due: lint, format

fix(publish): block non-bun publish so workspace: refs always resolve
  apps/cli/package.json
  packages/games/package.json
  packages/mcp/package.json
  packages/roller/package.json
  scripts/ensure-bun-publish.ts
Due: lint, format

docs(publish): keep assertNoWorkspaceProtocol JSDoc with its function
  scripts/publish.ts
Due: lint, format

fix(publish): make unresolved workspace: refs impossible to publish + republish broken legacy 1.x games (#1174)
  apps/cli/package.json
  packages/games/package.json
  packages/mcp/package.json
  packages/roller/package.json
  scripts/ensure-bun-publish.ts
  scripts/publish.ts
  scripts/republish-legacy-1x.ts
Due: lint, format

fix(security): clear the 10 high advisories blocking the audit CI gate
  bun.lock
  package.json
Due: format

fix(security): clear the 10 high advisories blocking the audit CI gate (#1192)
  bun.lock
  package.json
Due: format

feat(discord-bot): deprecate /su, replace with /salvageunion pointing at SURef
  apps/discord-bot/__tests__/commands/salvageunion.test.ts
  apps/discord-bot/src/commands/salvageunion.ts
Due: lint, format

feat(discord-bot): remove /su and update docs for the /salvageunion move
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/LISTING.md
  apps/discord-bot/README.md
  apps/discord-bot/__tests__/commands/index.test.ts
  apps/discord-bot/__tests__/commands/su.test.ts
  apps/discord-bot/src/commands/index.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/su.ts
  apps/discord-bot/src/events/guildCreate.ts
  apps/site/src/content/docs/tools/discord-bot.mdx
  apps/site/src/pages/discord.astro
Due: lint, format

feat(discord-bot): deprecate /su, replace with /salvageunion pointing at SURef (#1191)
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/LISTING.md
  apps/discord-bot/README.md
  apps/discord-bot/__tests__/commands/index.test.ts
  apps/discord-bot/__tests__/commands/salvageunion.test.ts
  apps/discord-bot/__tests__/commands/su.test.ts
  apps/discord-bot/src/commands/index.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/salvageunion.ts
  apps/discord-bot/src/commands/su.ts
  apps/discord-bot/src/events/guildCreate.ts
  apps/site/src/content/docs/tools/discord-bot.mdx
  apps/site/src/pages/discord.astro
Due: lint, format

fix(ci): unblock the merge gate — suppress three unfixable advisories
  .github/workflows/ci.yml
  lefthook.yml
  osv-scanner.toml
Due: none

fix(ci): carry the audit suppressions into the weekly cron; correct four comments
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  osv-scanner.toml
Due: none

fix(ci): unblock the merge gate — suppress three unfixable advisories (#1197)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  lefthook.yml
  osv-scanner.toml
Due: none

docs(site,rdn): record why TypeScript stays at 6.0.3 in the Astro apps
  apps/rdn/CLAUDE.md
  apps/site/CLAUDE.md
Due: format

docs(site,rdn): record why TypeScript stays at 6.0.3 in the Astro apps (#1204)
  apps/rdn/CLAUDE.md
  apps/site/CLAUDE.md
Due: format

Path conditions:
  lint: any of: *.{ts,tsx,js,mjs}
  format: any of: *.{ts,tsx,js,json,md,astro,css}
