Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint --fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

feat(site): add extractRandsumDeps utility with tests
  apps/site/__tests__/extractRandsumDeps.test.ts
  apps/site/src/components/live-repl/extractRandsumDeps.ts
Due: lint, format

feat(site): add OpenInStackBlitz React island
  apps/site/src/components/live-repl/OpenInStackBlitz.tsx
  docs/plans/2026-03-06-roller-playground.md
Due: lint, format

feat(site): wire OpenInStackBlitz island into LiveRepl for TypeScript blocks
  apps/site/src/components/live-repl/LiveRepl.astro
Due: format

feat(site): add formatBreakdown helper with tests
  apps/site/__tests__/formatBreakdown.test.ts
  apps/site/src/components/playground/helpers/formatBreakdown.ts
Due: lint, format

fix(site): merge imports and fix unsafe cast in formatBreakdown test
  apps/site/__tests__/formatBreakdown.test.ts
Due: lint, format

feat(site): add RollerPlayground React component
  apps/site/src/components/playground/RollerPlayground.tsx
Due: lint, format

fix(site): add unmount cleanup and aria-label to RollerPlayground
  apps/site/src/components/playground/RollerPlayground.tsx
Due: lint, format

feat(site): add RollerPlayground CSS
  apps/site/src/components/playground/RollerPlayground.css
Due: format

feat(site): replace static code example with RollerPlayground in hero
  apps/site/src/pages/index.astro
Due: format

fix(site): use named import for RollerPlayground and add bottom margin to wrap
  apps/site/src/pages/index.astro
Due: format

fix(roller): restore DiceNotation as template literal type, add type regression test
  packages/roller/__tests__/roll/roll.types.test.ts
  packages/roller/src/isDiceNotation.ts
  packages/roller/src/types/core.ts
  packages/roller/tsconfig.json
Due: lint, format

chore(roller): bump version to 1.1.1
  packages/roller/package.json
Due: format

fix(site): move result chip inline with input row, match button shape
  apps/site/src/components/playground/RollerPlayground.css
  apps/site/src/components/playground/RollerPlayground.tsx
Due: lint, format

feat(site): tighter tooltip spacing and smart flip direction
  apps/site/src/components/playground/RollerPlayground.css
  apps/site/src/components/playground/RollerPlayground.tsx
Due: lint, format

fix(site): show all initial rolls in Rolled step, tighten tooltip rows
  apps/site/src/components/playground/RollerPlayground.css
  apps/site/src/components/playground/RollerPlayground.tsx
Due: lint, format

fix(site): fix row height via line-height:1, remove letter-spacing
  apps/site/src/components/playground/RollerPlayground.css
Due: format

fix(site): remove row separators, dramatically reduce row padding
  apps/site/src/components/playground/RollerPlayground.css
Due: format

fix(site): tighten tooltip number spacing, header gap, and total alignment
  apps/site/src/components/playground/RollerPlayground.css
Due: format

fix(site): tighten number spacing in tooltip rows
  apps/site/src/components/playground/RollerPlayground.tsx
Due: lint, format

feat(site): move Roll/Reroll button to left side of input
  apps/site/src/components/playground/RollerPlayground.css
  apps/site/src/components/playground/RollerPlayground.tsx
Due: lint, format

fix(site): balance button and chip margins symmetrically in shell
  apps/site/src/components/playground/RollerPlayground.css
Due: format

fix(site): fix vertical text alignment between button and input
  apps/site/src/components/playground/RollerPlayground.css
Due: format

fix(site): use align-self:stretch on input-wrap for true vertical centering
  apps/site/src/components/playground/RollerPlayground.css
Due: format

docs: update tagline and copy across site and packages
  README.md
  apps/site/src/content/docs/getting-started/introduction.mdx
  apps/site/src/content/docs/index.mdx
  apps/site/src/pages/index.astro
  packages/roller/README.md
  packages/roller/package.json
Due: format

feat(site): polish RollerPlayground UX
  apps/site/src/components/playground/RollerPlayground.css
  apps/site/src/components/playground/RollerPlayground.tsx
Due: lint, format

feat(site): redesign RollerPlayground layout and UX
  apps/site/src/components/playground/RollerPlayground.css
  apps/site/src/components/playground/RollerPlayground.tsx
Due: lint, format

feat(site): add defaultNotation prop to RollerPlayground
  apps/site/src/components/playground/RollerPlayground.tsx
  packages/roller/src/index.ts
  packages/roller/src/internal/api.ts
  packages/roller/src/lib/comparison/index.ts
  packages/roller/src/lib/comparison/parseComparisonNotation.ts
  packages/roller/src/lib/modifiers/definitions/cap.ts
  packages/roller/src/lib/modifiers/definitions/replace.ts
Due: lint, format

refactor(site): rename LiveRepl to CodeExample
  apps/site/src/components/live-repl/CodeExample.astro
Due: format

refactor(site): rename LiveRepl → CodeExample in game and tool pages
  apps/site/src/content/docs/games/blades.mdx
  apps/site/src/content/docs/games/comparison.mdx
  apps/site/src/content/docs/games/daggerheart.mdx
  apps/site/src/content/docs/games/fifth.mdx
  apps/site/src/content/docs/games/overview.mdx
  apps/site/src/content/docs/games/pbta.mdx
  apps/site/src/content/docs/games/root-rpg.mdx
  apps/site/src/content/docs/games/salvageunion.mdx
  apps/site/src/content/docs/getting-started/faq.mdx
  apps/site/src/content/docs/getting-started/installation.mdx
  apps/site/src/content/docs/guides/custom-game-packages.mdx
  apps/site/src/content/docs/guides/testing.mdx
  apps/site/src/content/docs/tools/discord-bot.mdx
  apps/site/src/content/docs/tools/skill/index.mdx
Due: none

feat(site): add RollerPlayground to introduction page
  apps/site/src/content/docs/getting-started/introduction.mdx
Due: none

feat(site): add RollerPlayground embeds to roll-options reference
  apps/site/src/content/docs/reference/roll-options.mdx
Due: none

feat(site): add RollerPlayground embeds to error-handling guide
  apps/site/src/content/docs/guides/error-handling.mdx
  apps/site/src/content/docs/reference/modifiers.mdx
Due: none

feat(site): add RollerPlayground embeds to docs pages
  apps/site/src/content/docs/getting-started/quick-start.mdx
  apps/site/src/content/docs/guides/recipes.mdx
  apps/site/src/content/docs/packages/roller.mdx
  apps/site/src/content/docs/reference/dice-notation.mdx
Due: none

fix(site): respect readonly prop in CodeExample to suppress StackBlitz button
  apps/site/src/components/live-repl/CodeExample.astro
Due: format

fix(site): fix ordering and labeling issues in docs playgrounds
  apps/site/src/content/docs/guides/recipes.mdx
  apps/site/src/content/docs/reference/modifiers.mdx
Due: none

refactor(site): remove readonly prop from CodeExample
  apps/site/src/components/live-repl/CodeExample.astro
  apps/site/src/components/playground/RollerPlayground.css
  apps/site/src/content/docs/games/blades.mdx
  apps/site/src/content/docs/games/comparison.mdx
  apps/site/src/content/docs/games/daggerheart.mdx
  apps/site/src/content/docs/games/fifth.mdx
  apps/site/src/content/docs/games/overview.mdx
  apps/site/src/content/docs/games/pbta.mdx
  apps/site/src/content/docs/games/root-rpg.mdx
  apps/site/src/content/docs/games/salvageunion.mdx
  apps/site/src/content/docs/getting-started/installation.mdx
  apps/site/src/content/docs/guides/custom-game-packages.mdx
  apps/site/src/content/docs/guides/testing.mdx
  apps/site/src/content/docs/packages/roller.mdx
  apps/site/src/content/docs/reference/modifiers.mdx
  apps/site/src/content/docs/reference/roll-options.mdx
  apps/site/src/content/docs/tools/discord-bot.mdx
  apps/site/src/content/docs/tools/skill/index.mdx
  docs/plans/2026-03-06-component-library-design.md
  docs/plans/2026-03-06-component-library-implementation.md
  docs/plans/2026-03-06-roller-playground-docs.md
  packages/roller/RANDSUM_DICE_NOTATION.md
  packages/roller/__tests__/isDiceNotation.test.ts
  packages/roller/__tests__/roll/roll.dist.types.test.ts
  packages/roller/package.json
  packages/roller/src/lib/comparison/formatComparisonDescription.ts
  packages/roller/src/lib/comparison/formatComparisonNotation.ts
  packages/roller/src/lib/comparison/matchesComparison.ts
  packages/roller/src/lib/modifiers/definitions/drop.ts
  packages/roller/src/lib/modifiers/definitions/reroll.ts
  packages/roller/src/presets.ts
  packages/roller/src/types/modifiers.ts
  skills/dice-rolling/SKILL.md
Due: lint, format

feat(component-library): scaffold package
  packages/component-library/package.json
  packages/component-library/tsconfig.json
  tsconfig.json
Due: format

feat(component-library): add RollerPlayground CSS with hardcoded defaults
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
Due: format

feat(component-library): add RollerPlayground component
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
  packages/component-library/tsconfig.json
Due: lint, format

feat(component-library): add package entry points
  packages/component-library/src/components/RollerPlayground/index.ts
  packages/component-library/src/index.ts
Due: lint, format

Path conditions:
  lint: any of: *.{ts,tsx,js,mjs}
  format: any of: *.{ts,tsx,js,json,md,astro,css}
