Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,mjs}"
      run: bun run lint --fix
      stage_fixed: true
    format:
      glob: "*.{ts,tsx,js,json,md,astro,css}"
      run: bun run format
      stage_fixed: true
    typecheck:
      run: bun run typecheck

pre-push:
  commands:
    test:
      run: bun test
    exports:
      run: bun run check:exports
    security:
      run: bun audit --audit-level high

fix(site): correct Error Handling guide — total is 0 not undefined, remove game package error section
  apps/site/src/content/docs/guides/error-handling.mdx
Due: none

docs(site): add Recipes guide
  apps/site/src/content/docs/guides/recipes.mdx
Due: none

fix(site): use fate.result instead of rolls[0].customResults in Recipes guide
  apps/site/src/content/docs/guides/recipes.mdx
Due: none

docs(site): add Custom Game Packages guide
  apps/site/src/content/docs/guides/custom-game-packages.mdx
Due: none

fix(site): correct computeDetails example and improve validate section in Custom Game Packages guide
  apps/site/src/content/docs/guides/custom-game-packages.mdx
Due: none

fix(site): professional polish — window dots, card lift, button glow, tighter typography
  apps/site/src/pages/index.astro
Due: format

fix(site): give Roller gold and LLM Skill cyan — resolve color collisions with game packages
  apps/site/src/styles/custom.css
Due: format

fix(site): give Roller gold and LLM Skill cyan — resolve color collisions with game packages
  apps/site/src/styles/custom.css
  apps/site/src/utils/packageData.ts
Due: lint, format

fix(site): clean up Testing guide — remove unused import, align LCG style, fix misleading test
  apps/site/src/content/docs/guides/testing.mdx
Due: none

docs(site): add Testing guide
  apps/site/src/content/docs/guides/testing.mdx
Due: none

fix(site): tighten landing page spacing to increase real estate
  apps/site/src/pages/index.astro
Due: format

fix(site): set roller color to white; align game colors with CSS variables
  apps/site/src/styles/custom.css
  apps/site/src/utils/packageData.ts
Due: lint, format

docs(site): add guides and FAQ with sidebar restructure and UI polish (#928)
  apps/site/src/pages/index.astro
  apps/site/src/styles/custom.css
  apps/site/src/utils/packageData.ts
Due: lint, format

fix(site): set roller card color to white/dark per mode
  apps/site/src/pages/index.astro
  apps/site/src/styles/custom.css
  apps/site/src/utils/packageData.ts
Due: lint, format

fix(site): format brace-containing notations as code in dice-notation reference
  apps/site/src/content/docs/reference/dice-notation.mdx
Due: none

docs: add interactive code examples design doc
  docs/plans/2026-03-05-interactive-code-examples-design.md
Due: format

chore(site): add react-syntax-highlighter
  apps/site/package.json
  bun.lock
Due: format

feat(site): add roll result formatting utilities
  apps/site/__tests__/formatLiveResult.test.ts
  apps/site/src/components/rollable-code/formatLiveResult.ts
Due: lint, format

refactor(site): fix findLastIndex short-circuit and remove internal mutation
  apps/site/src/components/rollable-code/formatLiveResult.ts
Due: lint, format

feat(site): add RollableCode interactive component
  apps/site/src/components/rollable-code/RollableCode.css
  apps/site/src/components/rollable-code/RollableCode.tsx
Due: lint, format

fix(site): guard against empty rolls array in RollableCode
  apps/site/src/components/rollable-code/RollableCode.tsx
Due: lint, format

feat(site): add live roll examples to quick-start page
  apps/site/src/content/docs/getting-started/quick-start.mdx
Due: none

docs(site): document client:only requirement on RollableCode
  apps/site/src/components/rollable-code/RollableCode.tsx
Due: lint, format

feat(site): add live examples to modifiers reference
  apps/site/src/content/docs/reference/modifiers.mdx
Due: none

feat(site): add live examples to dice notation reference
  apps/site/src/content/docs/reference/dice-notation.mdx
Due: none

feat(site): add live examples to recipes guide
  apps/site/src/components/rollable-code/RollableCode.tsx
  apps/site/src/content/docs/guides/recipes.mdx
Due: lint, format

fix(site): remove always-falsy rolls length guard
  apps/site/src/components/rollable-code/RollableCode.tsx
Due: lint, format

fix(site): add light/dark theme support to RollableCode
  apps/site/src/components/rollable-code/RollableCode.tsx
Due: lint, format

fix(site): format brace notations as code + add skills and plan docs
  apps/site/src/content/docs/reference/dice-notation.mdx
  docs/plans/2026-03-05-interactive-code-examples.md
  skills/dice-rolling/SKILL.md
  skills/dice-rolling/references/GAME_SYSTEMS.md
  skills/dice-rolling/references/NOTATION.md
Due: format

fix(site): escape <= in MDX table cell to prevent JSX parse error
  apps/site/src/content/docs/reference/dice-notation.mdx
Due: none

feat(site): restyle RollableCode with traffic lights and persistent result pane
  apps/site/src/components/rollable-code/RollableCode.css
  apps/site/src/components/rollable-code/RollableCode.tsx
Due: lint, format

fix(site): vertically center buttons in RollableCode header
  apps/site/src/components/rollable-code/RollableCode.css
Due: format

fix(site): remove double border lines and fix button stacking in RollableCode
  apps/site/src/components/rollable-code/RollableCode.css
  apps/site/src/components/rollable-code/RollableCode.tsx
Due: lint, format

docs(cli): document intentional npm ref for roller dependency
  apps/cli/CLAUDE.md
Due: format

chore: remove redundant binary patterns from .prettierignore
  .prettierignore
Due: none

chore: remove unused react-native field from all package.json files
  packages/blades/package.json
  packages/daggerheart/package.json
  packages/fifth/package.json
  packages/pbta/package.json
  packages/roller/package.json
  packages/root-rpg/package.json
  packages/salvageunion/package.json
Due: format

chore(eslint): soften explicit-member-accessibility for accessors
  eslint.config.js
Due: lint, format

chore(roller): add satisfies to ERROR_CODES for compile-time shape validation
  docs/plans/2026-03-05-live-repl-design.md
  packages/roller/src/errors.ts
Due: lint, format

fix(roller): re-export RandomFn through public API in test-utils
  packages/roller/test-utils/src/index.ts
Due: lint, format

feat(roller): make ErrorCode extensible for custom game package error codes
  packages/roller/src/errors.ts
Due: lint, format
