Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint --fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

feat(discord-bot): reconcile slash commands on startup
  apps/DEPLOY.md
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/README.md
  apps/discord-bot/__tests__/utils/syncCommands.test.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/utils/syncCommands.ts
Due: lint, format

fix(discord-bot): answer unknown commands instead of timing out
  apps/discord-bot/__tests__/events/interactionCreate.test.ts
  apps/discord-bot/src/events/interactionCreate.ts
Due: lint, format

fix(discord-bot): answer unknown commands instead of timing out (#1194)
  apps/discord-bot/__tests__/events/interactionCreate.test.ts
  apps/discord-bot/src/events/interactionCreate.ts
Due: lint, format

feat(discord-bot): reconcile slash commands on startup (#1195)
  apps/DEPLOY.md
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/README.md
  apps/discord-bot/__tests__/utils/syncCommands.test.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/utils/syncCommands.ts
Due: lint, format

chore(mcp): fix 1Password refs — kebab-case rename + a github ref that never resolved
  CLAUDE.md
  scripts/mcp-1password-headers.sh
Due: format

chore(mcp): fix 1Password refs — kebab-case rename + a github ref that never resolved (#1188)
  CLAUDE.md
  scripts/mcp-1password-headers.sh
Due: format

fix(security): raise the nanoid floor to 3.3.18 (GHSA-2v37-7h3g-55p8)
  bun.lock
  package.json
Due: format

fix(ci): accept the unfixable extract-zip advisory (GHSA-jmr9-qjv8-65gv)
  .github/workflows/ci.yml
  .github/workflows/security.yml
  lefthook.yml
  osv-scanner.toml
Due: none

fix(security): clear the three fixable advisories the sca job reports
  .github/workflows/ci.yml
  apps/rdn/package.json
  apps/site/package.json
  bun.lock
  osv-scanner.toml
  package.json
Due: format

fix(sca): scan bun.lock directly so the pre-push mirror works in a worktree
  scripts/sca-scan.sh
Due: none

fix(security): clear both advisory gates — nanoid floor, the unfixable extract-zip advisory, and the three fixable sca findings (#1210)
  .github/workflows/ci.yml
  .github/workflows/security.yml
  apps/rdn/package.json
  apps/site/package.json
  bun.lock
  lefthook.yml
  osv-scanner.toml
  package.json
  scripts/sca-scan.sh
Due: format

feat(ci): add check:ci-aggregator so the CI Gate cannot silently stop gating
  .github/workflows/ci.yml
  package.json
  scripts/check-ci-aggregator.ts
Due: lint, format

feat(ci): add check:ci-aggregator so the CI Gate cannot silently stop gating (#1209)
  .github/workflows/ci.yml
  package.json
  scripts/check-ci-aggregator.ts
Due: lint, format

chore(ci): rename the aggregate gate's display name to "CI Success"
  .dependency-cruiser.cjs
  .github/workflows/ci.yml
  .github/workflows/workflow-lint.yml
  lefthook.yml
  osv-scanner.toml
  scripts/check-ci-aggregator.ts
  scripts/check-workspace-scripts.ts
Due: lint, format

chore(ci): rename the aggregate gate display name to "CI Success" (#1208)
  .dependency-cruiser.cjs
  .github/workflows/ci.yml
  .github/workflows/workflow-lint.yml
  lefthook.yml
  osv-scanner.toml
  scripts/check-ci-aggregator.ts
  scripts/check-workspace-scripts.ts
Due: lint, format

fix(discord-bot): make Sentry actually report, and stop syncCommands crashing the boot
  apps/DEPLOY.md
  apps/discord-bot/.env.example
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/__tests__/utils/errorTracker.test.ts
  apps/discord-bot/__tests__/utils/syncCommands.test.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/utils/errorTracker.ts
  apps/discord-bot/src/utils/syncCommands.ts
Due: lint, format

fix(discord-bot): make Sentry actually report, and stop syncCommands crashing the boot (#1214)
  apps/DEPLOY.md
  apps/discord-bot/.env.example
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/__tests__/utils/errorTracker.test.ts
  apps/discord-bot/__tests__/utils/syncCommands.test.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/utils/errorTracker.ts
  apps/discord-bot/src/utils/syncCommands.ts
Due: lint, format

fix(discord-bot): make the gateway connection observable
  apps/DEPLOY.md
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/__tests__/utils/gateway.test.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/utils/gateway.ts
  apps/discord-bot/src/utils/metrics.ts
Due: lint, format

fix(discord-bot): make the gateway connection observable (#1215)
  apps/DEPLOY.md
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/__tests__/utils/gateway.test.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/utils/gateway.ts
  apps/discord-bot/src/utils/metrics.ts
Due: lint, format

docs: link the Butter Stack from the README
  README.md
Due: format

docs: link the Butter Stack from the README (#1216)
  README.md
Due: format

feat(discord-bot): add Discord-webhook alerting and a dead-man's-switch heartbeat
  apps/discord-bot/.env.example
  apps/discord-bot/__tests__/utils/errorTracker.test.ts
  apps/discord-bot/__tests__/utils/heartbeat.test.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/utils/errorTracker.ts
  apps/discord-bot/src/utils/heartbeat.ts
  render.yaml
Due: lint, format

feat(discord-bot): Discord-webhook alerting and a dead-man's-switch heartbeat (#1217)
  apps/discord-bot/.env.example
  apps/discord-bot/__tests__/utils/errorTracker.test.ts
  apps/discord-bot/__tests__/utils/heartbeat.test.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/utils/errorTracker.ts
  apps/discord-bot/src/utils/heartbeat.ts
  render.yaml
Due: lint, format

feat(rdn): add Cloudflare Workers deploy for notation.randsum.dev
  .github/workflows/deploy-cloudflare.yml
  apps/rdn/wrangler.jsonc
Due: none

docs(rdn): record the dual Netlify/Cloudflare deploy during migration
  apps/rdn/CLAUDE.md
Due: format

feat(rdn): Cloudflare Workers deploy for notation.randsum.dev (#1218)
  .github/workflows/deploy-cloudflare.yml
  apps/rdn/CLAUDE.md
  apps/rdn/wrangler.jsonc
Due: format

feat(site): add a Cloudflare Workers build target for randsum.dev
  .github/workflows/deploy-cloudflare.yml
  .gitignore
  apps/site/astro.config.mjs
  apps/site/package.json
  apps/site/public/_headers
  apps/site/wrangler.jsonc
  bun.lock
Due: lint, format

feat(site): Cloudflare Workers build target for randsum.dev (#1219)
  .github/workflows/deploy-cloudflare.yml
  .gitignore
  apps/site/astro.config.mjs
  apps/site/package.json
  apps/site/public/_headers
  apps/site/wrangler.jsonc
  bun.lock
Due: lint, format

fix(ci): skip Cloudflare deploy when the API token is absent
  .github/workflows/deploy-cloudflare.yml
Due: none

fix(ci): skip Cloudflare deploy when the API token is absent (#1220)
  .github/workflows/deploy-cloudflare.yml
Due: none

refactor(discord-bot): separate command logic from the gateway transport
  apps/discord-bot/__tests__/commands/lib/context.test.ts
  apps/discord-bot/src/commands/blades.ts
  apps/discord-bot/src/commands/dh.ts
  apps/discord-bot/src/commands/fate.ts
  apps/discord-bot/src/commands/fifth.ts
  apps/discord-bot/src/commands/lib/context.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/pbta.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/commands/root.ts
Due: lint, format

refactor(discord-bot): separate command logic from the gateway transport (#1221)
  apps/discord-bot/__tests__/commands/lib/context.test.ts
  apps/discord-bot/src/commands/blades.ts
  apps/discord-bot/src/commands/dh.ts
  apps/discord-bot/src/commands/fate.ts
  apps/discord-bot/src/commands/fifth.ts
  apps/discord-bot/src/commands/lib/context.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/pbta.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/commands/root.ts
Due: lint, format

feat(discord-bot): add the HTTP-interactions Worker (dispatch + signature check)
  apps/discord-bot/__tests__/worker/dispatch.test.ts
  apps/discord-bot/__tests__/worker/verify.test.ts
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/types.ts
  apps/discord-bot/src/utils/discord.worker.ts
  apps/discord-bot/src/worker/dispatch.ts
  apps/discord-bot/src/worker/index.ts
  apps/discord-bot/src/worker/verify.ts
  bun.lock
Due: lint, format

chore(discord-bot): drop the Worker discord barrel until it is used
  apps/discord-bot/package.json
  apps/discord-bot/src/utils/discord.worker.ts
  bun.lock
  knip.json
Due: lint, format

feat(discord-bot): HTTP-interactions Worker — dispatch + signature verification (#1222)
  apps/discord-bot/__tests__/worker/dispatch.test.ts
  apps/discord-bot/__tests__/worker/verify.test.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/types.ts
  apps/discord-bot/src/worker/dispatch.ts
  apps/discord-bot/src/worker/index.ts
  apps/discord-bot/src/worker/verify.ts
  knip.json
Due: lint, format

feat(discord-bot): make the Worker bundleable — split the discord barrel
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/blades.ts
  apps/discord-bot/src/commands/dh.ts
  apps/discord-bot/src/commands/fate.ts
  apps/discord-bot/src/commands/fifth.ts
  apps/discord-bot/src/commands/help.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/notation.ts
  apps/discord-bot/src/commands/pbta.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/commands/root.ts
  apps/discord-bot/src/commands/salvageunion.ts
  apps/discord-bot/src/events/guildCreate.ts
  apps/discord-bot/src/types.ts
  apps/discord-bot/src/utils/builders.ts
  apps/discord-bot/src/utils/ephemeral.ts
  apps/discord-bot/src/utils/errorTracker.ts
  apps/discord-bot/src/utils/replyWithError.ts
  apps/discord-bot/src/worker/dispatch.ts
  apps/discord-bot/wrangler.jsonc
  bun.lock
Due: lint, format

feat(discord-bot): make the Worker bundleable — split the discord barrel (#1223)
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/blades.ts
  apps/discord-bot/src/commands/dh.ts
  apps/discord-bot/src/commands/fate.ts
  apps/discord-bot/src/commands/fifth.ts
  apps/discord-bot/src/commands/help.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/notation.ts
  apps/discord-bot/src/commands/pbta.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/commands/root.ts
  apps/discord-bot/src/commands/salvageunion.ts
  apps/discord-bot/src/events/guildCreate.ts
  apps/discord-bot/src/types.ts
  apps/discord-bot/src/utils/builders.ts
  apps/discord-bot/src/utils/ephemeral.ts
  apps/discord-bot/src/utils/errorTracker.ts
  apps/discord-bot/src/utils/replyWithError.ts
  apps/discord-bot/src/worker/dispatch.ts
  apps/discord-bot/wrangler.jsonc
  bun.lock
Due: lint, format

feat(discord-bot): port /help and /salvageunion to the Worker
  apps/discord-bot/__tests__/commands/help.test.ts
  apps/discord-bot/__tests__/worker/dispatch.test.ts
  apps/discord-bot/src/commands/help.ts
  apps/discord-bot/src/commands/index.ts
  apps/discord-bot/src/commands/lib/registry.ts
  apps/discord-bot/src/commands/salvageunion.ts
Due: lint, format

feat(discord-bot): port /help and /salvageunion to the Worker (#1224)
  apps/discord-bot/__tests__/commands/help.test.ts
  apps/discord-bot/__tests__/worker/dispatch.test.ts
  apps/discord-bot/src/commands/help.ts
  apps/discord-bot/src/commands/index.ts
  apps/discord-bot/src/commands/lib/registry.ts
  apps/discord-bot/src/commands/salvageunion.ts
Due: lint, format

feat(discord-bot): port /notation to the Worker; vendor Cloudflare skills
  .claude/skills/add-modifier/SKILL.md
  .claude/skills/codegen/SKILL.md
  .claude/skills/create-game/SKILL.md
  .claude/skills/publish/SKILL.md
  .claude/skills/web-perf/SKILL.md
  .claude/skills/workers-best-practices/SKILL.md
  .claude/skills/workers-best-practices/references/review.md
  .claude/skills/workers-best-practices/references/rules.md
  .claude/skills/wrangler/SKILL.md
  CLAUDE.md
  apps/discord-bot/__tests__/worker/dispatch.test.ts
  apps/discord-bot/src/commands/lib/notationView.ts
  apps/discord-bot/src/commands/notation.ts
  apps/discord-bot/src/types.ts
  apps/discord-bot/src/worker/dispatch.ts
  package.json
  scripts/sync-cloudflare-skills.ts
Due: lint, format

Path conditions:
  lint: any of: *.{ts,tsx,js,mjs}
  format: any of: *.{ts,tsx,js,json,md,astro,css}
