Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint --fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

feat(gameSchema): add conditionalPools for input-driven extra dice
  games/gameSchema/__tests__/conditionalPool.test.ts
  games/gameSchema/randsum.json
  games/gameSchema/src/codegen.ts
  games/gameSchema/src/index.ts
  games/gameSchema/src/pipeline.ts
  games/gameSchema/src/types.ts
Due: lint, format

feat(gameSchema): add externalTableLookup resolve operation
  games/gameSchema/__tests__/externalTableLookup.test.ts
  games/gameSchema/randsum.json
  games/gameSchema/src/codegen.ts
  games/gameSchema/src/index.ts
  games/gameSchema/src/types.ts
Due: lint, format

feat(gameSchema): add computed details fields to roll definitions
  games/gameSchema/__tests__/detailsFields.test.ts
  games/gameSchema/randsum.json
  games/gameSchema/src/codegen.ts
  games/gameSchema/src/index.ts
  games/gameSchema/src/pipeline.ts
  games/gameSchema/src/types.ts
Due: lint, format

fix(gameSchema): codegen fixes for validation, enums, duplicate plus, and cleanup
  games/gameSchema/__tests__/codegenFixes.test.ts
  games/gameSchema/randsum.json
  games/gameSchema/src/codegen.ts
  games/gameSchema/src/index.ts
  games/gameSchema/src/pipeline.ts
  games/gameSchema/src/types.ts
Due: lint, format

feat(gameSchema): extend DetailsFieldDef with nested, pool ref, and conditional support
  games/gameSchema/__tests__/detailsFields.test.ts
  games/gameSchema/randsum.json
  games/gameSchema/src/codegen.ts
  games/gameSchema/src/index.ts
  games/gameSchema/src/pipeline.ts
  games/gameSchema/src/types.ts
Due: lint, format

feat(daggerheart): migrate to schema-driven codegen
  games/daggerheart/.gitignore
  games/daggerheart/__tests__/roll.property.test.ts
  games/daggerheart/__tests__/roll.test.ts
  games/daggerheart/daggerheart.randsum.json
  games/daggerheart/package.json
  games/daggerheart/src/index.ts
  games/daggerheart/src/roll/calculateType.ts
  games/daggerheart/src/roll/index.ts
  games/daggerheart/src/types.ts
  games/daggerheart/tsconfig.json
Due: lint, format

fix(gameSchema): validation description labels, enum guards, and type fixes
  games/daggerheart/__tests__/roll.test.ts
  games/gameSchema/__tests__/codegenFixes.test.ts
  games/gameSchema/src/codegen.ts
  games/gameSchema/src/loader.ts
  games/gameSchema/src/pipeline.ts
Due: lint, format

feat(gameSchema): extend externalTableLookup with find+resolve pattern
  games/gameSchema/__tests__/externalTableLookup.test.ts
  games/gameSchema/randsum.json
  games/gameSchema/src/codegen.ts
  games/gameSchema/src/index.ts
  games/gameSchema/src/types.ts
Due: lint, format

fix: resolve ESLint errors in gameSchema, daggerheart, and discord-bot
  apps/discord-bot/src/commands/dh.ts
  games/daggerheart/__tests__/roll.property.test.ts
  games/gameSchema/__tests__/detailsFields.test.ts
  games/gameSchema/src/pipeline.ts
Due: lint, format

feat(gameSchema): add resultMapping and errorMessage to externalTableLookup
  games/gameSchema/__tests__/externalTableLookup.test.ts
  games/gameSchema/randsum.json
  games/gameSchema/src/codegen.ts
  games/gameSchema/src/index.ts
  games/gameSchema/src/types.ts
Due: lint, format

feat(gameSchema): add fallback support to $lookupResult in ResultMappingLeaf
  games/gameSchema/__tests__/externalTableLookup.test.ts
  games/gameSchema/randsum.json
  games/gameSchema/src/codegen.ts
  games/gameSchema/src/types.ts
Due: lint, format

feat(gameSchema): replace externalTableLookup with remoteTableLookup
  apps/discord-bot/__tests__/commands/su.test.ts
  apps/discord-bot/src/commands/su.ts
  bun.lock
  games/gameSchema/__tests__/codegenFixes.test.ts
  games/gameSchema/__tests__/conditionalPool.test.ts
  games/gameSchema/__tests__/degreeOfSuccess.test.ts
  games/gameSchema/__tests__/detailsFields.test.ts
  games/gameSchema/__tests__/dynamicPoolSides.test.ts
  games/gameSchema/__tests__/externalTableLookup.test.ts
  games/gameSchema/__tests__/multiPool.test.ts
  games/gameSchema/__tests__/numericResult.test.ts
  games/gameSchema/__tests__/postResolve.test.ts
  games/gameSchema/__tests__/remoteTableLookup.test.ts
  games/gameSchema/randsum.json
  games/gameSchema/scripts/codegen.ts
  games/gameSchema/src/bin-build.ts
  games/gameSchema/src/codegen.ts
  games/gameSchema/src/index.ts
  games/gameSchema/src/lookupByRange.ts
  games/gameSchema/src/pipeline.ts
  games/gameSchema/src/types.ts
  games/salvageunion/__tests__/roll.property.test.ts
  games/salvageunion/__tests__/roll.test.ts
  games/salvageunion/package.json
  games/salvageunion/salvageunion.randsum.json
Due: lint, format

chore(gameSchema): check in generated files and use bunup programmatic API
  .prettierignore
  bun.lock
  games/blades/.gitignore
  games/blades/blades.generated.ts
  games/daggerheart/.gitignore
  games/daggerheart/daggerheart.generated.ts
  games/fifth/.gitignore
  games/fifth/fifth.generated.ts
  games/gameSchema/bunup.config.ts
  games/gameSchema/package.json
  games/gameSchema/scripts/codegen.ts
  games/gameSchema/src/bin-build.ts
  games/gameSchema/src/codegen.ts
  games/pbta/.gitignore
  games/pbta/pbta.generated.ts
  games/root-rpg/.gitignore
  games/root-rpg/root-rpg.generated.ts
  games/salvageunion/.gitignore
  games/salvageunion/salvageunion.generated.ts
Due: lint, format

fix(security): upgrade devalue to 5.6.4 to patch prototype pollution (GHSA-cfw5-2vxh-hr84)
  bun.lock
  package.json
Due: format

chore: remove create-game scaffold + clean up stale game package refs
  .claude/agents/json-schema-expert.md
  .claude/agents/ttrpg-enthusiast.md
  .claude/notation-extraction-map.md
  .claude/skills/create-game/SKILL.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  apps/site/public/skills/dice-rolling/references/GAME_SYSTEMS.md
  package.json
  packages/gameSchema/README.md
  packages/roller/README.md
  plans/3.0.0-harsh-audit-round-2.md
  plans/3.0.0-harsh-audit-round-3.md
  plans/3.0.0-harsh-audit.md
  plans/salvageunion-createGameRoll-investigation.md
  scripts/create-game-package.ts
  scripts/help.ts
  skills/dice-rolling/references/GAME_SYSTEMS.md
  typedoc.json
Due: lint, format

WIP
  .github/workflows/main.yml
  package.json
Due: format

chore(blades): remove rollFortune and rollResistance
  packages/games/blades.randsum.json
  packages/games/src/blades.generated.ts
Due: lint, format

No publish
  .github/workflows/publish.yml
Due: none

fix(games): add explicit RegExp type for isolatedDeclarations
  bun.lock
  package.json
  packages/games/src/lib/typeGuards.ts
  packages/roller/__tests__/lib/optionsToNotation.test.ts
Due: lint, format

fix: resolve P0 publish-blocking issues
  package.json
  packages/display-utils/package.json
  scripts/publish.ts
Due: lint, format

fix(ci): correct security.yml cache key and add size check to check:all
  .github/workflows/security.yml
  package.json
Due: format

chore: package.json cleanup for publish readiness
  bun.lock
  package.json
  packages/component-library/LICENSE
  packages/component-library/package.json
  packages/display-utils/package.json
  packages/games/package.json
  packages/games/src/lib/loader.ts
  packages/games/src/lib/pipeline.ts
  packages/notation/package.json
  packages/roller/package.json
Due: lint, format

chore: make display-utils private, move to component-library devDeps
  packages/component-library/package.json
  packages/display-utils/package.json
Due: format

chore: remove dead code, unify DRY violations, tighten types
  .claude/agents/senior-dev.md
  packages/games/__tests__/lib/degreeOfSuccess.test.ts
  packages/games/__tests__/lib/numericResult.test.ts
  packages/games/__tests__/lib/remoteTableLookup.test.ts
  packages/games/src/lib/codegen.ts
  packages/games/src/lib/conditionEvaluator.ts
  packages/games/src/lib/inputBinder.ts
  packages/games/src/lib/modifierTranslator.ts
  packages/games/src/lib/pipeline.ts
  packages/roller/__tests__/formatResult.test.ts
  packages/roller/src/formatResult.ts
Due: lint, format

feat(games): add $dieCheck schema type, fix PbtA diceTotal, Fifth nat 1/20
  bun.lock
  packages/games/__tests__/lib/detailsFields.test.ts
  packages/games/fifth.randsum.json
  packages/games/randsum.json
  packages/games/src/blades.generated.ts
  packages/games/src/daggerheart.generated.ts
  packages/games/src/fifth.generated.ts
  packages/games/src/lib/normalizedTypes.ts
  packages/games/src/lib/typeGuards.ts
  packages/games/src/lib/types.ts
  packages/games/src/pbta.generated.ts
  packages/games/src/root-rpg.generated.ts
  packages/games/src/salvageunion.generated.ts
Due: lint, format

refactor(games): split codegen.ts into focused modules
  packages/games/src/lib/codegen.ts
  packages/games/src/lib/codegen/emitBody.ts
  packages/games/src/lib/codegen/emitDetails.ts
  packages/games/src/lib/codegen/emitHelpers.ts
  packages/games/src/lib/codegen/emitModifiers.ts
  packages/games/src/lib/codegen/emitOutcome.ts
  packages/roller/__tests__/lib/modifiers/registry.test.ts
Due: lint, format

Fifth fix
  packages/games/__tests__/fifth.test.ts
  packages/games/fifth.randsum.json
  packages/games/package.json
  packages/games/src/fifth.generated.ts
Due: lint, format

fix(hooks): run exports check after build in pre-push
  lefthook.yml
Due: none

chore: make component-library public, remove tsconfig references
  apps/site/astro.config.mjs
  apps/site/src/utils/packageData.ts
  bun.lock
  package.json
  packages/component-library/.ladle/components.tsx
  packages/component-library/LICENSE
  packages/component-library/README.md
  packages/component-library/__tests__/tokenize.test.ts
  packages/component-library/bunup.config.ts
  packages/component-library/package.json
  packages/component-library/src/components/ErrorBoundary/ErrorBoundary.css
  packages/component-library/src/components/ErrorBoundary/ErrorBoundary.tsx
  packages/component-library/src/components/ErrorBoundary/index.ts
  packages/component-library/src/components/ModifierReference/ModifierDocContent.css
  packages/component-library/src/components/ModifierReference/ModifierDocContent.tsx
  packages/component-library/src/components/ModifierReference/ModifierReference.css
  packages/component-library/src/components/ModifierReference/ModifierReference.stories.tsx
  packages/component-library/src/components/ModifierReference/ModifierReference.tsx
  packages/component-library/src/components/ModifierReference/index.ts
  packages/component-library/src/components/Overlay/Overlay.css
  packages/component-library/src/components/Overlay/Overlay.tsx
  packages/component-library/src/components/Overlay/index.ts
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.stories.tsx
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
  packages/component-library/src/components/RollerPlayground/index.ts
  packages/component-library/src/index.ts
  packages/component-library/tsconfig.json
  packages/internal/display-utils/tsconfig.json
  scripts/publish.ts
  tsconfig.json
Due: lint, format

refactor: use subpath imports for roller and notation across all consumers
  apps/cli/src/shared/format.ts
  apps/cli/src/simple/run.ts
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/HeroBanner.tsx
  apps/cli/src/tui/components/RollResultPanel.tsx
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/src/commands/roll.ts
  package.json
  packages/component-library/src/components/ModifierReference/ModifierDocContent.tsx
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
  packages/games/__tests__/lib/codegenFixes.test.ts
  packages/games/__tests__/lib/fixtures/test.ts
  packages/games/__tests__/lib/remoteTableLookup.test.ts
  packages/games/src/blades.generated.ts
  packages/games/src/daggerheart.generated.ts
  packages/games/src/fifth.generated.ts
  packages/games/src/lib/codegen.ts
  packages/games/src/lib/index.ts
  packages/games/src/lib/modifierTranslator.ts
  packages/games/src/lib/pipeline.ts
  packages/games/src/lib/types.ts
  packages/games/src/pbta.generated.ts
  packages/games/src/root-rpg.generated.ts
  packages/games/src/salvageunion.generated.ts
  packages/internal/display-utils/src/computeSteps.ts
  packages/roller/bunup.config.ts
  packages/roller/package.json
Due: lint, format

refactor: inline re-export barrels into entry points
  package.json
  packages/notation/src/comparison/formatComparisonDescription.ts
  packages/notation/src/comparison/formatComparisonNotation.ts
  packages/notation/src/comparison/index.ts
  packages/notation/src/comparison/parseComparisonNotation.ts
  packages/notation/src/parse.ts
  packages/notation/src/schemas.ts
  packages/notation/src/transform.ts
  packages/notation/src/validate.ts
  packages/notation/src/validateNotation.ts
  packages/roller/src/validate.ts
Due: lint, format

fix(ci): use explicit workspace globs instead of packages/**
  package.json
Due: format

fix(ci): skip codegen network calls during games build
  packages/games/build.ts
  packages/games/package.json
Due: lint, format

refactor(games): split codegen from build, add gen:check
  lefthook.yml
  packages/games/build.ts
  packages/games/codegen.ts
  packages/games/package.json
Due: lint, format

Path conditions:
  lint: any of: *.{ts,tsx,js,mjs}
  format: any of: *.{ts,tsx,js,json,md,astro,css}
