Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,mjs}"
      run: bun run lint --fix
      stage_fixed: true
    format:
      glob: "*.{ts,tsx,js,json,md,astro,css}"
      run: bun run format
      stage_fixed: true
    typecheck:
      run: bun run typecheck

pre-push:
  commands:
    test:
      run: bun test
    exports:
      run: bun run check:exports
    security:
      run: bun audit --audit-level high

refactor(tests): extract STRESS_ITERATIONS constant
  packages/games/__tests__/daggerheart.test.ts
  packages/games/__tests__/fifth.test.ts
  packages/games/__tests__/root-rpg.test.ts
  packages/games/__tests__/stressIterations.ts
  packages/roller/__tests__/roll/count.test.ts
  packages/roller/__tests__/roll/countFailures.test.ts
  packages/roller/__tests__/roll/customFacesDice.test.ts
  packages/roller/__tests__/roll/drawDice.test.ts
  packages/roller/__tests__/roll/fateDice.test.ts
  packages/roller/__tests__/roll/modifiers.extended.test.ts
  packages/roller/__tests__/roll/notationSugar.test.ts
  packages/roller/__tests__/roll/percentile-quantity.test.ts
  packages/roller/__tests__/roll/percentile.test.ts
  packages/roller/__tests__/roll/repeatOperator.test.ts
  packages/roller/__tests__/roll/roll.test.ts
  packages/roller/__tests__/roll/sort.test.ts
  packages/roller/__tests__/roll/specialDice.integration.test.ts
  packages/roller/__tests__/roll/zeroBiasDice.test.ts
  packages/roller/__tests__/stressIterations.ts
Due: lint, format

feat(roller): enrich RandsumError with optional structured context
  apps/site/src/content/docs/roller/error-handling.mdx
  packages/roller/__tests__/security/error-hierarchy.test.ts
  packages/roller/src/errors.ts
  packages/roller/src/lib/comparison/validateComparisonOptions.ts
  packages/roller/src/lib/optionsValidation.ts
  packages/roller/src/lib/utils/validation.ts
  packages/roller/src/modifiers/count.ts
  packages/roller/src/modifiers/drop.ts
  packages/roller/src/modifiers/keep.ts
  packages/roller/src/modifiers/registry.ts
  packages/roller/src/modifiers/reroll.ts
  packages/roller/src/modifiers/unique.ts
  packages/roller/src/notation/parse/notationToOptions.ts
  packages/roller/src/notation/parse/parseModifiers.ts
  packages/roller/src/notation/transformers/optionsToNotation.ts
  packages/roller/src/roll/parseArguments.ts
Due: lint, format

docs(games): add .randsum.json schema guide
  packages/games/CLAUDE.md
  packages/games/docs/randsum-json-schema.md
Due: format

refactor(discord-bot): replace require() shim with direct ESM re-exports
  apps/discord-bot/src/utils/discord.ts
Due: lint, format

docs(games): add codegen extension guide
  packages/games/CLAUDE.md
  packages/games/docs/codegen-extension.md
Due: format

docs(skills): add 'add-modifier' procedural skill
  .claude/skills/add-modifier/SKILL.md
Due: format

fix(schema): add range-coverage validator at codegen time
  packages/games/__tests__/lib/rangeCoverage.test.ts
  packages/games/src/lib/codegen.ts
  packages/games/src/lib/rangeCoverage.ts
Due: lint, format

fix(schema): pair markDice with keepMarked in modify pipeline
  packages/games/__tests__/lib/validator.test.ts
  packages/games/randsum.json
Due: lint, format

chore(schema): remove unused named-roll pattern
  packages/games/__tests__/lib/fixtures/test.randsum.json
  packages/games/__tests__/lib/fixtures/test.ts
  packages/games/__tests__/lib/loader.test.ts
  packages/games/__tests__/lib/validator.test.ts
  packages/games/docs/codegen-extension.md
  packages/games/docs/randsum-json-schema.md
  packages/games/randsum.json
  packages/games/src/lib/typeGuards.ts
  packages/games/src/lib/types.ts
Due: lint, format

fix(schema): accept min-alone and max-alone TableRange entries
  packages/games/__tests__/lib/rangeCoverage.test.ts
  packages/games/__tests__/lib/validator.test.ts
  packages/games/randsum.json
  packages/games/src/lib/pipeline.ts
Due: lint, format

feat(schema): add resultShape for numeric-vs-label outcome output
  packages/games/__tests__/lib/resultShape.test.ts
  packages/games/randsum.json
  packages/games/src/lib/codegen/emitHelpers.ts
  packages/games/src/lib/codegen/emitOutcome.ts
  packages/games/src/lib/normalizedTypes.ts
  packages/games/src/lib/normalizer.ts
  packages/games/src/lib/pipeline.ts
  packages/games/src/lib/types.ts
Due: lint, format

docs(audit): add audit synthesis, dimensions, and implement plan
  audit/dimensions/apps.md
  audit/dimensions/architecture.md
  audit/dimensions/build-tooling-ci.md
  audit/dimensions/dx-docs-community.md
  audit/dimensions/games.md
  audit/dimensions/roller.md
  audit/dimensions/testing.md
  audit/inventory.md
  audit/synthesis-top-30.md
  docs/implement/2026-05-10-audit-fixes/intent.md
  docs/implement/2026-05-10-audit-fixes/journal.jsonl
  docs/implement/2026-05-10-audit-fixes/manifest.yaml
  docs/implement/2026-05-10-audit-fixes/ontology-updates.md
  docs/implement/2026-05-10-audit-fixes/plan.md
  docs/implement/2026-05-10-audit-fixes/scaffold/0001-audit-single-pr-six-cycles.md
  docs/implement/2026-05-10-audit-fixes/scaffold/README-context.md
Due: format

fix(ci): wire NPM_TOKEN, codecov upload, check:all alias, roller sideEffects
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  package.json
  packages/games/package.json
  packages/roller/package.json
Due: format

fix(games,expo,ci): 5e crit kept-die semantics; expo two-col layout; add expo to CI
  .github/workflows/ci.yml
  apps/expo/__tests__/IndexScreen.test.tsx
  apps/expo/app/index.tsx
  packages/games/__tests__/fifth.test.ts
  packages/games/fifth.randsum.json
  packages/games/src/fifth.generated.ts
Due: lint, format

fix(roller): P1 engine fixes — explode docs, dead parser, randomFn guard, trace arith
  packages/roller/__tests__/lib/modifiers/ModifierEngine.test.ts
  packages/roller/__tests__/lib/modifiers/registry.test.ts
  packages/roller/__tests__/trace.test.ts
  packages/roller/src/modifiers/explode.ts
  packages/roller/src/modifiers/explodeSequence.ts
  packages/roller/src/modifiers/registry.ts
  packages/roller/src/modifiers/schema.ts
  packages/roller/src/trace/traceRoll.ts
Due: lint, format

feat(games/root-rpg): add Advantage/Disadvantage (mastery / helping)
  apps/discord-bot/src/commands/root.ts
  packages/games/__tests__/root-rpg.property.test.ts
  packages/games/__tests__/root-rpg.test.ts
  packages/games/__tests__/smoke.test.ts
  packages/games/root-rpg.randsum.json
  packages/games/src/root-rpg.generated.ts
Due: lint, format

test(games): mock fetch in unreachable-URL externalRefResolver test
  packages/games/__tests__/lib/externalRefResolver.test.ts
Due: lint, format

test(rdn): add conformance vector data integrity suite
  apps/rdn/__tests__/conformance.test.ts
  apps/rdn/package.json
  package.json
Due: lint, format

ci: add bench regression gate with deterministic JSON output
  .github/workflows/ci.yml
  .gitignore
  packages/roller/__benchmarks__/roll.bench.ts
Due: lint, format

fix(cli): implement -i/--interactive flag and fix dist build
  apps/cli/bunup.config.ts
  apps/cli/src/index.ts
Due: lint, format

chore(docs): roll back RDN claims, strip phantom Railway docs, refresh templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/expo-native-deploy.yml
  README.md
  SECURITY.md
  apps/cli/README.md
  apps/discord-bot/README.md
  apps/site/src/content/docs/roller/introduction.mdx
  packages/games/README.md
  packages/roller/README.md
Due: format

chore(ci): serialize bun install before parallel pre-commit steps; drop claude-code-review workflow
  .github/workflows/claude-code-review.yml
  lefthook.yml
Due: none

chore(arch): consolidate TS via catalog (6.0.2), move ink to optional peer
  apps/expo/package.json
  apps/expo/tsconfig.json
  apps/rdn/package.json
  bun.lock
  package.json
  packages/dice-ui/package.json
  packages/games/package.json
Due: format

feat(apps): stdin + exit codes (cli); ephemeral hidden option (discord-bot); storage cleanup (expo)
  apps/cli/__tests__/simple/run.test.ts
  apps/cli/src/index.ts
  apps/cli/src/simple/run.ts
  apps/discord-bot/__tests__/commands/blades.test.ts
  apps/discord-bot/__tests__/commands/fifth.test.ts
  apps/discord-bot/__tests__/commands/pbta.test.ts
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/__tests__/commands/root.test.ts
  apps/discord-bot/__tests__/commands/su.test.ts
  apps/discord-bot/src/commands/blades.ts
  apps/discord-bot/src/commands/dh.ts
  apps/discord-bot/src/commands/fifth.ts
  apps/discord-bot/src/commands/pbta.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/commands/root.ts
  apps/discord-bot/src/commands/su.ts
  apps/discord-bot/src/utils/ephemeral.ts
  apps/expo/CLAUDE.md
  apps/expo/lib/storage.native.ts
  apps/expo/lib/storage.ts
Due: lint, format

docs: add Roadmap & Community section to README (#28)
  README.md
Due: format

fix(build): revert roller sideEffects + bump pbta size limit
  packages/games/package.json
  packages/roller/package.json
Due: format

docs(implement): mark audit-fixes run shipped (review + ship records)
  docs/implement/2026-05-10-audit-fixes/manifest.yaml
  docs/implement/2026-05-10-audit-fixes/review.md
  docs/implement/2026-05-10-audit-fixes/ship.md
Due: format

chore(security): override fast-uri to 3.1.2 to clear high advisories
  bun.lock
  package.json
Due: format

fix(hooks): use --audit-level (bun's actual flag) in pre-push audit
  lefthook.yml
Due: none

fix(ci): build roller before expo typecheck
  .github/workflows/ci.yml
Due: none

refactor(cli): remove Ink TUI, flatten layout to thin one-shot CLI
  apps/cli/CLAUDE.md
  apps/cli/README.md
  apps/cli/__tests__/format.test.ts
  apps/cli/__tests__/index.test.ts
  apps/cli/__tests__/run.test.ts
  apps/cli/package.json
  apps/cli/src/format.ts
  apps/cli/src/index.ts
  apps/cli/src/run.ts
  bun.lock
  packages/dice-ui/__tests__/ink/DieBadge.test.tsx
  packages/dice-ui/__tests__/ink/NotationRoller.test.tsx
  packages/dice-ui/__tests__/ink/QuickReferenceGrid.test.tsx
  packages/dice-ui/__tests__/ink/RollSteps.test.tsx
  packages/dice-ui/package.json
  packages/dice-ui/src/ink/DieBadge.tsx
  packages/dice-ui/src/ink/NotationRoller.tsx
  packages/dice-ui/src/ink/QuickReferenceGrid.tsx
  packages/dice-ui/src/ink/RollSteps.tsx
  packages/dice-ui/src/ink/index.ts
Due: lint, format

chore(dx): add audit changeset and GitHub Sponsors config
  .changeset/audit-branch.md
  .github/FUNDING.yml
Due: format

chore: regenerate bun.lock after consolidating all dependabot + changeset updates
  bun.lock
Due: none

fix(security): bump devalue to 5.8.1 to resolve high-severity DoS (GHSA-77vg-94rm-hx3p)
  bun.lock
  package.json
Due: format

chore: bump bun to 1.3.14 and loosen bench threshold to 150%
  .bun-version
  .github/workflows/ci.yml
  bun.lock
  package.json
Due: format

chore: consolidate all dependabot PRs + changeset release (#1061)
  .bun-version
  .changeset/audit-branch.md
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/expo-native-deploy.yml
  .github/workflows/expo-web-deploy.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  apps/cli/CHANGELOG.md
  apps/cli/package.json
  apps/expo/CHANGELOG.md
  apps/expo/package.json
  apps/rdn/package.json
  apps/site/package.json
  bun.lock
  package.json
  packages/dice-ui/CHANGELOG.md
  packages/dice-ui/package.json
  packages/games/CHANGELOG.md
  packages/games/package.json
  packages/roller/CHANGELOG.md
  packages/roller/package.json
Due: format

chore(deps): bump dev deps, eliminate overrides, address vulns; drop checked-in .claude settings
  .claude/settings.json
  apps/rdn/package.json
  apps/site/__tests__/NotationRoller.tooltip.test.tsx
  bun.lock
  knip.json
  lefthook.yml
  package.json
  packages/games/__tests__/lib/emitUnit.test.ts
  packages/games/__tests__/lib/externalRefResolverUnit.test.ts
  packages/games/__tests__/lib/normalizerUnit.test.ts
  packages/games/__tests__/lib/pipeline.test.ts
  packages/games/__tests__/lib/refResolver.test.ts
  packages/games/package.json
  packages/games/src/lib/loader.ts
  packages/games/src/lib/normalizer.ts
  packages/roller/__tests__/roll/edgeCases.test.ts
  packages/roller/__tests__/roll/modifiers.extended.test.ts
  packages/roller/__tests__/roll/repeatOperator.test.ts
  packages/roller/__tests__/roll/sort.test.ts
  packages/roller/__tests__/roll/specialDice.integration.test.ts
  packages/roller/__tests__/roll/specialDice.property.test.ts
  packages/roller/__tests__/security/bounds.test.ts
  packages/roller/__tests__/security/repeat-depth.test.ts
  packages/roller/src/modifiers/registry.ts
  packages/roller/src/notation/definitions/arithmetic.ts
  packages/roller/src/roll/parseArguments.ts
  packages/roller/test-utils/src/fixtures.ts
Due: lint, format

docs: fix README/llms.txt/CONTRIBUTING/help.ts drift
  CONTRIBUTING.md
  README.md
  llms.txt
  scripts/help.ts
Due: lint, format
