Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint --fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

feat(roller): export comparison utilities from public API
  packages/roller/src/index.ts
  packages/roller/src/internal/api.ts
Due: lint, format

feat(roller): add ./types subpath export
  packages/roller/package.json
Due: format

feat: re-export GameRollResult and RollRecord from all game packages
  packages/blades/src/index.ts
  packages/daggerheart/src/index.ts
  packages/fifth/src/index.ts
  packages/pbta/src/index.ts
  packages/root-rpg/src/index.ts
  packages/salvageunion/src/index.ts
Due: lint, format

chore(eslint): add no-restricted-imports rule to prevent internal path imports
  eslint.config.js
Due: lint, format

docs: add live repl implementation plan
  docs/plans/2026-03-05-live-repl.md
Due: format

chore: add .d.ts size limits to size-limit config
  package.json
Due: format

chore(ci): add benchmark run to pre-push hook
  lefthook.yml
Due: none

fix(cli): inject version from package.json instead of hardcoding
  apps/cli/src/index.ts
  apps/cli/tsconfig.json
Due: lint, format

feat(site): add @monaco-editor/react and sucrase for live repl
  apps/site/package.json
  bun.lock
Due: format

chore(ci): raise codecov coverage targets to 85%/75%
  codecov.yml
Due: none

chore: add react to bun catalog, use catalog: in CLI package
  apps/cli/package.json
  bun.lock
  package.json
Due: format

chore(ts): add project references to root tsconfig for incremental compilation
  tsconfig.json
Due: format

chore(cli): bump version to 1.0.0
  apps/cli/package.json
  apps/site/src/components/live-repl/repl-worker.ts
Due: lint, format

docs: add monorepo improvements implementation plan
  docs/plans/2026-03-05-monorepo-improvements.md
Due: format

chore(ci): raise codecov targets to 99%
  codecov.yml
Due: none

docs(site): replace interactive RollableCode with static code blocks in quick-start
  apps/site/src/content/docs/getting-started/quick-start.mdx
Due: none

fix(site): suppress pre-existing lint errors in repl-worker with targeted eslint-disable comments
  apps/site/src/components/live-repl/repl-worker.ts
Due: lint, format

feat(site): add useRepl hook for worker-based ts execution
  apps/site/src/components/live-repl/useRepl.ts
Due: lint, format

feat(site): add LiveRepl component with monaco editor and output pane
  apps/site/package.json
  apps/site/src/components/live-repl/LiveRepl.css
  apps/site/src/components/live-repl/LiveRepl.tsx
  bun.lock
Due: lint, format

chore(site): move monaco-editor to devDependencies (types only)
  apps/site/package.json
Due: format

feat(site): convert main docs pages to LiveRepl components
  apps/site/src/content/docs/getting-started/quick-start.mdx
  apps/site/src/content/docs/guides/recipes.mdx
  apps/site/src/content/docs/reference/dice-notation.mdx
  apps/site/src/content/docs/reference/modifiers.mdx
Due: none

feat(site): convert all remaining docs pages to LiveRepl, remove RollableCode
  apps/site/__tests__/formatLiveResult.test.ts
  apps/site/src/components/rollable-code/RollableCode.css
  apps/site/src/components/rollable-code/RollableCode.tsx
  apps/site/src/components/rollable-code/formatLiveResult.ts
  apps/site/src/content/docs/games/blades.mdx
  apps/site/src/content/docs/games/daggerheart.mdx
  apps/site/src/content/docs/games/fifth.mdx
  apps/site/src/content/docs/games/overview.mdx
  apps/site/src/content/docs/games/pbta.mdx
  apps/site/src/content/docs/games/root-rpg.mdx
  apps/site/src/content/docs/games/salvageunion.mdx
  apps/site/src/content/docs/getting-started/faq.mdx
  apps/site/src/content/docs/getting-started/installation.mdx
  apps/site/src/content/docs/getting-started/introduction.mdx
  apps/site/src/content/docs/guides/custom-game-packages.mdx
  apps/site/src/content/docs/guides/error-handling.mdx
  apps/site/src/content/docs/guides/testing.mdx
  apps/site/src/content/docs/packages/roller.mdx
  apps/site/src/content/docs/reference/roll-options.mdx
  apps/site/src/content/docs/tools/skill/index.mdx
Due: lint, format

fix(site): wrap LiveRepl in Astro component to enable client:only SSR isolation
  apps/site/src/components/live-repl/LiveRepl.astro
  apps/site/src/content/docs/games/blades.mdx
  apps/site/src/content/docs/games/daggerheart.mdx
  apps/site/src/content/docs/games/fifth.mdx
  apps/site/src/content/docs/games/overview.mdx
  apps/site/src/content/docs/games/pbta.mdx
  apps/site/src/content/docs/games/root-rpg.mdx
  apps/site/src/content/docs/games/salvageunion.mdx
  apps/site/src/content/docs/getting-started/faq.mdx
  apps/site/src/content/docs/getting-started/installation.mdx
  apps/site/src/content/docs/getting-started/introduction.mdx
  apps/site/src/content/docs/getting-started/quick-start.mdx
  apps/site/src/content/docs/guides/custom-game-packages.mdx
  apps/site/src/content/docs/guides/error-handling.mdx
  apps/site/src/content/docs/guides/recipes.mdx
  apps/site/src/content/docs/guides/testing.mdx
  apps/site/src/content/docs/packages/roller.mdx
  apps/site/src/content/docs/reference/dice-notation.mdx
  apps/site/src/content/docs/reference/modifiers.mdx
  apps/site/src/content/docs/reference/roll-options.mdx
  apps/site/src/content/docs/tools/skill/index.mdx
Due: format

fix(site): redesign LiveRepl to match Starlight code block style with readonly mode
  apps/site/src/components/live-repl/LiveRepl.astro
  apps/site/src/components/live-repl/LiveRepl.css
  apps/site/src/components/live-repl/LiveRepl.tsx
Due: lint, format

chore(site): replace interactive LiveRepl with static Starlight code blocks
  apps/site/package.json
  apps/site/src/components/live-repl/LiveRepl.astro
  apps/site/src/components/live-repl/LiveRepl.css
  apps/site/src/components/live-repl/LiveRepl.tsx
  apps/site/src/components/live-repl/repl-worker.ts
  apps/site/src/components/live-repl/useRepl.ts
  apps/site/src/content/docs/games/blades.mdx
  apps/site/src/content/docs/games/comparison.mdx
  apps/site/src/content/docs/games/daggerheart.mdx
  apps/site/src/content/docs/games/fifth.mdx
  apps/site/src/content/docs/games/overview.mdx
  apps/site/src/content/docs/games/pbta.mdx
  apps/site/src/content/docs/games/root-rpg.mdx
  apps/site/src/content/docs/games/salvageunion.mdx
  apps/site/src/content/docs/getting-started/installation.mdx
  apps/site/src/content/docs/guides/custom-game-packages.mdx
  apps/site/src/content/docs/guides/testing.mdx
  apps/site/src/content/docs/packages/roller.mdx
  apps/site/src/content/docs/reference/modifiers.mdx
  apps/site/src/content/docs/reference/roll-options.mdx
  apps/site/src/content/docs/tools/discord-bot.mdx
  apps/site/src/content/docs/tools/skill/index.mdx
  bun.lock
Due: lint, format

docs: add Sandpack integration design doc
  docs/plans/2026-03-06-sandpack-integration-design.md
Due: format

docs: add Sandpack integration implementation plan
  docs/plans/2026-03-06-sandpack-integration.md
Due: format

chore(site): add sandpack dependencies
  apps/site/package.json
  bun.lock
Due: format

feat(site): add extractRandsumDeps utility with tests
  apps/site/src/components/live-repl/__tests__/extractRandsumDeps.test.ts
  apps/site/src/components/live-repl/extractRandsumDeps.ts
Due: lint, format

feat(site): add SandpackRepl React component
  apps/site/src/components/live-repl/SandpackRepl.tsx
Due: lint, format

feat(site): wire LiveRepl.astro to SandpackRepl for TypeScript blocks
  apps/site/src/components/live-repl/LiveRepl.astro
Due: format

style(site): add live-repl-wrapper CSS for consistent block styling
  apps/site/src/styles/custom.css
Due: format

fix(site): switch to node template and match site slate color theme
  apps/site/src/components/live-repl/SandpackRepl.tsx
Due: lint, format

fix(site): set index.ts as sandpack entry point and active file
  apps/site/src/components/live-repl/SandpackRepl.tsx
Due: lint, format

fix(site): override node template package.json to run user code, drop browser preview panel
  apps/site/src/components/live-repl/SandpackRepl.tsx
Due: lint, format

revert(site): remove Sandpack, restore static Starlight Code blocks
  apps/site/package.json
  apps/site/src/components/live-repl/LiveRepl.astro
  apps/site/src/components/live-repl/SandpackRepl.tsx
  apps/site/src/components/live-repl/__tests__/extractRandsumDeps.test.ts
  apps/site/src/components/live-repl/extractRandsumDeps.ts
  apps/site/src/styles/custom.css
  bun.lock
Due: lint, format

docs: add StackBlitz LiveRepl design doc
  docs/plans/2026-03-06-stackblitz-liverepl-design.md
Due: format

docs: add StackBlitz LiveRepl implementation plan
  docs/plans/2026-03-06-stackblitz-liverepl-plan.md
Due: format

docs: add RollerPlayground design doc
  docs/plans/2026-03-06-roller-playground-design.md
Due: format

chore(site): add @stackblitz/sdk dependency
  apps/site/package.json
  bun.lock
Due: format

Path conditions:
  lint: any of: *.{ts,tsx,js,mjs}
  format: any of: *.{ts,tsx,js,json,md,astro,css}
