Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint --fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

docs(roller): add quick-reference tables to unique, explode, compound, penetrate sections
  packages/roller/RANDSUM_DICE_NOTATION.md
Due: format

docs(roller): add quick-reference tables to multiply, count successes, total multiply sections
  packages/roller/RANDSUM_DICE_NOTATION.md
Due: format

Bump
  bun.lock
Due: none

chore(ci): move security audit to separate workflow
  .github/workflows/main.yml
  .github/workflows/security.yml
Due: none

chore(ci): add skill-verify step and remove unnecessary OS gates
  .github/workflows/main.yml
  lefthook.yml
  skills/dice-rolling/SKILL.md
Due: format

fix(ci): correct skill-verify package name to skills-ref
  .github/workflows/main.yml
  lefthook.yml
Due: none

fix(ci): use correct skills-ref validate command
  .github/workflows/main.yml
  lefthook.yml
Due: none

Potential fix for code scanning alert no. 126: Workflow does not contain permissions
  .github/workflows/security.yml
Due: none

fix(cli): add missing @randsum/roller dependency
  apps/cli/package.json
  bun.lock
Due: format

chore(cli): bump version to 0.2.2
  apps/cli/package.json
Due: format

fix(ci): cancel in-progress claude review runs on new push
  .github/workflows/claude-code-review.yml
Due: none

chore(ci): enable show_full_output for claude review step
  .github/workflows/claude-code-review.yml
Due: none

docs(roller): notation doc audit — tables, missing forms, invalid examples (#924)
  .github/workflows/claude-code-review.yml
  .github/workflows/main.yml
  .github/workflows/security.yml
  .gitignore
  apps/cli/bunup.config.ts
  apps/cli/package.json
  bun.lock
  lefthook.yml
  package.json
  packages/roller/RANDSUM_DICE_NOTATION.md
  skills/dice-rolling/SKILL.md
  skills/dice-rolling/references/NOTATION.md
Due: lint, format

Plugin
  .claude-plugin/plugin.json
Due: format

docs: audit and fix README inaccuracies across all packages
  packages/blades/README.md
  packages/fifth/README.md
  packages/pbta/README.md
  packages/roller/README.md
  packages/root-rpg/README.md
  packages/salvageunion/README.md
Due: format

docs: audit and fix README inaccuracies across all packages (#925)
  packages/blades/README.md
  packages/fifth/README.md
  packages/pbta/README.md
  packages/roller/README.md
  packages/root-rpg/README.md
  packages/salvageunion/README.md
Due: format

docs: refresh copy and site UI across packages and docs
  README.md
  apps/site/astro.config.mjs
  apps/site/src/content/docs/getting-started/installation.mdx
  apps/site/src/content/docs/getting-started/introduction.mdx
  apps/site/src/content/docs/getting-started/quick-start.mdx
  apps/site/src/content/docs/index.mdx
  apps/site/src/content/docs/packages/roller.mdx
  apps/site/src/content/docs/tools/discord-bot.mdx
  apps/site/src/content/docs/tools/skill/index.mdx
  apps/site/src/pages/index.astro
  apps/site/src/utils/packageData.ts
  packages/blades/README.md
  packages/daggerheart/README.md
  packages/fifth/README.md
  packages/pbta/README.md
  packages/roller/README.md
  packages/root-rpg/README.md
  packages/salvageunion/README.md
Due: lint, format

docs(site): restructure sidebar — add Guides, FAQ, promote LLM Skill, rename Core
  apps/site/astro.config.mjs
Due: lint

docs(site): add FAQ page
  apps/site/src/content/docs/getting-started/faq.mdx
Due: none

fix(site): correct FAQ code examples — imports, RollRecord paths, seeded RNG
  apps/site/src/content/docs/getting-started/faq.mdx
Due: none

fix(site): correct LCG divisor in seeded random example
  apps/site/src/content/docs/getting-started/faq.mdx
Due: none

docs(site): add Error Handling guide
  apps/site/src/content/docs/guides/error-handling.mdx
Due: none

fix(site): correct Error Handling guide — total is 0 not undefined, remove game package error section
  apps/site/src/content/docs/guides/error-handling.mdx
Due: none

fix(site): clarify total is 0 on error in Error Handling guide
  apps/site/src/content/docs/guides/error-handling.mdx
Due: none

docs(site): add Recipes guide
  apps/site/src/content/docs/guides/recipes.mdx
Due: none

fix(site): use fate.result instead of rolls[0].customResults in Recipes guide
  apps/site/src/content/docs/guides/recipes.mdx
Due: none

docs(site): add Custom Game Packages guide
  apps/site/src/content/docs/guides/custom-game-packages.mdx
Due: none

fix(site): correct computeDetails example and improve validate section in Custom Game Packages guide
  apps/site/src/content/docs/guides/custom-game-packages.mdx
Due: none

docs(site): add Testing guide
  apps/site/src/content/docs/guides/testing.mdx
Due: none

fix(site): clean up Testing guide — remove unused import, align LCG style, fix misleading test
  apps/site/src/content/docs/guides/testing.mdx
Due: none

docs: refresh copy and site UI across packages and docs (#926)
  README.md
  apps/site/astro.config.mjs
  apps/site/src/content/docs/getting-started/faq.mdx
  apps/site/src/content/docs/getting-started/installation.mdx
  apps/site/src/content/docs/getting-started/introduction.mdx
  apps/site/src/content/docs/getting-started/quick-start.mdx
  apps/site/src/content/docs/guides/custom-game-packages.mdx
  apps/site/src/content/docs/guides/error-handling.mdx
  apps/site/src/content/docs/guides/recipes.mdx
  apps/site/src/content/docs/guides/testing.mdx
  apps/site/src/content/docs/index.mdx
  apps/site/src/content/docs/packages/roller.mdx
  apps/site/src/content/docs/tools/discord-bot.mdx
  apps/site/src/content/docs/tools/skill/index.mdx
  apps/site/src/pages/index.astro
  apps/site/src/utils/packageData.ts
  packages/blades/README.md
  packages/daggerheart/README.md
  packages/fifth/README.md
  packages/pbta/README.md
  packages/roller/README.md
  packages/root-rpg/README.md
  packages/salvageunion/README.md
Due: lint, format

fix(site): give Roller gold and LLM Skill cyan — resolve color collisions with game packages
  apps/site/src/styles/custom.css
  apps/site/src/utils/packageData.ts
Due: lint, format

fix(site): give Roller gold and LLM Skill cyan — resolve color collisions with game packages
  apps/site/src/styles/custom.css
Due: format

fix(site): tighten landing page spacing to increase real estate
  apps/site/src/pages/index.astro
Due: format

fix(site): professional polish — window dots, card lift, button glow, tighter typography
  apps/site/src/pages/index.astro
Due: format

Path conditions:
  lint: any of: *.{ts,tsx,js,mjs}
  format: any of: *.{ts,tsx,js,json,md,astro,css}
