Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint --fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

feat(discord-bot): port /notation to the Worker; vendor Cloudflare skills (#1225)
  .claude/skills/add-modifier/SKILL.md
  .claude/skills/codegen/SKILL.md
  .claude/skills/create-game/SKILL.md
  .claude/skills/publish/SKILL.md
  .claude/skills/web-perf/SKILL.md
  .claude/skills/workers-best-practices/SKILL.md
  .claude/skills/workers-best-practices/references/review.md
  .claude/skills/workers-best-practices/references/rules.md
  .claude/skills/wrangler/SKILL.md
  CLAUDE.md
  apps/discord-bot/__tests__/worker/dispatch.test.ts
  apps/discord-bot/src/commands/lib/notationView.ts
  apps/discord-bot/src/commands/notation.ts
  apps/discord-bot/src/types.ts
  apps/discord-bot/src/worker/dispatch.ts
  package.json
  scripts/sync-cloudflare-skills.ts
Due: lint, format

docs(deploy): add the Cloudflare cutover runbook
  apps/DEPLOY.md
Due: format

docs(deploy): add the Cloudflare cutover runbook (#1226)
  apps/DEPLOY.md
Due: format

docs(deploy): audit the randsum.dev zone — the DNS cutover is smaller than assumed
  apps/DEPLOY.md
Due: format

docs(deploy): audit the randsum.dev zone — the DNS cutover is smaller than assumed (#1227)
  apps/DEPLOY.md
Due: format

feat(scripts): add cloudflare-zone-setup — stage a zone without changing what it serves
  scripts/cloudflare-zone-setup.ts
Due: lint, format

feat(scripts): add cloudflare-zone-setup — stage a zone without changing what it serves (#1228)
  scripts/cloudflare-zone-setup.ts
Due: lint, format

chore(mcp,docs): point tooling at Cloudflare now that both sites have moved
  .mcp.json
  CLAUDE.md
  apps/DEPLOY.md
Due: format

chore(mcp,docs): point tooling at Cloudflare now that both sites have moved (#1229)
  .mcp.json
  CLAUDE.md
  apps/DEPLOY.md
Due: format

feat(discord-bot): cut the bot over to the Cloudflare Worker
  .github/workflows/deploy-cloudflare.yml
  apps/DEPLOY.md
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/wrangler.jsonc
  apps/site/astro.config.mjs
Due: lint, format

feat(discord-bot): cut the bot over to the Cloudflare Worker (#1230)
  .github/workflows/deploy-cloudflare.yml
  apps/DEPLOY.md
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/wrangler.jsonc
  apps/site/astro.config.mjs
Due: lint, format

chore: remove Netlify entirely
  .github/workflows/ci.yml
  .github/workflows/deploy-cloudflare.yml
  .github/workflows/security.yml
  CLAUDE.md
  README.md
  apps/DEPLOY.md
  apps/rdn/CLAUDE.md
  apps/rdn/README.md
  apps/rdn/netlify.toml
  apps/site/.gitignore
  apps/site/CLAUDE.md
  apps/site/README.md
  apps/site/astro.config.mjs
  apps/site/netlify.toml
  apps/site/package.json
  apps/site/public/_headers
  apps/site/src/integrations/copy-markdown-to-dist.ts
  apps/site/src/pages/api/roll.ts
  biome.json
  bun.lock
  lefthook.yml
  osv-scanner.toml
Due: lint, format

docs(deploy): correct the zone-completeness claim — the probe missed playground
  apps/DEPLOY.md
Due: format

chore: remove Netlify entirely (#1231)
  .github/workflows/ci.yml
  .github/workflows/deploy-cloudflare.yml
  .github/workflows/security.yml
  CLAUDE.md
  README.md
  apps/DEPLOY.md
  apps/rdn/CLAUDE.md
  apps/rdn/README.md
  apps/rdn/netlify.toml
  apps/site/.gitignore
  apps/site/CLAUDE.md
  apps/site/README.md
  apps/site/astro.config.mjs
  apps/site/netlify.toml
  apps/site/package.json
  apps/site/public/_headers
  apps/site/src/integrations/copy-markdown-to-dist.ts
  apps/site/src/pages/api/roll.ts
  biome.json
  bun.lock
  lefthook.yml
  osv-scanner.toml
Due: lint, format

docs(deploy): record the decommission — Netlify deleted, Render suspended
  apps/DEPLOY.md
Due: format

docs(deploy): record the decommission — Netlify deleted, Render suspended (#1232)
  apps/DEPLOY.md
Due: format

fix(discord-bot): restore the privacy policy so its published URL stops 404ing
  apps/discord-bot/PRIVACY_POLICY.md
Due: format

fix(discord-bot): restore the privacy policy so its published URL stops 404ing (#1233)
  apps/discord-bot/PRIVACY_POLICY.md
Due: format

chore(deps): bump Bun to 1.4.0
  .bun-version
  CONTRIBUTING.md
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/README.md
  bun.lock
  package.json
  render.yaml
Due: format

chore(deps): bump Bun to 1.4.0 (#1234)
  .bun-version
  CONTRIBUTING.md
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/README.md
  bun.lock
  package.json
  render.yaml
Due: format

chore: drop Render entirely, along with the gateway bot it hosted
  .mcp.json
  CLAUDE.md
  CONTRIBUTING.md
  apps/DEPLOY.md
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/README.md
  apps/discord-bot/__tests__/events/guildCreate.test.ts
  apps/discord-bot/__tests__/events/interactionCreate.test.ts
  apps/discord-bot/__tests__/utils/errorTracker.test.ts
  apps/discord-bot/__tests__/utils/gateway.test.ts
  apps/discord-bot/__tests__/utils/heartbeat.test.ts
  apps/discord-bot/__tests__/utils/syncCommands.test.ts
  apps/discord-bot/bunup.config.ts
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/lib/notationView.ts
  apps/discord-bot/src/events/guildCreate.ts
  apps/discord-bot/src/events/interactionCreate.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/utils/discord.ts
  apps/discord-bot/src/utils/errorTracker.ts
  apps/discord-bot/src/utils/gateway.ts
  apps/discord-bot/src/utils/heartbeat.ts
  apps/discord-bot/src/utils/logger.ts
  apps/discord-bot/src/utils/loginWithBackoff.ts
  apps/discord-bot/src/utils/metrics.ts
  apps/discord-bot/src/utils/syncCommands.ts
  apps/discord-bot/wrangler.jsonc
  knip.json
  package.json
  render.yaml
  runbooks/RCA-template.md
  scripts/check-workspace-scripts.ts
  scripts/mcp-1password-headers.sh
Due: lint, format

fix(deps): patch four high advisories via in-range bumps
  bun.lock
Due: none

chore(deps): override browserslist to >=4.28.7 to clear two high advisories
  bun.lock
  package.json
Due: format

chore: drop Render entirely, along with the gateway bot it hosted (#1236)
  .mcp.json
  CLAUDE.md
  CONTRIBUTING.md
  apps/DEPLOY.md
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/README.md
  apps/discord-bot/__tests__/events/guildCreate.test.ts
  apps/discord-bot/__tests__/events/interactionCreate.test.ts
  apps/discord-bot/__tests__/utils/errorTracker.test.ts
  apps/discord-bot/__tests__/utils/gateway.test.ts
  apps/discord-bot/__tests__/utils/heartbeat.test.ts
  apps/discord-bot/__tests__/utils/syncCommands.test.ts
  apps/discord-bot/bunup.config.ts
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/lib/notationView.ts
  apps/discord-bot/src/events/guildCreate.ts
  apps/discord-bot/src/events/interactionCreate.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/utils/discord.ts
  apps/discord-bot/src/utils/errorTracker.ts
  apps/discord-bot/src/utils/gateway.ts
  apps/discord-bot/src/utils/heartbeat.ts
  apps/discord-bot/src/utils/logger.ts
  apps/discord-bot/src/utils/loginWithBackoff.ts
  apps/discord-bot/src/utils/metrics.ts
  apps/discord-bot/src/utils/syncCommands.ts
  apps/discord-bot/wrangler.jsonc
  bun.lock
  knip.json
  package.json
  render.yaml
  runbooks/RCA-template.md
  scripts/check-workspace-scripts.ts
  scripts/mcp-1password-headers.sh
Due: lint, format

refactor(discord-bot): remove Command.execute, autocomplete, and their orphans
  apps/DEPLOY.md
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/README.md
  apps/discord-bot/__tests__/commands/blades.test.ts
  apps/discord-bot/__tests__/commands/dh.test.ts
  apps/discord-bot/__tests__/commands/fate.test.ts
  apps/discord-bot/__tests__/commands/fifth.test.ts
  apps/discord-bot/__tests__/commands/help.test.ts
  apps/discord-bot/__tests__/commands/index.test.ts
  apps/discord-bot/__tests__/commands/lib/context.ts
  apps/discord-bot/__tests__/commands/notation.test.ts
  apps/discord-bot/__tests__/commands/pbta.test.ts
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/__tests__/commands/root.test.ts
  apps/discord-bot/__tests__/commands/salvageunion.test.ts
  apps/discord-bot/__tests__/integration/roll.integration.test.ts
  apps/discord-bot/__tests__/utils/errorTracker.test.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/lib/notationView.ts
  apps/discord-bot/src/commands/notation.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/types.ts
  apps/discord-bot/src/utils/discord.ts
  apps/discord-bot/src/utils/ephemeral.ts
  apps/discord-bot/src/utils/errorTracker.ts
  apps/discord-bot/src/utils/logger.ts
  apps/discord-bot/src/utils/replyWithError.ts
Due: lint, format

refactor(discord-bot): remove Command.execute, autocomplete, and their orphans (#1235)
  apps/DEPLOY.md
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/README.md
  apps/discord-bot/__tests__/commands/blades.test.ts
  apps/discord-bot/__tests__/commands/dh.test.ts
  apps/discord-bot/__tests__/commands/fate.test.ts
  apps/discord-bot/__tests__/commands/fifth.test.ts
  apps/discord-bot/__tests__/commands/help.test.ts
  apps/discord-bot/__tests__/commands/index.test.ts
  apps/discord-bot/__tests__/commands/lib/context.ts
  apps/discord-bot/__tests__/commands/notation.test.ts
  apps/discord-bot/__tests__/commands/pbta.test.ts
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/__tests__/commands/root.test.ts
  apps/discord-bot/__tests__/commands/salvageunion.test.ts
  apps/discord-bot/__tests__/integration/roll.integration.test.ts
  apps/discord-bot/__tests__/utils/errorTracker.test.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/lib/notationView.ts
  apps/discord-bot/src/commands/notation.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/types.ts
  apps/discord-bot/src/utils/discord.ts
  apps/discord-bot/src/utils/ephemeral.ts
  apps/discord-bot/src/utils/errorTracker.ts
  apps/discord-bot/src/utils/logger.ts
  apps/discord-bot/src/utils/replyWithError.ts
Due: lint, format

ci(deploy): add workflow_dispatch so a dropped push event is recoverable
  .github/workflows/deploy-cloudflare.yml
  apps/DEPLOY.md
Due: format

ci(deploy): add workflow_dispatch so a dropped push event is recoverable (#1238)
  .github/workflows/deploy-cloudflare.yml
  apps/DEPLOY.md
Due: format

fix(discord-bot): correct four defects in roll rendering
  .changeset/blades-pool-ceiling.md
  apps/discord-bot/__tests__/commands/pbta.test.ts
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/__tests__/integration/roll.integration.test.ts
  apps/discord-bot/src/commands/blades.ts
  apps/discord-bot/src/commands/fifth.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/pbta.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/commands/root.ts
  packages/games/blades.randsum.json
  packages/games/src/blades.generated.ts
Due: lint, format

feat(discord-bot): add the Components V2 seam alongside the embed path
  apps/discord-bot/__tests__/worker/dispatch.test.ts
  apps/discord-bot/src/types.ts
  apps/discord-bot/src/utils/builders.ts
  apps/discord-bot/src/worker/dispatch.ts
Due: lint, format

feat(discord-bot): add the shared Components V2 renderer
  apps/discord-bot/__tests__/commands/lib/view.test.ts
  apps/discord-bot/__tests__/lib/view.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/lib/view.ts
  apps/discord-bot/src/utils/constants.ts
Due: lint, format

test(discord-bot): use a valid notation in the multi-pool test
  apps/discord-bot/__tests__/commands/roll.test.ts
Due: lint, format

fix(discord-bot): bound the three integer options that had none
  apps/discord-bot/__tests__/commands/index.test.ts
  apps/discord-bot/src/commands/dh.ts
  apps/discord-bot/src/commands/pbta.ts
Due: lint, format

fix(discord-bot): suppress mentions on every response
  apps/discord-bot/__tests__/worker/dispatch.test.ts
  apps/discord-bot/src/worker/dispatch.ts
Due: lint, format

fix(discord-bot): correct four defects in roll rendering (#1239)
  .changeset/blades-pool-ceiling.md
  apps/discord-bot/__tests__/commands/pbta.test.ts
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/__tests__/integration/roll.integration.test.ts
  apps/discord-bot/src/commands/blades.ts
  apps/discord-bot/src/commands/fifth.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/pbta.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/commands/root.ts
  packages/games/blades.randsum.json
  packages/games/src/blades.generated.ts
Due: lint, format

feat(discord-bot): add the Components V2 seam alongside the embed path (#1240)
  apps/discord-bot/__tests__/worker/dispatch.test.ts
  apps/discord-bot/src/types.ts
  apps/discord-bot/src/utils/builders.ts
  apps/discord-bot/src/worker/dispatch.ts
Due: lint, format

feat(discord-bot): add the shared Components V2 renderer (#1241)
  apps/discord-bot/__tests__/commands/lib/view.test.ts
  apps/discord-bot/__tests__/lib/view.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/lib/view.ts
  apps/discord-bot/src/utils/constants.ts
Due: lint, format

feat(discord-bot): migrate /roll to Components V2
  apps/discord-bot/__tests__/commands/index.test.ts
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/__tests__/integration/roll.integration.test.ts
  apps/discord-bot/__tests__/lib/view.ts
  apps/discord-bot/__tests__/worker/dispatch.test.ts
  apps/discord-bot/src/commands/dh.ts
  apps/discord-bot/src/commands/lib/index.ts
  apps/discord-bot/src/commands/lib/view.ts
  apps/discord-bot/src/commands/pbta.ts
  apps/discord-bot/src/commands/roll.ts
  apps/discord-bot/src/worker/dispatch.ts
Due: lint, format

Path conditions:
  lint: any of: *.{ts,tsx,js,mjs}
  format: any of: *.{ts,tsx,js,json,md,astro,css}
