Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,mjs}"
      run: bun run lint --fix
      stage_fixed: true
    format:
      glob: "*.{ts,tsx,js,json,md,astro,css}"
      run: bun run format
      stage_fixed: true
    typecheck:
      run: bun run typecheck

pre-push:
  commands:
    test:
      run: bun test
    exports:
      run: bun run check:exports
    security:
      run: bun audit --audit-level high

docs(readme): update package list and fix CLI command
  README.md
  packages/component-library/src/components/ModifierReference/ModifierReference.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
Due: lint, format

fix(component-library): unify ModifierReference styles with playground
  packages/component-library/src/components/ModifierReference/ModifierReference.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
Due: format

fix(roller): replace bitwise OR with Math.floor in coreRandom to fix overflow for max > 2^31
  packages/roller/__tests__/lib/coreRandom.test.ts
  packages/roller/src/lib/random/coreRandom.ts
Due: lint, format

fix(roller): throw ModifierError when unique modifier exhausts reroll attempts instead of returning duplicate
  packages/roller/__tests__/roll/edgeCases.test.ts
  packages/roller/src/lib/modifiers/definitions/unique.ts
Due: lint, format

fix(roller): correct misleading comment in unique exhaustion test
  packages/roller/__tests__/roll/edgeCases.test.ts
Due: lint, format

docs(roller): clarify explosion depth 0 = unlimited convention in resolveExplosionDepth and constants
  packages/roller/src/lib/constants.ts
  packages/roller/src/lib/modifiers/definitions/explosion.ts
Due: lint, format

docs(roller): add comprehensive JSDoc for ModifierLog added/removed semantics with examples
  packages/roller/src/lib/modifiers/log.ts
  packages/roller/src/types/modifiers.ts
Due: lint, format

docs(roller): document DiceNotation template literal limitation and branding trade-off
  packages/roller/src/types/core.ts
Due: lint, format

docs(roller): document that RollConfig must be the last argument to roll()
  packages/roller/src/roll/index.ts
Due: lint, format

docs(roller): improve RollOptions.key JSDoc with multi-roll lookup example
  packages/roller/src/types/core.ts
Due: lint, format

docs(roller): add custom modifier guide with example and priority slot reference
  CLAUDE/custom-modifiers.md
Due: format

docs(roller): mark RollPipeline.build() as internal and add never-throws regression test
  packages/roller/__tests__/roll/pipeline.test.ts
  packages/roller/src/roll/pipeline.ts
Due: lint, format

perf(roller): cache combined modifier pattern in registry, invalidate on registration changes
  packages/roller/__tests__/lib/patterns.test.ts
  packages/roller/src/lib/modifiers/index.ts
  packages/roller/src/lib/modifiers/registry.ts
  packages/roller/src/lib/patterns/completeRollPattern.ts
Due: lint, format

docs(roller): fix misleading cached comment in createCompleteRollPattern
  packages/roller/src/lib/patterns/completeRollPattern.ts
Due: lint, format

test(roller): add regression tests for lastIndex reset safety in parseModifiersFromRegistry
  packages/roller/__tests__/lib/modifiers/registry.test.ts
Due: lint, format

fix(roller): validate ComparisonOptions for impossible combinations in cap, reroll, replace, countSuccesses
  packages/roller/__tests__/roll/edgeCases.test.ts
  packages/roller/__tests__/roll/parseArguments.test.ts
  packages/roller/src/lib/comparison/index.ts
  packages/roller/src/lib/comparison/validateComparisonOptions.ts
  packages/roller/src/lib/modifiers/definitions/cap.ts
  packages/roller/src/lib/modifiers/definitions/replace.ts
  packages/roller/src/lib/modifiers/definitions/reroll.ts
Due: lint, format

fix(roller): remove redundant cap range check, add countSuccesses botchThreshold validation
  packages/roller/__tests__/roll/edgeCases.test.ts
  packages/roller/src/lib/modifiers/definitions/cap.ts
  packages/roller/src/lib/modifiers/definitions/countSuccesses.ts
Due: lint, format

fix(roller): throw ValidationError in analyze() for invalid sample count
  packages/roller/__tests__/lib/probability.test.ts
  packages/roller/src/lib/probability.ts
Due: lint, format

test(roller): add modifier interaction matrix tests for combined modifier behavior
  packages/roller/__tests__/roll/modifiers.interaction.test.ts
Due: lint, format

test(roller): add tighter accuracy tests for analyze() using known analytical values
  packages/roller/__tests__/lib/probability.test.ts
Due: lint, format

test(roller): add explosion depth limit stress tests for compound, penetrate, and explode
  packages/roller/__tests__/roll/explosion.depth.test.ts
Due: lint, format

feat(roller): export MODIFIER_PRIORITIES constant for modifier execution order introspection
  packages/roller/__tests__/lib/modifiers/registry.test.ts
  packages/roller/src/index.ts
  packages/roller/src/internal/api.ts
  packages/roller/src/lib/modifiers/index.ts
  packages/roller/src/lib/modifiers/priorities.ts
Due: lint, format

feat(roller): add normalize() and equate() utilities for notation canonicalization
  packages/roller/__tests__/lib/normalize.test.ts
  packages/roller/src/index.ts
  packages/roller/src/internal/api.ts
  packages/roller/src/lib/normalize.ts
Due: lint, format

feat(roller): add lightweight mode to RollConfig to skip description/notation building
  packages/roller/__tests__/roll/roll.test.ts
  packages/roller/src/roll/index.ts
  packages/roller/src/roll/parseArguments.ts
  packages/roller/src/types/core.ts
Due: lint, format

feat(roller): add fluent DiceBuilder d() for constructing RollOptions without nested objects
  packages/roller/__tests__/lib/builder.test.ts
  packages/roller/src/index.ts
  packages/roller/src/internal/api.ts
  packages/roller/src/lib/builder.ts
Due: lint, format

test(roller): fix flaky unique+reroll assertion — rollOne is 0-based so values may be <= 1
  packages/roller/__tests__/roll/modifiers.interaction.test.ts
Due: lint, format

fix(roller): normalize() throw on multi-segment, DiceBuilder merge type, lightweight placeholder notation
  packages/roller/src/lib/builder.ts
  packages/roller/src/lib/normalize.ts
  packages/roller/src/roll/parseArguments.ts
Due: lint, format

fix(roller): use null for lightweight notation instead of placeholder string
  apps/cli/README.md
  packages/blades/README.md
  packages/daggerheart/README.md
  packages/fifth/README.md
  packages/pbta/README.md
  packages/roller/__tests__/roll/roll.test.ts
  packages/roller/src/roll/parseArguments.ts
  packages/roller/src/types/results.ts
  packages/root-rpg/README.md
  packages/salvageunion/README.md
Due: lint, format

revert(roller): remove lightweight mode — type divergence outweighs performance benefit
  packages/roller/__tests__/roll/roll.test.ts
  packages/roller/src/roll/index.ts
  packages/roller/src/roll/parseArguments.ts
  packages/roller/src/types/core.ts
  packages/roller/src/types/results.ts
Due: lint, format

chore: bump minor versions — roller 1.2.0 and all dependent packages
  apps/cli/package.json
  packages/blades/package.json
  packages/component-library/package.json
  packages/daggerheart/package.json
  packages/fifth/package.json
  packages/pbta/package.json
  packages/roller/package.json
  packages/root-rpg/package.json
  packages/salvageunion/package.json
Due: format

chore: bump roller and all game packages + CLI to 3.0.0
  apps/cli/package.json
  packages/blades/package.json
  packages/daggerheart/package.json
  packages/fifth/package.json
  packages/pbta/package.json
  packages/roller/package.json
  packages/root-rpg/package.json
  packages/salvageunion/package.json
Due: format

chore(salvageunion): update salvageunion-reference to ^2.4.0
  bun.lock
  packages/salvageunion/package.json
Due: format

test(roller): add distribution tests and exclude from coverage
  bun.lock
  bunfig.toml
  docs/plans/2026-03-06-modifiers-hover-tooltip-design.md
  docs/plans/2026-03-06-modifiers-hover-tooltip.md
  docs/plans/2026-03-06-roller-playground-expand-design.md
  docs/plans/2026-03-06-roller-playground-expand.md
  package.json
  packages/roller/__tests__/lib/normalize.test.ts
  packages/roller/__tests__/roll/roll.distribution.test.ts
  packages/roller/src/index.ts
  packages/roller/src/internal/api.ts
  packages/roller/src/internal/publicTypes.ts
  packages/roller/src/lib/normalize.ts
  packages/salvageunion/src/types.ts
Due: lint, format

refactor(roller)!: replace never-throw pattern with thrown exceptions
  apps/cli/__tests__/shared/format.test.ts
  apps/cli/src/shared/format.ts
  apps/cli/src/simple/run.ts
  apps/cli/src/tui/App.tsx
  apps/discord-bot/src/commands/roll.ts
  apps/site/src/components/playground/helpers/formatResult.ts
  bunfig.toml
  package.json
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
  packages/roller/__tests__/lib/builder.test.ts
  packages/roller/__tests__/lib/normalize.test.ts
  packages/roller/__tests__/roll/edgeCases.test.ts
  packages/roller/__tests__/roll/explosion.depth.test.ts
  packages/roller/__tests__/roll/modifiers.interaction.test.ts
  packages/roller/__tests__/roll/pipeline.test.ts
  packages/roller/__tests__/roll/roll.distribution.test.ts
  packages/roller/src/index.ts
  packages/roller/src/internal/api.ts
  packages/roller/src/internal/publicTypes.ts
  packages/roller/src/lib/normalize.ts
  packages/roller/src/lib/utils/validation.ts
  packages/roller/src/roll/index.ts
  packages/roller/src/types/results.ts
Due: lint, format

docs(site): update error handling docs for throw-based API
  apps/site/src/content/docs/getting-started/faq.mdx
  apps/site/src/content/docs/getting-started/introduction.mdx
  apps/site/src/content/docs/getting-started/quick-start.mdx
  apps/site/src/content/docs/guides/error-handling.mdx
  apps/site/src/content/docs/guides/testing.mdx
  apps/site/src/content/docs/packages/overview.mdx
  apps/site/src/content/docs/packages/roller.mdx
  apps/site/src/content/docs/reference/roll-options.mdx
Due: none

feat(site): expand landing page playground by default
  apps/site/src/components/HeroInteractive.tsx
Due: lint, format

fix(component-library): add missing return type on keydown handler
  apps/site/astro.config.mjs
  apps/site/src/components/Header.astro
  apps/site/src/components/HeroInteractive.tsx
  apps/site/src/pages/index.astro
  packages/component-library/src/components/ModifierReference/ModifierReference.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
  packages/component-library/src/components/RollerPlayground/tokenize.ts
  packages/roller/__tests__/isDiceNotation.test.ts
  packages/roller/__tests__/lib/patterns.test.ts
  packages/roller/__tests__/roll/edgeCases.test.ts
  packages/roller/__tests__/validateNotation.test.ts
  packages/roller/src/lib/patterns/coreNotationPattern.ts
Due: lint, format

docs: add compound notation playground design doc
  docs/plans/2026-03-07-compound-notation-design.md
Due: format

docs: add compound notation implementation plan
  docs/plans/2026-03-07-compound-notation.md
Due: format

feat(component-library): tokenize compound dice notation as multiple core tokens
  packages/component-library/__tests__/tokenize.test.ts
  packages/component-library/src/components/RollerPlayground/tokenize.ts
Due: lint, format
