Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint --fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#910)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Fix Discord Railway deploy
  package.json
Due: format

Fix Railway Root
  railway.json
Due: format

One Mo Gain
  apps/discord-bot/railway.json
Due: format

CLeaner CI
  .github/workflows/main.yml
Due: none

More CI Tweaks
  .github/workflows/main.yml
Due: none

Railway -> Render
  apps/discord-bot/railway.json
  render.yaml
Due: format

Enhance property tests, remove
  packages/blades/__tests__/rollBlades.property.test.ts
  packages/blades/src/rollBlades/index.ts
  packages/daggerheart/__tests__/rollDaggerheart.property.test.ts
  packages/fifth/__tests__/actionRoll.property.test.ts
  packages/fifth/src/actionRoll/index.ts
  packages/pbta/__tests__/rollPbtA.property.test.ts
  packages/pbta/src/rollPbtA/index.ts
  packages/roller/src/lib/probability.ts
  packages/roller/src/roll/index.ts
  packages/roller/src/types/results.ts
  packages/roller/src/validateNotation.ts
Due: lint, format

1.0 Release
  CHANGELOG.md
  SECURITY.md
  apps/discord-bot/package.json
  apps/site/package.json
  packages/blades/package.json
  packages/daggerheart/package.json
  packages/fifth/package.json
  packages/mcp/package.json
  packages/pbta/package.json
  packages/roller/package.json
  packages/root-rpg/package.json
  packages/salvageunion/package.json
Due: format

WIP
  README.md
  apps/site/src/components/NpmVersion.astro
  apps/site/src/components/PackageCard.astro
  apps/site/src/layouts/DocsLayout.astro
Due: format

1.0.0 (#912)
  CHANGELOG.md
  README.md
  SECURITY.md
  apps/discord-bot/package.json
  apps/site/package.json
  apps/site/src/components/NpmVersion.astro
  apps/site/src/components/PackageCard.astro
  apps/site/src/layouts/DocsLayout.astro
  packages/blades/package.json
  packages/daggerheart/package.json
  packages/fifth/package.json
  packages/mcp/package.json
  packages/pbta/package.json
  packages/roller/package.json
  packages/root-rpg/package.json
  packages/salvageunion/package.json
Due: format

Cleaner
  render.yaml
Due: none

Fix Links
  apps/site/src/components/PackageCard.astro
  apps/site/src/pages/getting-started/game-packages.astro
  apps/site/src/pages/tools/skill.astro
Due: format

Fix 1.0.0 publishing
  package.json
Due: format

Improve CI/CD and package configuration
  .github/workflows/auto-merge.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
  package.json
  packages/mcp/package.json
Due: format

regen lock
  bun.lock
Due: none

Jarvis/missing-bits (#913)
  .github/workflows/auto-merge.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
  bun.lock
  package.json
  packages/mcp/package.json
Due: format

Fix Public
  .github/workflows/publish.yml
Due: none

Bump MCP
  packages/mcp/package.json
Due: format

feat(cli): scaffold @randsum/cli package with dependencies
  CLAUDE.md
  apps/cli/CLAUDE.md
  apps/cli/package.json
  apps/cli/src/index.ts
  apps/cli/tsconfig.json
  bun.lock
Due: lint, format

feat(cli): add shared roll formatters (compact, verbose, JSON)
  apps/cli/__tests__/shared/format.test.ts
  apps/cli/src/shared/format.ts
Due: lint, format

feat(cli): implement simple mode with arg parsing and roll execution
  apps/cli/__tests__/simple/run.test.ts
  apps/cli/src/index.ts
  apps/cli/src/simple/run.ts
  apps/cli/src/tui/App.tsx
Due: lint, format

fix(cli): improve type safety and handle missing --seed value
  apps/cli/src/index.ts
  apps/cli/src/simple/run.ts
Due: lint, format

feat(cli): add TUI shell with RollHistory component
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/RollHistory.tsx
  apps/cli/src/tui/hooks/useRollHistory.ts
Due: lint, format

feat(cli): add NotationInput component with text input
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/NotationInput.tsx
Due: lint, format

feat(cli): add DiceToolbar with focus management and keyboard navigation
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/DiceToolbar.tsx
  apps/cli/src/tui/components/NotationInput.tsx
Due: lint, format

fix(build): remove sideEffects: false to fix empty bundle output
  packages/blades/package.json
  packages/daggerheart/package.json
  packages/fifth/package.json
  packages/mcp/package.json
  packages/pbta/package.json
  packages/roller/package.json
  packages/root-rpg/package.json
  packages/salvageunion/package.json
Due: format

feat(cli): add NotationReference, incrementDiceQuantity, and useValidation
  apps/cli/__tests__/tui/incrementDiceQuantity.test.ts
  apps/cli/src/tui/components/NotationReference.tsx
  apps/cli/src/tui/helpers/incrementDiceQuantity.ts
  apps/cli/src/tui/hooks/useValidation.ts
Due: lint, format

feat(cli): add two-column layout, live validation, and smart dice buttons
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/NotationInput.tsx
  apps/cli/src/tui/components/RollHistory.tsx
Due: lint, format

feat(cli): add responsive layout for small terminals
  apps/cli/src/tui/App.tsx
Due: lint, format

chore: add CLAUDE.md docs for all packages and update CLI components
  CLAUDE/game-packages.md
  CLAUDE/modifiers.md
  CLAUDE/scripts.md
  CLAUDE/testing.md
  apps/cli/LICENSE
  apps/cli/README.md
  apps/cli/package.json
  apps/cli/src/tui/components/DiceToolbar.tsx
  apps/cli/src/tui/components/NotationReference.tsx
  apps/site/CLAUDE.md
  packages/blades/CLAUDE.md
  packages/daggerheart/CLAUDE.md
  packages/fifth/CLAUDE.md
  packages/pbta/CLAUDE.md
  packages/roller/CLAUDE.md
  packages/root-rpg/CLAUDE.md
  packages/salvageunion/CLAUDE.md
Due: lint, format

fix(security): resolve high-severity audit vulnerabilities via overrides
  bun.lock
  package.json
Due: format

chore(deps): upgrade all dependencies to latest versions
  apps/discord-bot/package.json
  apps/site/package.json
  bun.lock
  package.json
Due: format

fix(ci): resolve ESLint 10 ResolveMessage error and align CI with lefthook
  .github/workflows/main.yml
  .github/workflows/publish.yml
  AGENTS/scripts.md
  CLAUDE/scripts.md
  apps/cli/package.json
  apps/discord-bot/README.md
  apps/discord-bot/package.json
  apps/site/package.json
  package.json
  packages/blades/package.json
  packages/daggerheart/package.json
  packages/fifth/package.json
  packages/pbta/package.json
  packages/roller/package.json
  packages/root-rpg/package.json
  packages/salvageunion/package.json
  scripts/create-game-package.ts
Due: lint, format

Path conditions:
  lint: any of: *.{ts,tsx,js,mjs}
  format: any of: *.{ts,tsx,js,json,md,astro,css}
