Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint --fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

fix(component-library): thinner overlay border, enable vertical scroll
  packages/component-library/src/components/NotationRoller/NotationRoller.css
Due: format

feat(component-library): fancy modal animation with scale bounce and blur
  packages/component-library/src/components/NotationRoller/NotationRoller.css
Due: format

fix(site): center notation parser vertically in hero
  apps/site/src/pages/index.astro
Due: format

fix(component-library): let notation text flow under Roll button on wrap
  packages/component-library/src/components/NotationRoller/NotationRoller.css
Due: format

fix(component-library): revert to flex layout for first-line button clearance
  packages/component-library/src/components/NotationRoller/NotationRoller.css
Due: format

feat(component-library): Roll button on left with text-indent for first line
  packages/component-library/src/components/NotationRoller/NotationRoller.css
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
Due: lint, format

fix(component-library): tighten text-indent to remove gap between Roll button and text
  packages/component-library/src/components/NotationRoller/NotationRoller.css
Due: format

perf: parallelize pre-push hook steps after build
  lefthook.yml
Due: none

perf: suppress verbose pre-push hook output
  lefthook.yml
Due: none

feat: code preview with StackBlitz, install stack, playground button restyle
  apps/site/src/pages/index.astro
  packages/component-library/src/components/NotationRoller/NotationRoller.css
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
Due: lint, format

fix(component-library): more padding on desc row, match code preview border to shell
  packages/component-library/src/components/NotationRoller/NotationRoller.css
Due: format

feat(site): move install commands to equal-width row below hero
  apps/site/src/pages/index.astro
Due: format

feat(site): hero chip presets, install row cleanup, feature band hover
  apps/site/src/components/FeatureBand.astro
  apps/site/src/components/HeroInteractive.tsx
  apps/site/src/pages/index.astro
  lefthook.yml
  packages/component-library/src/components/NotationRoller/NotationRoller.css
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
Due: lint, format

docs(roller): add docs-as-spec for @randsum/roller/docs and /trace subpaths
  packages/roller/CLAUDE.md
  packages/roller/README.md
Due: format

docs: remove stale display-utils, notation ghost entries
  CLAUDE.md
  llms.txt
  scripts/publish.ts
Due: lint, format

feat(roller): add @randsum/roller/docs subpath
  packages/roller/__tests__/docs.test.ts
  packages/roller/bunup.config.ts
  packages/roller/package.json
  packages/roller/src/docs/index.ts
  packages/roller/src/docs/modifierDocs.ts
Due: lint, format

fix(ci): make gen:check a hard gate by removing continue-on-error
  .github/workflows/ci.yml
Due: none

feat(roller): add @randsum/roller/trace subpath
  packages/roller/__tests__/trace.test.ts
  packages/roller/bunup.config.ts
  packages/roller/package.json
  packages/roller/src/trace/index.ts
  packages/roller/src/trace/traceRoll.ts
Due: lint, format

refactor(games): harden codegen emitter — remove eslint-disable, replace let with const
  packages/games/__tests__/lib/conditionalPool.test.ts
  packages/games/__tests__/lib/detailsFields.test.ts
  packages/games/__tests__/lib/emitUnit.test.ts
  packages/games/src/blades.generated.ts
  packages/games/src/daggerheart.generated.ts
  packages/games/src/fifth.generated.ts
  packages/games/src/lib/codegen.ts
  packages/games/src/lib/codegen/emitBody.ts
  packages/games/src/lib/codegen/emitDetails.ts
  packages/games/src/pbta.generated.ts
  packages/games/src/root-rpg.generated.ts
  packages/games/src/salvageunion.generated.ts
Due: lint, format

refactor: migrate all remaining display-utils imports to roller subpaths
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/NotationReference.tsx
  apps/cli/src/tui/components/RollResultPanel.tsx
  apps/playground/__tests__/QuickReferenceGrid.test.ts
  apps/playground/__tests__/ReferenceDetail.test.ts
  apps/playground/__tests__/ReferenceSidebar.test.ts
  apps/playground/src/components/QuickReferenceGrid.tsx
  apps/playground/src/components/ReferenceDetail.tsx
  apps/playground/src/components/ReferenceSidebar.tsx
  apps/playground/src/components/RollResult.tsx
Due: lint, format

fix(games): swap SchemaError constructor to (message, code), extend RandsumError
  CLAUDE.md
  packages/games/__tests__/build-smoke.test.ts
  packages/games/__tests__/lib/errors.test.ts
  packages/games/__tests__/lib/fixtures/test.ts
  packages/games/__tests__/lib/remoteTableLookup.test.ts
  packages/games/src/blades.generated.ts
  packages/games/src/daggerheart.generated.ts
  packages/games/src/fifth.generated.ts
  packages/games/src/lib/codegen.ts
  packages/games/src/lib/codegen/emitBody.ts
  packages/games/src/lib/codegen/emitHelpers.ts
  packages/games/src/lib/codegen/emitOutcome.ts
  packages/games/src/lib/conditionEvaluator.ts
  packages/games/src/lib/errors.ts
  packages/games/src/lib/externalRefResolver.ts
  packages/games/src/lib/inputBinder.ts
  packages/games/src/lib/loader.ts
  packages/games/src/lib/lookupByRange.ts
  packages/games/src/lib/pipeline.ts
  packages/games/src/lib/refResolver.ts
  packages/games/src/pbta.generated.ts
  packages/games/src/root-rpg.generated.ts
  packages/games/src/salvageunion.generated.ts
Due: lint, format

feat: inline buildStackBlitzProject into CLI, component-library, playground
  apps/cli/src/tui/helpers/openInStackblitz.ts
  apps/cli/src/tui/helpers/stackblitz.ts
  apps/playground/src/components/PlaygroundHeader.tsx
  apps/playground/src/helpers/stackblitz.ts
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
  packages/component-library/src/helpers/stackblitz.ts
Due: lint, format

chore(component-library): remove @randsum/display-utils from build config and deps
  packages/component-library/bunup.config.ts
  packages/component-library/package.json
Due: lint, format

feat: delete @randsum/display-utils and clean up all references
  .github/workflows/ci.yml
  apps/cli/bunup.config.ts
  apps/cli/package.json
  apps/playground/package.json
  apps/site/src/content/docs/tools/display-utils.mdx
  apps/site/src/content/docs/welcome/ecosystem-overview.mdx
  apps/site/src/utils/packageData.ts
  bun.lock
  package.json
  packages/display-utils/CLAUDE.md
  packages/display-utils/LICENSE
  packages/display-utils/README.md
  packages/display-utils/__tests__/computeSteps.test.ts
  packages/display-utils/__tests__/dist.smoke.test.ts
  packages/display-utils/__tests__/modifierDocs.test.ts
  packages/display-utils/__tests__/stackblitz.test.ts
  packages/display-utils/bunup.config.ts
  packages/display-utils/package.json
  packages/display-utils/src/computeSteps.ts
  packages/display-utils/src/index.ts
  packages/display-utils/src/modifierDocs.ts
  packages/display-utils/src/stackblitz.ts
  packages/display-utils/tsconfig.json
  packages/roller/__tests__/esm-only.test.ts
Due: lint, format

fix(ci): move version checks before publish step in publish.yml
  .github/workflows/publish.yml
Due: none

feat(ci): unify publish pipeline and add dry-run preflight
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

feat!: delete @randsum/display-utils, absorbed into @randsum/roller subpaths
  packages/games/__fixtures__/salvageunion-tables.json
Due: format

feat(roller/docs): rename ModifierDoc to NotationDoc, add key/category fields, add NotationSchema.docs
  packages/roller/__tests__/docs.test.ts
  packages/roller/src/docs/index.ts
  packages/roller/src/docs/modifierDocs.ts
  packages/roller/src/notation/schema.ts
Due: lint, format

feat(roller): nd2b — co-locate docs for explode, compound, penetrate, explodeSequence
  packages/roller/src/modifiers/cap.ts
  packages/roller/src/modifiers/compound.ts
  packages/roller/src/modifiers/drop.ts
  packages/roller/src/modifiers/explode.ts
  packages/roller/src/modifiers/explodeSequence.ts
  packages/roller/src/modifiers/keep.ts
  packages/roller/src/modifiers/penetrate.ts
  packages/roller/src/modifiers/replace.ts
  packages/roller/src/modifiers/reroll.ts
  packages/roller/src/modifiers/unique.ts
Due: lint, format

feat(roller): nd2c — co-locate docs into arithmetic modifier schemas
  packages/roller/src/modifiers/integerDivide.ts
  packages/roller/src/modifiers/minus.ts
  packages/roller/src/modifiers/modulo.ts
  packages/roller/src/modifiers/multiply.ts
  packages/roller/src/modifiers/multiplyTotal.ts
  packages/roller/src/modifiers/plus.ts
Due: lint, format

feat(roller): nd2a — co-locate docs for pool modifiers (drop, keep, reroll, replace, cap, unique)
  packages/roller/src/modifiers/cap.ts
  packages/roller/src/modifiers/drop.ts
  packages/roller/src/modifiers/keep.ts
  packages/roller/src/modifiers/replace.ts
  packages/roller/src/modifiers/reroll.ts
  packages/roller/src/modifiers/unique.ts
Due: lint, format

feat(roller): nd3 — DiceSchema type + RANDSUM_DICE_SCHEMAS (7 entries)
  packages/roller/src/dice/index.ts
Due: lint, format

feat(roller): nd2d — co-locate docs for count, wildDie, sort modifiers
  packages/roller/src/modifiers/count.ts
  packages/roller/src/modifiers/sort.ts
  packages/roller/src/modifiers/wildDie.ts
Due: lint, format

feat(roller/docs): nd4 — derive NOTATION_DOCS, MODIFIER_DOCS, DICE_DOCS from co-located schemas
  packages/roller/__tests__/docs.test.ts
  packages/roller/src/docs/index.ts
  packages/roller/src/docs/modifierDocs.ts
  packages/roller/src/modifiers/compound.ts
  packages/roller/src/modifiers/explode.ts
  packages/roller/src/modifiers/explodeSequence.ts
  packages/roller/src/modifiers/penetrate.ts
Due: lint, format

test(roller/docs): nd5 — expand docs.test.ts for NotationDoc, DICE_DOCS, NOTATION_DOCS, derivation
  packages/roller/__tests__/docs.test.ts
Due: lint, format

feat(consumers): nd6 — rename ModifierDoc → NotationDoc in playground and CLI
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/NotationReference.tsx
  apps/playground/__tests__/ReferenceDetail.test.ts
  apps/playground/src/components/QuickReferenceGrid.tsx
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
Due: lint, format

docs(roller): nd7 — update CLAUDE.md for NotationDoc, NOTATION_DOCS, DICE_DOCS
  packages/roller/CLAUDE.md
Due: format

fix(component-library): align tooltip CSS test assertions with actual class names
  docs/superpowers/specs/2026-03-18-notation-docs-decomposition-design.md
  packages/component-library/__tests__/NotationRoller.tooltip.test.tsx
Due: lint, format

fix(site): remove dead display-utils sidebar entry
  apps/site/astro.config.mjs
  packages/component-library/src/components/NotationRoller/NotationRoller.css
Due: lint, format

feat(roller): S1 type foundation — TokenCategory + color on NotationDoc
  apps/cli/__tests__/tui/tokenize.test.ts
  apps/cli/src/tui/components/NotationDescriptionRow.tsx
  apps/cli/src/tui/components/NotationHighlight.tsx
  apps/cli/src/tui/helpers/tokenColors.ts
  apps/playground/__tests__/NotationInput.test.ts
  apps/playground/__tests__/ReferenceDetail.test.ts
  apps/playground/src/components/NotationDescription.tsx
  apps/playground/src/components/NotationInput.tsx
  apps/playground/src/components/notationInputUtils.ts
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
  packages/roller/src/docs/modifierDocs.ts
  packages/roller/src/index.ts
  packages/roller/src/notation/tokenize.ts
  packages/roller/src/tokenize.ts
Due: lint, format

Path conditions:
  lint: any of: *.{ts,tsx,js,mjs}
  format: any of: *.{ts,tsx,js,json,md,astro,css}
