Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint --fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

docs(site): update notation API reference for notation-into-roller merge
  apps/site/src/content/docs/notation/api-reference.mdx
Due: none

docs(site): update notation validation-and-parsing for notation-into-roller merge
  apps/site/src/content/docs/notation/validation-and-parsing.mdx
Due: none

docs(site): update component-library and index.astro for notation merge
  apps/site/src/content/docs/tools/component-library.mdx
  apps/site/src/pages/index.astro
Due: format

docs(site): update roller docs — remove re-export language for notation merge
  apps/site/src/content/docs/roller/api-reference.mdx
  apps/site/src/content/docs/roller/error-handling.mdx
  apps/site/src/content/docs/roller/introduction.mdx
Due: none

docs(site): align documentation with notation-into-roller merge (#1009)
  apps/site/src/content/docs/notation/api-reference.mdx
  apps/site/src/content/docs/notation/getting-started.mdx
  apps/site/src/content/docs/notation/introduction.mdx
  apps/site/src/content/docs/notation/validation-and-parsing.mdx
  apps/site/src/content/docs/roller/api-reference.mdx
  apps/site/src/content/docs/roller/error-handling.mdx
  apps/site/src/content/docs/roller/introduction.mdx
  apps/site/src/content/docs/tools/component-library.mdx
  apps/site/src/content/docs/welcome/ecosystem-overview.mdx
  apps/site/src/content/docs/welcome/introduction.mdx
  apps/site/src/pages/index.astro
  docs/adr/ADR-010-docs-site-notation-merge-alignment.md
Due: format

feat(component-library): redesign RollerPlayground roll button and collapse behavior
  apps/site/src/components/HeroInteractive.tsx
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
Due: lint, format

feat: formalize repo as Claude Code plugin marketplace
  .claude-plugin/plugin.json
Due: format

feat: formalize repo as Claude Code plugin (#1015)
  .claude-plugin/plugin.json
Due: format

docs: add ADR-011 playground layout design
  docs/adr/ADR-011-playground-layout-design.md
Due: format

docs(adr): add ADR-012 playground app infrastructure
  docs/adr/ADR-012-playground-app-infrastructure.md
Due: format

docs: add apps/playground/CLAUDE.md spec
  apps/playground/CLAUDE.md
Due: format

feat(playground): scaffold app with astro, netlify, and root scripts
  apps/playground/astro.config.mjs
  apps/playground/netlify.toml
  apps/playground/package.json
  apps/playground/public/favicon.svg
  apps/playground/src/pages/index.astro
  apps/playground/tsconfig.json
  bun.lock
  package.json
Due: lint, format

docs: update playground spec — full notation reference, not just modifiers
  apps/playground/CLAUDE.md
Due: format

feat(playground): add PlaygroundHeader component
  apps/playground/src/components/PlaygroundHeader.tsx
Due: lint, format

feat(playground): add design tokens and global styles
  apps/playground/src/pages/index.astro
  apps/playground/src/styles/global.css
  apps/playground/src/styles/tokens.css
Due: format

feat(playground): add NotationDescription component
  apps/playground/__tests__/NotationDescription.test.ts
  apps/playground/__tests__/PlaygroundApp.test.tsx
  apps/playground/src/components/NotationDescription.tsx
  apps/playground/src/components/PlaygroundApp.tsx
  apps/playground/src/pages/index.astro
Due: lint, format

feat(playground): add RollResult step visualization
  apps/playground/CLAUDE.md
  apps/playground/__tests__/RollResult.test.tsx
  apps/playground/src/components/RollResult.css
  apps/playground/src/components/RollResult.tsx
Due: lint, format

feat(playground): add QuickReferenceGrid with full notation coverage
  apps/playground/__tests__/QuickReferenceGrid.test.ts
  apps/playground/src/__tests__/PlaygroundLayout.test.ts
  apps/playground/src/components/MainColumn.css
  apps/playground/src/components/MainColumn.tsx
  apps/playground/src/components/PlaygroundLayout.css
  apps/playground/src/components/PlaygroundLayout.tsx
  apps/playground/src/components/QuickReferenceGrid.tsx
Due: lint, format

feat(playground): wire all components into PlaygroundApp
  apps/playground/astro.config.mjs
  apps/playground/src/components/PlaygroundApp.tsx
  apps/playground/src/styles/global.css
Due: lint, format

feat(playground): add URL state read/write for ?n= param
  apps/playground/__tests__/PlaygroundApp.test.tsx
  apps/playground/src/components/PlaygroundApp.tsx
Due: lint, format

feat(playground): add ReferenceSidebar and ReferenceDisclosure
  apps/playground/__tests__/ReferenceDetail.test.ts
  apps/playground/__tests__/ReferenceDisclosure.test.ts
  apps/playground/__tests__/ReferenceSidebar.test.ts
  apps/playground/__tests__/RollResult.test.tsx
  apps/playground/src/components/ReferenceDetail.css
  apps/playground/src/components/ReferenceDetail.tsx
  apps/playground/src/components/ReferenceDisclosure.css
  apps/playground/src/components/ReferenceDisclosure.tsx
  apps/playground/src/components/ReferenceSidebar.css
  apps/playground/src/components/ReferenceSidebar.tsx
Due: lint, format

feat(playground): add NotationInput with token highlighting
  apps/playground/__tests__/NotationInput.test.ts
  apps/playground/src/components/NotationInput.css
  apps/playground/src/components/NotationInput.tsx
  apps/playground/src/components/notationInputUtils.ts
Due: lint, format

fix(roller): add countFailures tokenizer pattern for F{N} notation
  packages/roller/__tests__/notation/tokenize.test.ts
  packages/roller/src/notation/tokenize.ts
Due: lint, format

refactor(playground): Rubular-style single-column layout with inline reference
  apps/playground/src/components/PlaygroundApp.tsx
  apps/playground/src/components/QuickReferenceGrid.tsx
Due: lint, format

refactor(playground): split reference into taxonomy sections
  apps/playground/src/components/QuickReferenceGrid.tsx
Due: lint, format

feat(display-utils): add 9 missing modifier doc entries
  packages/display-utils/__tests__/modifierDocs.test.ts
  packages/display-utils/src/modifierDocs.ts
Due: lint, format

feat(playground): add token hover highlighting, expandable reference cards, full notation coverage
  apps/playground/src/components/NotationDescription.tsx
  apps/playground/src/components/NotationInput.css
  apps/playground/src/components/NotationInput.tsx
  apps/playground/src/components/PlaygroundApp.tsx
  apps/playground/src/components/QuickReferenceGrid.tsx
  docs/superpowers/specs/2026-03-17-playground-session-persistence-design.md
  packages/display-utils/src/modifierDocs.ts
Due: lint, format

feat(playground): add session persistence foundation
  apps/playground/.env.example
  apps/playground/__tests__/lib/sessions.test.ts
  apps/playground/package.json
  apps/playground/public/_redirects
  apps/playground/src/lib/sessions.ts
  bun.lock
Due: lint, format

fix(playground): move async out of setState, fix stale closure and beforeunload flush
  apps/playground/src/components/PlaygroundApp.tsx
Due: lint, format

feat(playground): integrate session lifecycle into PlaygroundApp
  apps/playground/__tests__/PlaygroundApp.test.tsx
  apps/playground/src/components/PlaygroundApp.tsx
Due: lint, format

fix(playground): guard createSession against duplicate calls during in-flight
  apps/playground/src/components/PlaygroundApp.tsx
Due: lint, format

refactor(playground): move Share state ownership to PlaygroundApp
  apps/playground/src/components/NotationInput.tsx
  apps/playground/src/components/PlaygroundApp.tsx
Due: lint, format

feat(playground): add read-only mode with Fork and Share buttons
  apps/playground/__tests__/PlaygroundApp.test.tsx
  apps/playground/src/__tests__/NotationInputReadOnly.test.ts
  apps/playground/src/__tests__/PlaygroundApp.error.test.ts
  apps/playground/src/__tests__/sessions.test.ts
  apps/playground/src/components/NotationInput.css
  apps/playground/src/components/NotationInput.tsx
  apps/playground/src/components/PlaygroundApp.tsx
  apps/playground/src/lib/sessions.ts
Due: lint, format

chore: add .astro/ to gitignore
  .gitignore
Due: none

Cleanup, marketplace
  .claude-plugin/hooks/hooks.json
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .claude/agents/code-reviewer.md
  .claude/agents/json-schema-expert.md
  .claude/agents/test-writer.md
  .claude/agents/ttrpg-enthusiast.md
Due: format

feat(site): restore header on homepage and add playground links
  apps/site/astro.config.mjs
  apps/site/src/components/Header.astro
  apps/site/src/components/HeroInteractive.tsx
  apps/site/src/pages/index.astro
Due: lint, format

feat(site): add feature band and reorder information architecture
  apps/site/src/components/FeatureBand.astro
  apps/site/src/pages/index.astro
Due: format

feat(site): purple accent, hero glow, copy-to-clipboard install command
  apps/playground/src/styles/tokens.css
  apps/site/src/pages/index.astro
  apps/site/src/styles/custom.css
Due: format

feat(component-library): update RollerPlayground and ModifierDoc accent to purple
  apps/site/src/pages/index.astro
  packages/component-library/src/components/ModifierReference/ModifierDocContent.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
Due: format

Path conditions:
  lint: any of: *.{ts,tsx,js,mjs}
  format: any of: *.{ts,tsx,js,json,md,astro,css}
