Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,mjs}"
      run: bun run lint --fix
      stage_fixed: true
    format:
      glob: "*.{ts,tsx,js,json,md,astro,css}"
      run: bun run format
      stage_fixed: true
    typecheck:
      run: bun run typecheck

pre-push:
  commands:
    test:
      run: bun test
    exports:
      run: bun run check:exports
    security:
      run: bun audit --audit-level high

chore: version @randsum/games 3.0.0 (consume changesets, no publish)
  .changeset/custom-die-faces.md
  .changeset/fate-game-package.md
  .changeset/remove-runtime-spec-interpreter.md
  packages/games/CHANGELOG.md
  packages/games/package.json
Due: format

ci: remove gitleaks secret scanner
  .github/workflows/ci.yml
  .gitleaks.toml
  lefthook.yml
  package.json
  scripts/gitleaks-precommit.sh
Due: format

ci(render): pin BUN_VERSION=1.3.14 to match .bun-version
  render.yaml
Due: none

fix(ci): bot test isolation, sca license flag, dice-ui ReDoS
  .github/workflows/ci.yml
  apps/discord-bot/package.json
  packages/dice-ui/src/notationBuilder.ts
Due: lint, format

chore(deps): bump all dependencies + Expo SDK 56 migration
  apps/discord-bot/package.json
  apps/expo/app.json
  apps/expo/package.json
  apps/site/package.json
  bun.lock
  package.json
  packages/dice-ui/package.json
Due: format

docs(expo): update stack docs to SDK 56 / RN 0.85
  apps/expo/CLAUDE.md
  apps/expo/PRD.md
  apps/expo/README.md
Due: format

docs: top-down accuracy rewrite of ADRs, READMEs, and CLAUDE.md
  .mcp.json
  CLAUDE.md
  README.md
  apps/cli/CLAUDE.md
  apps/cli/README.md
  apps/discord-bot/CLAUDE.md
  apps/discord-bot/README.md
  apps/expo/CLAUDE.md
  apps/expo/README.md
  apps/expo/docs/adrs/ADR-001-state-management-topology.md
  apps/expo/docs/adrs/ADR-002-local-first-data-architecture.md
  apps/expo/docs/adrs/ADR-003-dice-ui-integration-via-use-dom.md
  apps/expo/docs/adrs/ADR-004-navigation-and-routing-architecture.md
  apps/expo/docs/adrs/ADR-005-design-system-theme-tokens.md
  apps/expo/docs/adrs/ADR-006-interaction-patterns-component-hierarchy.md
  apps/rdn/CLAUDE.md
  apps/site/CLAUDE.md
  apps/site/README.md
  docs/adr/ADR-002-code-generation-from-json-specs.md
  docs/adr/ADR-003-notation-as-separate-package.md
  docs/adr/ADR-005-merge-notation-into-roller.md
  docs/adr/ADR-007-modifier-co-location.md
  docs/adr/ADR-010-docs-site-notation-merge-alignment.md
  docs/adr/ADR-011-playground-layout-design.md
  docs/adr/ADR-012-playground-app-infrastructure.md
  docs/adr/ADR-014-modifier-category-taxonomy.md
  docs/adr/ADR-015-custom-astro-layout-over-starlight.md
  docs/adr/ADR-016-static-version-embedding.md
  docs/adr/ADR-017-vanilla-typescript-client-interactivity.md
  docs/adr/ADR-018-roller-sideeffects-src-glob.md
  docs/adr/README.md
  packages/dice-ui/CLAUDE.md
  packages/dice-ui/README.md
  packages/games/CLAUDE.md
  packages/games/README.md
  packages/roller/CLAUDE.md
  packages/roller/README.md
  packages/roller/package.json
  packages/roller/test-utils/README.md
  scripts/mcp-1password-headers.sh
Due: format

chore(security): override undici to >=6.27.0
  bun.lock
  package.json
Due: format

docs: correct ADR-018 to the real publish-flip sideEffects mechanism
  docs/adr/ADR-018-roller-sideeffects-src-glob.md
  docs/adr/README.md
  packages/roller/package.json
Due: format

chore(security): override undici to >=6.27.0 (fix Security Audit) (#1086)
  bun.lock
  package.json
Due: format

fix(test-utils): correct swapped advantage/disadvantage fixtures
  packages/roller/test-utils/__tests__/fixtures.test.ts
  packages/roller/test-utils/src/fixtures.ts
Due: lint, format

fix(test-utils): correct swapped advantage/disadvantage fixtures (#1087)
  packages/roller/test-utils/__tests__/fixtures.test.ts
  packages/roller/test-utils/src/fixtures.ts
Due: lint, format

chore(release): publish via npm OIDC Trusted Publishing
  .github/workflows/publish.yml
  scripts/publish.ts
Due: lint, format

chore: add changeset to smoke-test OIDC publishing (@randsum/games patch)
  .changeset/verify-oidc-publish.md
Due: format

chore(release): publish via npm OIDC Trusted Publishing (#1088)
  .changeset/verify-oidc-publish.md
  .github/workflows/publish.yml
  scripts/publish.ts
Due: lint, format

ci(netlify): skip builds when site inputs are unchanged
  apps/rdn/netlify.toml
  apps/site/netlify.toml
Due: none

fix(release): stop setup-node from shadowing OIDC with a placeholder token
  .github/workflows/publish.yml
Due: none

ci(netlify): build only roller + games for the site, not the full monorepo
  apps/site/netlify.toml
Due: none

fix(release): stop setup-node from shadowing OIDC with a placeholder token (#1091)
  .github/workflows/publish.yml
Due: none

ci(netlify): conserve build minutes on the free Starter tier (#1090)
  apps/rdn/netlify.toml
  apps/site/netlify.toml
Due: none

feat(mcp): add project-scoped supabase and netlify MCP servers
  .mcp.json
  CLAUDE.md
  scripts/mcp-1password-headers.sh
Due: format

docs(audit): add 2026-06-23 code audit (healthy; 9 dimensions)
  audit/AUDIT.md
  audit/data.json
  audit/dimensions/architecture.md
  audit/dimensions/delivery.md
  audit/dimensions/documentation.md
  audit/dimensions/infrastructure.md
  audit/dimensions/maintainability.md
  audit/dimensions/performance.md
  audit/dimensions/reliability.md
  audit/dimensions/security.md
  audit/dimensions/test-quality.md
  audit/inventory.md
  audit/ontology.md
  audit/remediation-summary.md
  audit/remediation.md
Due: format

fix(security): resolve SCA vulns via dependency overrides
  bun.lock
  package.json
Due: format

fix(security): align osv-scanner ignores with override-based fixes
  osv-scanner.toml
Due: none

chore(hooks): add OSV SCA scan to pre-push, mirroring CI
  CLAUDE.md
  lefthook.yml
  scripts/sca-scan.sh
Due: format

fix(security): resolve SCA vulns via dependency overrides (#1122)
  CLAUDE.md
  bun.lock
  lefthook.yml
  osv-scanner.toml
  package.json
  scripts/sca-scan.sh
Due: format

fix(site): repair four broken Netlify redirects, drop stale expo mention
  apps/site/netlify.toml
Due: none

fix(discord-bot): remove dead embed images, fix /fifth tie display, command consistency, build/deploy fixes
  apps/discord-bot/__tests__/commands/fifth.test.ts
  apps/discord-bot/__tests__/commands/help.test.ts
  apps/discord-bot/__tests__/commands/notation.test.ts
  apps/discord-bot/__tests__/commands/root.test.ts
  apps/discord-bot/bunup.config.ts
  apps/discord-bot/src/commands/blades.ts
  apps/discord-bot/src/commands/fifth.ts
  apps/discord-bot/src/commands/help.ts
  apps/discord-bot/src/commands/notation.ts
  apps/discord-bot/src/commands/root.ts
  apps/discord-bot/src/utils/constants.ts
  render.yaml
Due: lint, format

feat(cli): unknown-flag detection, did-you-mean suggestions, --total flag; fix advantage doc
  .changeset/cli-flags-polish.md
  apps/cli/__tests__/e2e.test.ts
  apps/cli/__tests__/index.test.ts
  apps/cli/__tests__/run.test.ts
  apps/cli/src/index.ts
  apps/cli/src/run.ts
  apps/site/src/content/docs/tools/cli.mdx
Due: lint, format

feat: give fate full surfaces — /fate command, docs page, landing data, seven systems
  apps/discord-bot/__tests__/commands/fate.test.ts
  apps/discord-bot/src/commands/fate.ts
  apps/site/src/content/docs/games/fate.mdx
Due: lint, format

docs: sweep stale docs — changelog, publishing flow, help script, contributor docs, llms.txt
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  apps/DEPLOY.md
  apps/site/AGENTS.md
  apps/site/public/llms.txt
  packages/games/CLAUDE.md
  packages/games/docs/randsum-json-schema.md
  packages/roller/CLAUDE.md
  packages/roller/ERROR_REFERENCE.md
  runbooks/RCA-template.md
  scripts/help.ts
Due: lint, format

ci: drop stale audit ignore, schedule-only security scan, publint/attw in dry-run, workflow linting
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .github/workflows/workflow-lint.yml
  lefthook.yml
Due: none

feat: wire up fate surfaces — register command, sidebar, versions, seven-systems prose
  apps/discord-bot/LISTING.md
  apps/discord-bot/__tests__/commands/index.test.ts
  apps/discord-bot/src/commands/index.ts
  apps/site/astro.config.mjs
  apps/site/src/content/docs/games/schema/contributing-a-game.mdx
  apps/site/src/content/docs/tools/claude-code-plugin.mdx
  apps/site/src/utils/packageData.ts
Due: lint, format

refactor(roller)!: prune dead registry helpers and leaked internal exports
  .changeset/prune-roller-dead-exports.md
  packages/roller/CLAUDE.md
  packages/roller/__tests__/dist.smoke.test.ts
  packages/roller/__tests__/lib/modifiers/ModifierEngine.apply.test.ts
  packages/roller/__tests__/lib/modifiers/ModifierEngine.format.test.ts
  packages/roller/__tests__/lib/modifiers/registry.test.ts
  packages/roller/__tests__/public-surface.test.ts
  packages/roller/__tests__/story4-dead-code.test.ts
  packages/roller/__tests__/story5-7-colocation.test.ts
  packages/roller/__tests__/types/templateLiterals.test-d.ts
  packages/roller/src/index.ts
  packages/roller/src/modifiers/registry.ts
  packages/roller/src/notation/templateLiterals.ts
  packages/roller/src/notation/tokenize.ts
  packages/roller/src/tokenize.ts
  packages/roller/src/types/index.ts
  packages/roller/src/types/results.ts
Due: lint, format

chore(deps): prune root devDeps, fix catalog, pin stackblitz, changesets ignore dice-ui, renovate config
  .changeset/config.json
  apps/site/package.json
  bun.lock
  knip.json
  package.json
  renovate.json
Due: format
