Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,mjs}"
      run: bun run lint --fix
      stage_fixed: true
    format:
      glob: "*.{ts,tsx,js,json,md,astro,css}"
      run: bun run format
      stage_fixed: true
    typecheck:
      run: bun run typecheck

pre-push:
  commands:
    test:
      run: bun test
    exports:
      run: bun run check:exports
    security:
      run: bun audit --audit-level high

feat(roller): add color to NotationDoc schemas, align tokenizer tests
  apps/cli/__tests__/tui/tokenize.test.ts
  packages/component-library/__tests__/tokenize.test.ts
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
  packages/roller/__tests__/dist.smoke.test.ts
  packages/roller/__tests__/docs.test.ts
  packages/roller/__tests__/notation/annotations.test.ts
  packages/roller/__tests__/notation/integerDivideModulo.test.ts
  packages/roller/__tests__/notation/repeatOperator.test.ts
  packages/roller/__tests__/notation/tokenize.test.ts
  packages/roller/__tests__/notation/wildDie.test.ts
  packages/roller/src/dice/index.ts
  packages/roller/src/modifiers/cap.ts
  packages/roller/src/modifiers/compound.ts
  packages/roller/src/modifiers/count.ts
  packages/roller/src/modifiers/drop.ts
  packages/roller/src/modifiers/explode.ts
  packages/roller/src/modifiers/explodeSequence.ts
  packages/roller/src/modifiers/integerDivide.ts
  packages/roller/src/modifiers/keep.ts
  packages/roller/src/modifiers/minus.ts
  packages/roller/src/modifiers/modulo.ts
  packages/roller/src/modifiers/multiply.ts
  packages/roller/src/modifiers/multiplyTotal.ts
  packages/roller/src/modifiers/penetrate.ts
  packages/roller/src/modifiers/plus.ts
  packages/roller/src/modifiers/replace.ts
  packages/roller/src/modifiers/reroll.ts
  packages/roller/src/modifiers/sort.ts
  packages/roller/src/modifiers/unique.ts
  packages/roller/src/modifiers/wildDie.ts
Due: lint, format

fix(playground): add roller/docs and roller/trace Vite aliases, remove dead display-utils alias
  .gitignore
  apps/playground/astro.config.mjs
Due: lint

feat(site): copy NotationRoller, ErrorBoundary, stackblitz helper from component-library
  apps/site/__tests__/NotationRoller.tooltip.test.tsx
  apps/site/__tests__/tokenize.test.ts
  apps/site/src/components/ErrorBoundary/ErrorBoundary.css
  apps/site/src/components/ErrorBoundary/ErrorBoundary.tsx
  apps/site/src/components/ErrorBoundary/index.ts
  apps/site/src/components/NotationRoller/NotationRoller.css
  apps/site/src/components/NotationRoller/NotationRoller.tsx
  apps/site/src/components/NotationRoller/index.ts
  apps/site/src/helpers/stackblitz.ts
Due: lint, format

feat(site): absorb component-library imports and remove package references
  apps/site/astro.config.mjs
  apps/site/package.json
  apps/site/public/llms.txt
  apps/site/src/components/HeroInteractive.tsx
  apps/site/src/content/docs/notation/randsum-dice-notation.mdx
  apps/site/src/content/docs/roller/error-handling.mdx
  apps/site/src/content/docs/roller/getting-started.mdx
  apps/site/src/content/docs/roller/introduction.mdx
  apps/site/src/content/docs/roller/modifiers.mdx
  apps/site/src/content/docs/roller/roll-options.mdx
  apps/site/src/content/docs/tools/component-library.mdx
  apps/site/src/content/docs/welcome/ecosystem-overview.mdx
  apps/site/src/content/docs/welcome/introduction.mdx
  apps/site/src/utils/packageData.ts
Due: lint, format

fix(site): add noUncheckedIndexedAccess to tsconfig, remove NOTATION_DOCS cast
  apps/site/src/components/NotationRoller/NotationRoller.tsx
  apps/site/tsconfig.json
Due: lint, format

chore: delete @randsum/component-library package and clean all references
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  CLAUDE.md
  README.md
  bun.lock
  package.json
  packages/component-library/.ladle/components.tsx
  packages/component-library/CLAUDE.md
  packages/component-library/LICENSE
  packages/component-library/README.md
  packages/component-library/__tests__/NotationRoller.tooltip.test.tsx
  packages/component-library/__tests__/dist.smoke.test.ts
  packages/component-library/__tests__/tokenize.test.ts
  packages/component-library/bunup.config.ts
  packages/component-library/package.json
  packages/component-library/src/components/ErrorBoundary/ErrorBoundary.css
  packages/component-library/src/components/ErrorBoundary/ErrorBoundary.tsx
  packages/component-library/src/components/ErrorBoundary/index.ts
  packages/component-library/src/components/NotationRoller/NotationRoller.css
  packages/component-library/src/components/NotationRoller/NotationRoller.stories.tsx
  packages/component-library/src/components/NotationRoller/NotationRoller.tsx
  packages/component-library/src/components/NotationRoller/index.ts
  packages/component-library/src/helpers/stackblitz.ts
  packages/component-library/src/index.ts
  packages/component-library/tsconfig.json
Due: lint, format

fix(site): narrow index access for noUncheckedIndexedAccess compliance
  apps/site/src/components/HeroInteractive.tsx
  apps/site/src/components/live-repl/extractRandsumDeps.ts
Due: lint, format

style(site): color sweep — raise contrast on dark backgrounds
  apps/site/src/components/FeatureBand.astro
  apps/site/src/components/NotationRoller/NotationRoller.css
  apps/site/src/pages/index.astro
  apps/site/src/styles/custom.css
Due: format

fix(site): use red-400 in dark mode, red-600 in light mode for tagline exceptions
  apps/site/src/pages/index.astro
Due: format

feat(roller): add colorLight field to NotationDoc for light-mode theming
  apps/playground/__tests__/ReferenceDetail.test.ts
  apps/site/src/components/HeroInteractive.tsx
  packages/roller/CLAUDE.md
  packages/roller/__tests__/docs.test.ts
  packages/roller/src/dice/index.ts
  packages/roller/src/docs/modifierDocs.ts
  packages/roller/src/modifiers/cap.ts
  packages/roller/src/modifiers/compound.ts
  packages/roller/src/modifiers/count.ts
  packages/roller/src/modifiers/drop.ts
  packages/roller/src/modifiers/explode.ts
  packages/roller/src/modifiers/explodeSequence.ts
  packages/roller/src/modifiers/integerDivide.ts
  packages/roller/src/modifiers/keep.ts
  packages/roller/src/modifiers/minus.ts
  packages/roller/src/modifiers/modulo.ts
  packages/roller/src/modifiers/multiply.ts
  packages/roller/src/modifiers/multiplyTotal.ts
  packages/roller/src/modifiers/penetrate.ts
  packages/roller/src/modifiers/plus.ts
  packages/roller/src/modifiers/replace.ts
  packages/roller/src/modifiers/reroll.ts
  packages/roller/src/modifiers/sort.ts
  packages/roller/src/modifiers/unique.ts
  packages/roller/src/modifiers/wildDie.ts
Due: lint, format

refactor(site): delete dead per-token-type CSS color classes
  apps/site/src/components/NotationRoller/NotationRoller.css
Due: format

fix: remove component-library from ESM-only publishable packages list
  packages/roller/__tests__/esm-only.test.ts
Due: lint, format

fix(site): soften light mode, printerly overlay, faster pre-commit hooks
  apps/site/astro.config.mjs
  apps/site/src/components/NotationRoller/NotationRoller.css
  apps/site/src/components/NotationRoller/NotationRoller.tsx
  apps/site/src/components/ThemeSelect.astro
  apps/site/src/pages/index.astro
  apps/site/src/styles/custom.css
  lefthook.yml
Due: lint, format

feat(site): rename LLM Skill to Claude Skills, expand docs, warm light mode
  apps/site/astro.config.mjs
  apps/site/public/llms.txt
  apps/site/src/content/docs/tools/claude-code-skill.mdx
  apps/site/src/pages/index.astro
  apps/site/src/styles/custom.css
  apps/site/src/utils/packageData.ts
Due: lint, format

feat(site): add LabeledSection layout component
  apps/site/src/components/LabeledSection.astro
Due: format

feat(site): restructure index.astro with four labeled sections (BFR-2)
  apps/site/src/components/FeatureBand.astro
  apps/site/src/components/LabeledSection.astro
  apps/site/src/pages/index.astro
  apps/site/src/utils/packageData.ts
Due: lint, format

fix(site): BFR-3 polish responsive layout and feature card hover
  apps/site/src/components/LabeledSection.astro
  apps/site/src/pages/index.astro
Due: format

feat(site): theme-aware notation token and chip colors
  apps/site/src/components/NotationRoller/NotationRoller.css
  apps/site/src/components/NotationRoller/NotationRoller.tsx
  apps/site/src/pages/index.astro
  apps/site/src/styles/custom.css
Due: lint, format

feat(site): card hover effects, label redesign, universal 5px radius
  apps/playground/src/components/NotationInput.css
  apps/playground/src/styles/tokens.css
  apps/site/src/components/ErrorBoundary/ErrorBoundary.css
  apps/site/src/components/GameComparison.tsx
  apps/site/src/components/LabeledSection.astro
  apps/site/src/components/NotationRoller/NotationRoller.css
  apps/site/src/components/SiteTitle.astro
  apps/site/src/pages/index.astro
  apps/site/src/styles/custom.css
Due: lint, format

fix(site): use base purple accent for feature cards instead of gradient
  apps/site/src/pages/index.astro
Due: format

fix(site): feature cards — remove colored top border, smaller text
  apps/site/src/pages/index.astro
Due: format

chore(games): bump size limits to 15KB per game, 35KB salvageunion
  CLAUDE.md
  packages/games/CLAUDE.md
  packages/games/package.json
Due: format

fix(roller): replace flaky random-string property test
  packages/roller/__tests__/lib/notation.property.test.ts
Due: lint, format

feat(site): cycling taglines, levitating Dice, chip-based slot machine
  apps/site/src/components/HeroInteractive.tsx
  apps/site/src/pages/index.astro
Due: lint, format

fix(site): rewrite game descriptions and remove CLI from corePackages
  apps/site/src/utils/packageData.ts
Due: lint, format

fix(site): stabilize CTAs — remove slot machine from buttons and subtitle
  apps/site/src/components/HeroInteractive.tsx
  apps/site/src/pages/index.astro
Due: lint, format

feat(site): add code example, notation section, visible feature cards, SEO copy
  apps/site/src/pages/index.astro
Due: format

fix(site): remove floating dice animation from tagline
  apps/site/src/pages/index.astro
Due: format

feat(site): landing page marketing overhaul
  apps/site/src/components/GameSchemaViewer.tsx
  apps/site/src/components/HeroInteractive.tsx
  apps/site/src/components/IntegrationViewer.tsx
  apps/site/src/components/LabeledSection.astro
  apps/site/src/components/NotationRoller/NotationRoller.tsx
  apps/site/src/pages/index.astro
Due: lint, format

fix(site): mobile layout — pitch text before content, reset right-aligned grids
  apps/site/src/components/LabeledSection.astro
  apps/site/src/pages/index.astro
Due: format

feat(site): docs toolbar with Copy Markdown + Open in editors, fix mobile labels
  apps/site/astro.config.mjs
  apps/site/src/components/LabeledSection.astro
  apps/site/src/components/PageTitle.astro
Due: lint, format

feat(site): CrustJS-style docs toolbar — fetch raw MD, AI chat links
  apps/site/src/components/PageTitle.astro
Due: format

fix(site): fix docs toolbar — copy rendered content, use live page URLs
  apps/site/src/components/PageTitle.astro
Due: format

fix(site): move docs toolbar to bottom-right of title/description area
  apps/site/src/components/PageTitle.astro
Due: format

feat(site): sidebar topics with icons, title row with toolbar right-aligned
  apps/site/astro.config.mjs
  apps/site/package.json
  apps/site/src/components/PageTitle.astro
  bun.lock
Due: lint, format

fix(site): remove duplicate sidebar config — plugin manages sidebar
  apps/site/astro.config.mjs
Due: lint

fix(site): smaller feature cards — compact text and padding
  apps/site/src/pages/index.astro
Due: format

fix(site): use bundled Shiki themes (github-dark-default, github-light-default)
  apps/site/src/pages/index.astro
Due: format

fix(site): align footer columns — reset h4 margin-top
  apps/site/src/pages/index.astro
Due: format

fix(site): footer baseline — add not-content class to opt out of prose spacing
  apps/site/src/pages/index.astro
Due: format
