Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint --fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

refactor: extract indicesByRank helper, refactor keep behavior
  packages/roller/__tests__/lib/modifiers/poolSelection.test.ts
  packages/roller/src/lib/modifiers/behaviors/keep.ts
  packages/roller/src/lib/modifiers/behaviors/poolSelection.ts
Due: lint, format

refactor: wildDie delegates to applyAccumulatingExplosion
  packages/roller/__tests__/lib/modifiers/wildDie.test.ts
  packages/roller/src/lib/modifiers/behaviors/wildDie.ts
Due: lint, format

feat(notation): unified count primitive (#{...}) with S{}/F{} as sugar
  packages/notation/__tests__/count.test.ts
  packages/notation/__tests__/countFailures.test.ts
  packages/notation/__tests__/definitions.test.ts
  packages/notation/__tests__/parse-extended.test.ts
  packages/notation/__tests__/schemas.test.ts
  packages/notation/__tests__/sort.test.ts
  packages/notation/__tests__/transformers-extended.test.ts
  packages/notation/__tests__/transformers.test.ts
  packages/notation/src/definitions/count.ts
  packages/notation/src/definitions/countFailures.ts
  packages/notation/src/definitions/countSuccesses.ts
  packages/notation/src/definitions/index.ts
  packages/notation/src/index.ts
  packages/notation/src/parse/parseModifiers.ts
  packages/notation/src/tokenize.ts
  packages/notation/src/transformers/modifiersToStrings.ts
  packages/notation/src/types.ts
  packages/roller/RANDSUM_DICE_NOTATION.md
  packages/roller/__tests__/lib/modifiers/ModifierEngine.test.ts
  packages/roller/__tests__/lib/modifiers/countSuccesses.test.ts
  packages/roller/__tests__/lib/modifiers/registry.test.ts
  packages/roller/__tests__/roll/count.test.ts
  packages/roller/__tests__/roll/countFailures.test.ts
  packages/roller/__tests__/roll/modifiers.interaction.test.ts
  packages/roller/src/lib/modifiers/behaviors/count.ts
  packages/roller/src/lib/modifiers/behaviors/countFailures.ts
  packages/roller/src/lib/modifiers/behaviors/countSuccesses.ts
  packages/roller/src/lib/modifiers/definitions/count.ts
  packages/roller/src/lib/modifiers/definitions/countFailures.ts
  packages/roller/src/lib/modifiers/definitions/countSuccesses.ts
  packages/roller/src/lib/modifiers/definitions/index.ts
  packages/roller/src/lib/modifiers/priorities.ts
  packages/roller/src/lib/modifiers/schema.ts
  packages/roller/src/types/index.ts
  packages/roller/src/types/modifiers.ts
Due: lint, format

fix: bump size limits, fix MDX parse error in modifiers.mdx
  apps/site/src/content/docs/roller/modifiers.mdx
  packages/games/package.json
  packages/roller/package.json
Due: format

fix: update property test to exclude valid special dice from random strings
  packages/roller/__tests__/lib/notation.property.test.ts
Due: lint, format

fix(discord-bot): consolidate cross-package relative imports in roll test
  apps/discord-bot/__tests__/commands/roll.test.ts
Due: lint, format

fix: increase test timeouts for flaky tests under load
  packages/games/__tests__/lib/buildCLI.test.ts
  packages/games/__tests__/lib/codegen-snapshots.test.ts
  packages/roller/__tests__/roll/repeatOperator.test.ts
Due: lint, format

docs(notation-merge): G1 spec pass for #1000 merge @randsum/notation into @randsum/roller
  CLAUDE.md
  docs/adr/ADR-005-merge-notation-into-roller.md
  docs/specs/MERGE-NOTATION-INTO-ROLLER.md
  packages/roller/CLAUDE.md
Due: format

chore(roller): add notation subpath exports and update build config
  packages/roller/bunup.config.ts
  packages/roller/package.json
Due: lint, format

test(roller): move notation tests into roller
  packages/roller/__tests__/dist.smoke.test.ts
  packages/roller/__tests__/lib/notation.roundtrip.test.ts
  packages/roller/__tests__/notation/annotations.test.ts
  packages/roller/__tests__/notation/comparison.test.ts
  packages/roller/__tests__/notation/count.test.ts
  packages/roller/__tests__/notation/countFailures.test.ts
  packages/roller/__tests__/notation/definitions.test.ts
  packages/roller/__tests__/notation/explodeSequence.test.ts
  packages/roller/__tests__/notation/formatHumanList.test.ts
  packages/roller/__tests__/notation/integerDivideModulo.test.ts
  packages/roller/__tests__/notation/isDiceNotation.test.ts
  packages/roller/__tests__/notation/listOfNotations.test.ts
  packages/roller/__tests__/notation/marginOfSuccess.test.ts
  packages/roller/__tests__/notation/notation.test.ts
  packages/roller/__tests__/notation/notationToOptions.test.ts
  packages/roller/__tests__/notation/parse-extended.test.ts
  packages/roller/__tests__/notation/repeatOperator.test.ts
  packages/roller/__tests__/notation/schemas.test.ts
  packages/roller/__tests__/notation/sort.test.ts
  packages/roller/__tests__/notation/suggestions.test.ts
  packages/roller/__tests__/notation/tokenize.test.ts
  packages/roller/__tests__/notation/transformers-extended.test.ts
  packages/roller/__tests__/notation/transformers.test.ts
  packages/roller/__tests__/notation/wildDie.test.ts
  packages/roller/__tests__/validateNotation.test.ts
Due: lint, format

refactor(roller): rewrite non-modifier imports to local notation
  packages/roller/src/errors.ts
  packages/roller/src/lib/comparison/index.ts
  packages/roller/src/lib/modifiers/schema.ts
  packages/roller/src/lib/transformers/index.ts
  packages/roller/src/roll/parseArguments.ts
  packages/roller/src/types/core.ts
  packages/roller/src/types/index.ts
  packages/roller/src/types/modifiers.ts
  packages/roller/src/validate.ts
Due: lint, format

ci: remove @randsum/notation from workflows and scripts
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  package.json
Due: format

refactor(roller): rewrite modifier definition imports to local notation
  packages/roller/src/lib/modifiers/definitions/cap.ts
  packages/roller/src/lib/modifiers/definitions/compound.ts
  packages/roller/src/lib/modifiers/definitions/count.ts
  packages/roller/src/lib/modifiers/definitions/countFailures.ts
  packages/roller/src/lib/modifiers/definitions/countSuccesses.ts
  packages/roller/src/lib/modifiers/definitions/drop.ts
  packages/roller/src/lib/modifiers/definitions/explode.ts
  packages/roller/src/lib/modifiers/definitions/explodeSequence.ts
  packages/roller/src/lib/modifiers/definitions/integerDivide.ts
  packages/roller/src/lib/modifiers/definitions/keep.ts
  packages/roller/src/lib/modifiers/definitions/minus.ts
  packages/roller/src/lib/modifiers/definitions/modulo.ts
  packages/roller/src/lib/modifiers/definitions/multiply.ts
  packages/roller/src/lib/modifiers/definitions/multiplyTotal.ts
  packages/roller/src/lib/modifiers/definitions/penetrate.ts
  packages/roller/src/lib/modifiers/definitions/plus.ts
  packages/roller/src/lib/modifiers/definitions/replace.ts
  packages/roller/src/lib/modifiers/definitions/reroll.ts
  packages/roller/src/lib/modifiers/definitions/sort.ts
  packages/roller/src/lib/modifiers/definitions/unique.ts
  packages/roller/src/lib/modifiers/definitions/wildDie.ts
Due: lint, format

fix(roller): add notation re-exports to main barrel and fix dist smoke test paths
  packages/roller/__tests__/dist.smoke.test.ts
  packages/roller/src/index.ts
Due: lint, format

refactor: update component-library and CLI to import from @randsum/roller (#1000)
  apps/cli/__tests__/tui/tokenize.test.ts
  apps/cli/__tests__/tui/useCursorPosition.test.ts
  apps/cli/bunup.config.ts
  apps/cli/package.json
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/NotationDescriptionRow.tsx
  apps/cli/src/tui/components/NotationHighlight.tsx
  apps/cli/src/tui/helpers/tokenColors.ts
  apps/cli/src/tui/hooks/useCursorPosition.ts
  packages/component-library/__tests__/tokenize.test.ts
  packages/component-library/bunup.config.ts
  packages/component-library/package.json
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
Due: lint, format

fix(roller): disable bunup exports auto-generation to preserve subpath keys
  bun.lock
  packages/roller/bunup.config.ts
Due: lint, format

refactor(roller): add top-level entry points for bunup exports:true
  packages/roller/__tests__/dist.smoke.test.ts
  packages/roller/bunup.config.ts
  packages/roller/package.json
  packages/roller/src/comparison.ts
  packages/roller/src/tokenize.ts
Due: lint, format

docs(roller): add ADRs for streamline-roller sprint
  docs/adr/ADR-007-modifier-co-location.md
  docs/adr/ADR-008-esm-only-package-output.md
  docs/adr/ADR-009-public-api-surface-reduction.md
Due: format

docs(roller): add streamline-roller doc spec
  docs/streamline-roller-doc-spec.md
Due: format

docs(roller): clarify S{N}/F{N} as sugar for count notation
  packages/roller/RANDSUM_DICE_NOTATION.md
Due: format

chore: formalize ESM-only output across all publishable packages
  CLAUDE.md
  packages/roller/__tests__/esm-only.test.ts
Due: lint, format

perf(roller): hoist modifier order, add mutatesRolls flag, use createArithmeticLog
  packages/roller/__tests__/lib/modifiers/hotpath.test.ts
  packages/roller/src/lib/modifiers/behaviors/arithmetic.ts
  packages/roller/src/lib/modifiers/behaviors/integerDivide.ts
  packages/roller/src/lib/modifiers/behaviors/modulo.ts
  packages/roller/src/lib/modifiers/behaviors/multiply.ts
  packages/roller/src/lib/modifiers/index.ts
  packages/roller/src/lib/modifiers/registry.ts
  packages/roller/src/lib/modifiers/schema.ts
  packages/roller/src/roll/pipeline.ts
Due: lint, format

feat(roller): reduce public API surface, promote notation(), fold comparison into main barrel
  packages/roller/CLAUDE.md
  packages/roller/__tests__/dist.smoke.test.ts
  packages/roller/__tests__/public-surface.test.ts
  packages/roller/bunup.config.ts
  packages/roller/package.json
  packages/roller/src/comparison.ts
  packages/roller/src/index.ts
Due: lint, format

refactor(roller): replace allSchemas with RANDSUM_MODIFIERS in parseModifiers
  packages/roller/__tests__/notation/parseModifiers.allSchemas.test.ts
  packages/roller/src/notation/parse/parseModifiers.ts
Due: lint, format

refactor(roller): remove dead code, fix validate.ts duplication, deprecate MODIFIER_PRIORITIES
  packages/roller/__tests__/lib/modifiers/registry.test.ts
  packages/roller/__tests__/lib/notation.roundtrip.test.ts
  packages/roller/__tests__/lib/optionsToDescription.test.ts
  packages/roller/__tests__/lib/optionsToNotation.test.ts
  packages/roller/__tests__/lib/parseComparisonNotation.test.ts
  packages/roller/__tests__/notation/annotations.test.ts
  packages/roller/__tests__/notation/comparison.test.ts
  packages/roller/__tests__/notation/formatHumanList.test.ts
  packages/roller/__tests__/notation/isDiceNotation.test.ts
  packages/roller/__tests__/notation/listOfNotations.test.ts
  packages/roller/__tests__/notation/notation.test.ts
  packages/roller/__tests__/notation/notationToOptions.test.ts
  packages/roller/__tests__/notation/parseModifiers.allSchemas.test.ts
  packages/roller/__tests__/notation/schemas.test.ts
  packages/roller/__tests__/notation/suggestions.test.ts
  packages/roller/__tests__/notation/tokenize.test.ts
  packages/roller/__tests__/notation/transformers.test.ts
  packages/roller/__tests__/notation/wildDie.test.ts
  packages/roller/__tests__/story4-dead-code.test.ts
  packages/roller/src/lib/comparison/index.ts
  packages/roller/src/lib/modifiers/index.ts
  packages/roller/src/lib/modifiers/priorities.ts
  packages/roller/src/lib/transformers/index.ts
  packages/roller/src/notation/index.ts
  packages/roller/src/notation/parse/parseModifiers.ts
  packages/roller/src/roll/parseArguments.ts
  packages/roller/src/validate.ts
Due: lint, format

refactor(roller): co-locate modifiers into src/modifiers/, refactor modifiersToStrings
  packages/roller/__tests__/story5-7-colocation.test.ts
  packages/roller/src/lib/modifiers/index.ts
  packages/roller/src/modifiers/cap.ts
  packages/roller/src/modifiers/compound.ts
  packages/roller/src/modifiers/count.ts
  packages/roller/src/modifiers/definitions.ts
  packages/roller/src/modifiers/drop.ts
  packages/roller/src/modifiers/explode.ts
  packages/roller/src/modifiers/explodeSequence.ts
  packages/roller/src/modifiers/index.ts
  packages/roller/src/modifiers/integerDivide.ts
  packages/roller/src/modifiers/keep.ts
  packages/roller/src/modifiers/log.ts
  packages/roller/src/modifiers/minus.ts
  packages/roller/src/modifiers/modulo.ts
  packages/roller/src/modifiers/multiply.ts
  packages/roller/src/modifiers/multiplyTotal.ts
  packages/roller/src/modifiers/penetrate.ts
  packages/roller/src/modifiers/plus.ts
  packages/roller/src/modifiers/poolSelection.ts
  packages/roller/src/modifiers/registry.ts
  packages/roller/src/modifiers/replace.ts
  packages/roller/src/modifiers/reroll.ts
  packages/roller/src/modifiers/schema.ts
  packages/roller/src/modifiers/shared/explosion.ts
  packages/roller/src/modifiers/sort.ts
  packages/roller/src/modifiers/unique.ts
  packages/roller/src/modifiers/wildDie.ts
  packages/roller/src/notation/parse/parseModifiers.ts
  packages/roller/src/notation/transformers/modifiersToStrings.ts
  packages/roller/src/roll/pipeline.ts
Due: lint, format

refactor(roller): remove dead countSuccesses/countFailures behaviors (confirmed sugar)
  packages/roller/__tests__/lib/modifiers/countFamilyCleanup.test.ts
  packages/roller/src/lib/modifiers/behaviors/count.ts
  packages/roller/src/lib/modifiers/behaviors/countFailures.ts
  packages/roller/src/lib/modifiers/behaviors/countSuccesses.ts
  packages/roller/src/lib/modifiers/definitions/countFailures.ts
  packages/roller/src/lib/modifiers/definitions/countSuccesses.ts
  packages/roller/src/lib/modifiers/definitions/index.ts
Due: lint, format

fix(roller): update count cleanup test imports to new modifiers path
  packages/roller/__tests__/lib/modifiers/countFamilyCleanup.test.ts
Due: lint, format

fix(roller): resolve check:exports CI failures, remove dead lib/modifiers files
  apps/cli/package.json
  apps/site/package.json
  packages/component-library/package.json
  packages/games/package.json
  packages/roller/__tests__/lib/modifiers/ModifierEngine.test.ts
  packages/roller/__tests__/lib/modifiers/log.test.ts
  packages/roller/__tests__/lib/modifiers/registry.test.ts
  packages/roller/__tests__/lib/modifiers/schema.test.ts
  packages/roller/package.json
  packages/roller/src/lib/modifiers/log.ts
  packages/roller/src/lib/modifiers/registry.ts
  packages/roller/src/lib/modifiers/schema.ts
Due: lint, format

chore: remove check:exports from CI, fix flaky externalRefResolver test
  .github/workflows/ci.yml
  apps/cli/package.json
  apps/site/package.json
  bun.lock
  package.json
  packages/component-library/package.json
  packages/games/__tests__/lib/externalRefResolver.test.ts
  packages/games/package.json
  packages/roller/package.json
Due: lint, format

docs(adr): ADR-010 docs site alignment with notation merge
  docs/adr/ADR-010-docs-site-notation-merge-alignment.md
Due: format

docs(site): update ecosystem overview for notation-into-roller merge
  apps/site/src/content/docs/welcome/ecosystem-overview.mdx
Due: none

docs(site): rewrite notation introduction for notation-into-roller merge
  apps/site/src/content/docs/notation/introduction.mdx
Due: none

docs(site): update welcome introduction for notation-into-roller merge
  apps/site/src/content/docs/notation/getting-started.mdx
  apps/site/src/content/docs/welcome/introduction.mdx
Due: none

Path conditions:
  lint: any of: *.{ts,tsx,js,mjs}
  format: any of: *.{ts,tsx,js,json,md,astro,css}
