Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,mjs}"
      run: bun run lint --fix
      stage_fixed: true
    format:
      glob: "*.{ts,tsx,js,json,md,astro,css}"
      run: bun run format
      stage_fixed: true
    typecheck:
      run: bun run typecheck

pre-push:
  commands:
    test:
      run: bun test
    exports:
      run: bun run check:exports
    security:
      run: bun audit --audit-level high

feat(site): add LLM skill docs under Tools section
  apps/site/astro.config.mjs
  apps/site/src/content/docs/tools/skill/dice-rolling.mdx
  apps/site/src/content/docs/tools/skill/game-systems.mdx
  apps/site/src/content/docs/tools/skill/index.mdx
  apps/site/src/content/docs/tools/skill/notation.mdx
Due: lint

fix(ci): build packages before tests on macOS
  .github/workflows/main.yml
Due: none

chore(site): remove interactive playground from navigation
  apps/site/astro.config.mjs
  apps/site/src/content/docs/interactive/playground.mdx
  apps/site/src/pages/index.astro
Due: lint, format

fix(ci): unify pipeline order across all environments
  .github/workflows/main.yml
Due: none

chore(ci): remove claude code review workflow
  .github/workflows/claude-code-review.yml
Due: none

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

WIP
  apps/site/__tests__/packageData.test.ts
  apps/site/package.json
  apps/site/src/content/docs/games/daggerheart.mdx
  apps/site/src/content/docs/games/fifth.mdx
  apps/site/src/styles/custom.css
  apps/site/src/utils/packageData.ts
  lefthook.yml
  packages/daggerheart/CLAUDE.md
  packages/fifth/CLAUDE.md
  packages/roller/RANDSUM_DICE_NOTATION.md
  packages/roller/src/roll/pipeline.ts
  packages/roller/src/types/results.ts
Due: lint, format

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#923)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

feat(app): add buildHistoryEntry with dropped-dice tracking
  apps/app/__tests__/lib/buildHistoryEntry.test.ts
  apps/app/src/lib/buildHistoryEntry.ts
Due: lint, format

feat(app): add NotationInput and DiceButtons components
  apps/app/src/components/DiceButtons.tsx
  apps/app/src/components/NotationInput.tsx
Due: lint, format

docs(roller): add quick-reference tables to basic, arithmetic, cap sections
  packages/roller/RANDSUM_DICE_NOTATION.md
Due: format

docs: update expo app design — web support + AsyncStorage
  docs/plans/2026-03-04-expo-app-design.md
Due: format

feat(app): wire up main screen, add EAS config and root scripts
  apps/app/CLAUDE.md
  apps/app/app/index.tsx
  apps/app/eas.json
  package.json
Due: lint, format

feat(app): add ModifierButtons with named toggles and value pickers
  apps/app/src/components/ModifierButtons.tsx
  apps/app/src/components/ValuePickerDialog.tsx
Due: lint, format

feat(app): configure tamagui with randsum brand theme
  apps/app/babel.config.js
  apps/app/metro.config.js
  apps/app/tamagui.config.ts
Due: lint, format

feat(app): scaffold expo app with npm install
  apps/app/.gitignore
  apps/app/app.json
  apps/app/package-lock.json
  apps/app/package.json
  apps/app/tsconfig.json
  package.json
Due: format

feat(app): add root layout and placeholder home screen
  apps/app/app/_layout.tsx
  apps/app/app/index.tsx
Due: lint, format

feat(app): add useNotation, useHistory, useSavedRolls hooks
  apps/app/src/hooks/useHistory.ts
  apps/app/src/hooks/useNotation.ts
  apps/app/src/hooks/useSavedRolls.ts
Due: lint, format

docs: add expo app design doc and unignore docs/plans
  .gitignore
  docs/plans/2026-03-04-expo-app-design.md
Due: format

feat(app): add types and storage helpers
  apps/app/__tests__/lib/storage.test.ts
  apps/app/src/lib/storage.ts
  apps/app/src/types.ts
Due: lint, format

docs: add expo app implementation plan
  docs/plans/2026-03-04-expo-app-implementation.md
Due: format

docs(roller): remove invalid +5 standalone arg from overview
  packages/roller/RANDSUM_DICE_NOTATION.md
Due: format

feat(app): add describeNotation helper
  apps/app/__tests__/lib/describeNotation.test.ts
  apps/app/src/lib/describeNotation.ts
Due: lint, format

feat(app): add HistoryLog component
  apps/app/src/components/HistoryLog.tsx
Due: lint, format

feat(app): add ResultSheet with dice breakdown and save-roll flow
  apps/app/src/components/NamePromptDialog.tsx
  apps/app/src/components/ResultSheet.tsx
Due: lint, format

feat(app): add SavedRollsSheet component
  apps/app/src/components/SavedRollsSheet.tsx
Due: lint, format

feat(app): add notation builder helpers
  apps/app/__tests__/lib/notationBuilder.test.ts
  apps/app/src/lib/notationBuilder.ts
Due: lint, format

fix(cli): bundle @randsum/roller to fix bunx usage outside monorepo
  apps/cli/bunup.config.ts
  apps/cli/package.json
Due: lint, format

Remove
  apps/app/.gitignore
  apps/app/CLAUDE.md
  apps/app/__tests__/lib/buildHistoryEntry.test.ts
  apps/app/__tests__/lib/describeNotation.test.ts
  apps/app/__tests__/lib/notationBuilder.test.ts
  apps/app/__tests__/lib/storage.test.ts
  apps/app/app.json
  apps/app/app/_layout.tsx
  apps/app/app/index.tsx
  apps/app/babel.config.js
  apps/app/eas.json
  apps/app/metro.config.js
  apps/app/package-lock.json
  apps/app/package.json
  apps/app/src/components/DiceButtons.tsx
  apps/app/src/components/HistoryLog.tsx
  apps/app/src/components/ModifierButtons.tsx
  apps/app/src/components/NamePromptDialog.tsx
  apps/app/src/components/NotationInput.tsx
  apps/app/src/components/ResultSheet.tsx
  apps/app/src/components/SavedRollsSheet.tsx
  apps/app/src/components/ValuePickerDialog.tsx
  apps/app/src/hooks/useHistory.ts
  apps/app/src/hooks/useNotation.ts
  apps/app/src/hooks/useSavedRolls.ts
  apps/app/src/lib/buildHistoryEntry.ts
  apps/app/src/lib/describeNotation.ts
  apps/app/src/lib/notationBuilder.ts
  apps/app/src/lib/storage.ts
  apps/app/src/types.ts
  apps/app/tamagui.config.ts
  apps/app/tsconfig.json
  bun.lock
  docs/plans/2026-03-04-expo-app-design.md
  docs/plans/2026-03-04-expo-app-implementation.md
  lefthook.yml
  package.json
  skills/dice-rolling/SKILL.md
  skills/dice-rolling/references/NOTATION.md
Due: lint, format

docs(roller): add replace quick-reference table and document multi-rule V{} form
  packages/roller/RANDSUM_DICE_NOTATION.md
Due: format

Fix CLI
  apps/cli/package.json
Due: format

bump
  bun.lock
Due: none

docs(roller): fix multiple dice section, add table, remove invalid options block
  packages/roller/RANDSUM_DICE_NOTATION.md
Due: format

docs(roller): add drop quick-reference table and document LH combined form
  packages/roller/RANDSUM_DICE_NOTATION.md
Due: format

docs(roller): add quick-reference tables to keep and reroll sections
  packages/roller/RANDSUM_DICE_NOTATION.md
Due: format
