Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,mjs}"
      run: bun run lint --fix
      stage_fixed: true
    format:
      glob: "*.{ts,tsx,js,json,md,astro,css}"
      run: bun run format
      stage_fixed: true
    typecheck:
      run: bun run typecheck

pre-push:
  commands:
    test:
      run: bun test
    exports:
      run: bun run check:exports
    security:
      run: bun audit --audit-level high

feat(cli): upgrade HeroBanner with square die, R-pattern logo, and slot machine notation cycling
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/HeroBanner.tsx
Due: lint, format

No plans
  docs/plans/2026-03-07-compound-notation-design.md
  docs/plans/2026-03-07-compound-notation.md
  docs/plans/2026-03-07-notation-package.md
  docs/plans/2026-03-08-dice-button-slot-filter-design.md
  docs/plans/2026-03-08-dice-button-slot-filter.md
  docs/plans/2026-03-08-game-packages-subfolder.md
  docs/plans/2026-03-08-modifier-doc-overlay.md
  docs/plans/2026-03-08-test-coverage-gaps.md
  docs/plans/2026-03-08-tui-playground-parity-impl.md
  docs/plans/2026-03-08-tui-playground-parity-plan.md
Due: format

feat(cli): add lerpColor helper for horizontal gradient
  apps/cli/__tests__/tui/gradientColor.test.ts
  apps/cli/src/tui/helpers/gradientColor.ts
Due: lint, format

feat(site,cli): add pastel colors for core packages and TUI roll spinner
  .gitignore
  apps/cli/__tests__/tui/gradientColor.test.ts
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/Spinner.tsx
  apps/cli/src/tui/helpers/gradientColor.ts
  apps/site/src/pages/index.astro
  apps/site/src/styles/custom.css
  packages/roller/__tests__/formatResult.test.ts
  packages/roller/__tests__/lib/builder.test.ts
Due: lint, format

No more plans
  .gitignore
Due: none

feat(cli): horizontal left-to-right gradient on RANDSUM ASCII logo
  apps/cli/src/tui/components/HeroBanner.tsx
Due: lint, format

feat(cli): solid block die faces, square pips, memoized gradient art, clean hint bar
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/HeroBanner.tsx
Due: lint, format

feat(cli): lift reference grid position to App state and restyle die faces
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/components/HeroBanner.tsx
  apps/cli/src/tui/components/NotationReference.tsx
Due: lint, format

chore: fix stale packages/gamePackages path in game-packages guide
  CLAUDE/game-packages.md
Due: format

docs: update all references from gamePackages to games
  .claude/skills/create-game/SKILL.md
  apps/cli/src/tui/helpers/openInStackblitz.ts
  apps/site/AGENTS.md
  apps/site/CLAUDE.md
Due: lint, format

WIP
  .claude/notation-extraction-map.md
  apps/cli/src/tui/App.tsx
Due: lint, format

TUi stackblitz
  apps/cli/src/tui/App.tsx
Due: lint, format

fix: address CodeQL security alerts and publish component-library
  .github/workflows/main.yml
  CLAUDE.md
  packages/component-library/README.md
  packages/component-library/package.json
  packages/notation/src/isDiceNotation.ts
  packages/notation/src/parse/notationToOptions.ts
Due: lint, format

WIP
  CLAUDE/custom-modifiers.md
  CLAUDE/game-packages.md
  CLAUDE/modifiers.md
  CLAUDE/scripts.md
  CLAUDE/testing.md
  apps/cli/src/tui/components/NotationInput.tsx
  apps/discord-bot/src/events/ready.ts
  apps/site/__tests__/formatBreakdown.test.ts
  apps/site/src/components/playground/DicePlayground.tsx
  apps/site/src/components/playground/DiceToolbar.tsx
  apps/site/src/components/playground/GameModePanel.tsx
  apps/site/src/components/playground/NotationInput.tsx
  apps/site/src/components/playground/NotationReference.tsx
  apps/site/src/components/playground/RollHistory.tsx
  apps/site/src/components/playground/gameConfigs.ts
  apps/site/src/components/playground/helpers/formatBreakdown.ts
  apps/site/src/components/playground/helpers/formatResult.ts
  apps/site/src/components/playground/helpers/incrementDiceQuantity.ts
  apps/site/src/components/playground/hooks/useRollHistory.ts
  apps/site/src/components/playground/hooks/useValidation.ts
  apps/site/src/components/playground/playground.css
  games/daggerheart/src/roll/digestHopeFearTotal.ts
  packages/component-library/README.md
  packages/notation/src/comparison/parseComparisonNotation.ts
  packages/roller/__tests__/lib/probability.test.ts
  packages/roller/src/lib/constants.ts
  packages/roller/src/lib/modifiers/behaviors/drop.ts
  packages/roller/src/lib/modifiers/behaviors/replace.ts
  packages/roller/src/lib/probability.ts
  packages/roller/src/lib/utils/index.ts
  packages/roller/src/types/core.ts
Due: lint, format

docs: fix error API docs, migration guide, H/L labels, stale CLAUDE.md files
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  apps/cli/CLAUDE.md
  apps/cli/src/tui/App.tsx
  apps/cli/src/tui/hooks/useValidation.ts
  apps/site/src/content/docs/games/blades.mdx
  apps/site/src/content/docs/games/daggerheart.mdx
  apps/site/src/content/docs/games/fifth.mdx
  apps/site/src/content/docs/games/pbta.mdx
  apps/site/src/content/docs/games/root-rpg.mdx
  apps/site/src/content/docs/games/salvageunion.mdx
  apps/site/src/content/docs/guides/migrating-from-v2.mdx
  apps/site/src/content/docs/guides/troubleshooting.mdx
  bun.lock
  games/blades/CLAUDE.md
  games/blades/src/roll/interpretHit.ts
  games/daggerheart/package.json
  packages/notation/README.md
  packages/roller/README.md
  packages/roller/__tests__/roll/pipeline.test.ts
  packages/roller/src/lib/modifiers/behaviors/arithmetic.ts
  packages/roller/src/lib/modifiers/log.ts
  packages/roller/src/roll/pipeline.ts
  packages/roller/src/types/results.ts
Due: lint, format

feat: extract @randsum/display-utils as private internal workspace package
  apps/cli/package.json
  apps/cli/src/tui/components/RollResultPanel.tsx
  apps/cli/src/tui/helpers/modifierDocs.ts
  apps/cli/src/tui/helpers/openInStackblitz.ts
  bun.lock
  packages/component-library/package.json
  packages/component-library/src/components/ModifierReference/modifierDocs.ts
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
  packages/display-utils/package.json
  packages/display-utils/src/computeSteps.ts
  packages/display-utils/src/index.ts
  packages/display-utils/src/modifierDocs.ts
  packages/display-utils/src/stackblitz.ts
  packages/display-utils/tsconfig.json
Due: lint, format

docs: remove stale useValidation reference from CLI CLAUDE.md
  apps/cli/CLAUDE.md
  packages/roller/__tests__/lib/modifiers/log.test.ts
Due: lint, format

feat: fetch npm package versions live from registry on page load
  apps/site/src/pages/index.astro
  apps/site/src/utils/packageData.ts
Due: lint, format

fix: rename daggerheart details.advantage -> extraDie to eliminate polarity ambiguity
  apps/discord-bot/src/commands/dh.ts
  apps/site/src/content/docs/games/daggerheart.mdx
  games/daggerheart/__tests__/roll.property.test.ts
  games/daggerheart/__tests__/roll.test.ts
  games/daggerheart/src/roll/index.ts
  games/daggerheart/src/types.ts
Due: lint, format

fix: update daggerheart CLAUDE.md extraDie reference
  games/daggerheart/CLAUDE.md
Due: format

fix: update daggerheart README and test descriptions for extraDie rename
  games/daggerheart/README.md
  games/daggerheart/__tests__/roll.property.test.ts
  games/daggerheart/__tests__/roll.test.ts
Due: lint, format

chore: raise salvageunion bundle limit to 300 KB, fix CLAUDE.md reference
  CLAUDE.md
  package.json
Due: format

chore: align coverage policy to 100% project and patch
  CLAUDE.md
  codecov.yml
Due: format

feat: publish @randsum/display-utils as public v3.0.0, fix injection and en-dash key
  package.json
  packages/display-utils/bunup.config.ts
  packages/display-utils/package.json
  packages/display-utils/src/modifierDocs.ts
  packages/display-utils/src/stackblitz.ts
Due: lint, format

chore: add private:false and test/lint scripts to display-utils package.json
  packages/display-utils/package.json
Due: format

docs: salvageunion createGameRoll feasibility investigation
  plans/salvageunion-createGameRoll-investigation.md
Due: format

test: add happy-path tests for all discord bot commands
  apps/discord-bot/__tests__/commands/blades.test.ts
  apps/discord-bot/__tests__/commands/dh.test.ts
  apps/discord-bot/__tests__/commands/notation.test.ts
  apps/discord-bot/__tests__/commands/pbta.test.ts
  apps/discord-bot/__tests__/commands/roll.test.ts
  apps/discord-bot/__tests__/commands/root.test.ts
  apps/discord-bot/__tests__/commands/su.test.ts
  packages/display-utils/__tests__/computeSteps.test.ts
  packages/display-utils/__tests__/modifierDocs.test.ts
  packages/display-utils/__tests__/stackblitz.test.ts
Due: lint, format

fix: add error handling and error-path tests to game command handlers
  apps/discord-bot/__tests__/commands/blades.test.ts
  apps/discord-bot/__tests__/commands/dh.test.ts
  apps/discord-bot/__tests__/commands/pbta.test.ts
  apps/discord-bot/__tests__/commands/root.test.ts
  apps/discord-bot/__tests__/commands/su.test.ts
  apps/discord-bot/src/commands/blades.ts
  apps/discord-bot/src/commands/dh.ts
  apps/discord-bot/src/commands/pbta.ts
  apps/discord-bot/src/commands/root.ts
  apps/discord-bot/src/commands/su.ts
Due: lint, format

fix: strengthen test assertions and remove unnecessary type casts
  apps/discord-bot/__tests__/commands/blades.test.ts
  apps/discord-bot/__tests__/commands/dh.test.ts
  apps/discord-bot/__tests__/commands/pbta.test.ts
  apps/discord-bot/__tests__/commands/root.test.ts
  apps/discord-bot/__tests__/commands/su.test.ts
  packages/display-utils/__tests__/computeSteps.test.ts
Due: lint, format

chore: fix site display-utils description and formatting cleanup
  apps/site/src/content/docs/tools/display-utils.mdx
  apps/site/src/utils/packageData.ts
  packages/display-utils/src/computeSteps.ts
  packages/display-utils/src/modifierDocs.ts
  packages/display-utils/src/stackblitz.ts
  plans/3.0.0-harsh-audit.md
Due: lint, format

chore: bun update lockfile refresh
  bun.lock
Due: none

docs: add round 2 harsh audit — 8 blockers identified
  plans/3.0.0-harsh-audit-round-2.md
Due: format

fix: CLI versioned dep, publish script checks, README display-utils, CONTRIBUTING CLAUDE/ refs
  CONTRIBUTING.md
  README.md
  apps/cli/package.json
  package.json
Due: format

fix: correct publish script order, CLI CLAUDE.md deps, CONTRIBUTING.md structure
  CONTRIBUTING.md
  apps/cli/CLAUDE.md
  package.json
Due: format

fix: exclude useCursorPosition hook from codecov coverage (untestable React hook)
  codecov.yml
Due: none

fix: add display-utils sidebar entry in site config
  apps/site/astro.config.mjs
  games/blades/tsconfig.json
  games/daggerheart/tsconfig.json
  games/fifth/tsconfig.json
  games/pbta/tsconfig.json
  games/root-rpg/tsconfig.json
  games/salvageunion/tsconfig.json
Due: lint, format
