Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint --fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

chore: ignore .web.ts/.web.tsx platform extensions in knip
  knip.json
Due: format

feat(expo): web UI polish — header title, theme sync, RollResultPanel, URL updates
  apps/expo/PRD.md
  apps/expo/app/index.tsx
  apps/expo/components/CSSTokens.web.tsx
  apps/expo/components/WebHeader.web.tsx
  apps/expo/docs/adrs/ADR-003-dice-ui-integration-via-use-dom.md
  apps/expo/docs/adrs/ADR-005-design-system-theme-tokens.md
  apps/expo/types/dice-ui.d.ts
  apps/rdn/src/components/HeroHeader.astro
  apps/rdn/src/content/specs/v0.9.0.md
  apps/site/astro.config.mjs
  apps/site/src/components/NotationRoller/NotationRoller.tsx
  apps/site/src/pages/index.astro
  llms.txt
Due: lint, format

feat(expo, dice-ui): unified header, app-level modal portal, result styling
  apps/expo/__tests__/WebHeader.test.tsx
  apps/expo/app/index.tsx
  apps/expo/components/WebHeader.tsx
  apps/expo/components/WebHeader.web.tsx
  apps/expo/types/dice-ui.d.ts
  packages/dice-ui/src/NotationRoller.css
  packages/dice-ui/src/QuickReferenceGrid.tsx
  packages/dice-ui/src/RollSteps.css
  packages/dice-ui/src/index.ts
  packages/dice-ui/src/types.ts
Due: lint, format

chore: override brace-expansion to 5.0.5 to fix audit vulnerability
  bun.lock
  package.json
Due: format

ci: add Expo deploy workflows for web (EAS Hosting) and native (EAS Build)
  .github/workflows/expo-native-deploy.yml
  .github/workflows/expo-web-deploy.yml
Due: none

chore(expo): fix corrupted app.json, add comment to CSSTokens stub
  apps/expo/components/CSSTokens.tsx
Due: lint, format

fix(ci): use --prod flag for eas deploy instead of --channel
  .github/workflows/expo-web-deploy.yml
Due: none

fix(expo): add iOS bundleIdentifier for non-interactive EAS builds
  apps/expo/app.json
Due: format

fix(ci): remove --auto-submit from native builds until store config is ready
  .github/workflows/expo-native-deploy.yml
Due: none

feat(dice-ui, expo): add modal a11y, focus-visible, skip link, live region, reduced motion
  apps/expo/app/index.tsx
  packages/dice-ui/src/NotationRoller.css
  packages/dice-ui/src/QuickReferenceGrid.tsx
  packages/dice-ui/src/RollResultPanel.tsx
Due: lint, format

feat(expo): add SEO meta tags, OG tags, canonical URL, heading role
  apps/expo/app/_layout.tsx
  apps/expo/components/WebHeader.tsx
  apps/expo/public/robots.txt
  apps/expo/public/sitemap.xml
Due: lint, format

fix(dice-ui, rdn): improve contrast ratios for WCAG AA compliance
  apps/rdn/src/styles/global.css
  packages/dice-ui/src/NotationRoller.css
  packages/dice-ui/src/RollSteps.css
  packages/dice-ui/src/tokens.css
Due: format

feat(site, rdn): add sitemap, OG tags, fix mobile menu a11y, version dropdown
  apps/rdn/astro.config.ts
  apps/rdn/package.json
  apps/rdn/public/robots.txt
  apps/rdn/src/components/MobileMenu.astro
  apps/rdn/src/components/VersionDropdown.astro
  apps/rdn/src/layouts/SpecLayout.astro
  apps/site/astro.config.mjs
  apps/site/package.json
  apps/site/src/components/Head.astro
  bun.lock
Due: lint, format

chore(expo): add privacy policy for app store submissions
  apps/expo/public/privacy.html
Due: none

docs(site): add attribution page to Start section
  apps/site/astro.config.mjs
  apps/site/src/content/docs/welcome/attribution.mdx
Due: lint

chore(expo): format privacy policy HTML
  apps/expo/public/privacy.html
Due: none

docs(site): convert attribution page to table format
  apps/site/src/content/docs/welcome/attribution.mdx
Due: none

docs(site): remove descriptions from attribution page
  apps/site/src/content/docs/welcome/attribution.mdx
Due: none

chore(ci): pin github actions to commit shas
  .github/actions/bun-setup/action.yml
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/expo-native-deploy.yml
  .github/workflows/expo-web-deploy.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
Due: none

chore(ci): configure dependabot for github-actions updates
  .github/dependabot.yml
Due: none

docs(adr): mark ADR-009 accepted (all steps shipped in fcfafb7e)
  docs/adr/ADR-009-public-api-surface-reduction.md
Due: format

chore(deps): bump overrides to patch 7 audit advisories
  bun.lock
  package.json
Due: format

chore(roller): enable consumer tree-shaking via src-glob sideEffects
  docs/adr/ADR-018-roller-sideeffects-src-glob.md
  packages/roller/package.json
Due: format

chore(build): consolidate app tsconfigs
  apps/cli/tsconfig.json
  apps/discord-bot/tsconfig.json
  tsconfig.apps.json
Due: format

chore(roller): remove deprecated MODIFIER_PRIORITIES
  packages/roller/__tests__/lib/modifiers/registry.test.ts
  packages/roller/__tests__/story4-dead-code.test.ts
  packages/roller/src/lib/modifiers/priorities.ts
  packages/roller/src/modifiers/index.ts
Due: lint, format

chore(lint): enforce tokenize modifier isolation
  eslint.config.js
Due: lint, format

docs(adr): add index with categories
  docs/adr/README.md
Due: format

docs(packages): repeat bun-publish rule in publishable package guides
  apps/cli/CLAUDE.md
  packages/games/CLAUDE.md
  packages/roller/CLAUDE.md
Due: format

ci(hooks): run gen:check on pre-commit when specs change
  lefthook.yml
Due: none

docs(expo): add CLAUDE.md for agent onboarding
  apps/expo/CLAUDE.md
Due: format

refactor(roller): use sumMatchCounts in drop/plus/minus parse paths
  packages/roller/src/modifiers/drop.ts
  packages/roller/src/modifiers/minus.ts
  packages/roller/src/modifiers/plus.ts
Due: lint, format

refactor(roller): extract sumMatchCounts helper for modifier parsing
  packages/roller/__tests__/lib/modifiers/shared/extractCount.test.ts
  packages/roller/src/modifiers/shared/extractCount.ts
Due: lint, format

refactor(games): codegen AVAILABLE_GAMES from .randsum.json filesystem
  packages/games/CLAUDE.md
  packages/games/bunup.config.ts
  packages/games/codegen.ts
  packages/games/src/availableGames.generated.ts
  packages/games/src/index.ts
Due: lint, format

perf(roller): optimize createModifierLog via sorted two-pointer walk
  packages/roller/__tests__/lib/modifiers/log.property.test.ts
  packages/roller/src/modifiers/log.ts
Due: lint, format

fix(security): cap quantity and sides at validation boundary
  packages/roller/__tests__/security/bounds.test.ts
  packages/roller/src/lib/optionsValidation.ts
  packages/roller/src/lib/utils/validation.ts
  packages/roller/src/roll/parseArguments.ts
Due: lint, format

feat(errors): unify NotationParseError under RandsumError
  apps/site/src/content/docs/roller/error-handling.mdx
  packages/roller/__tests__/security/error-hierarchy.test.ts
  packages/roller/src/errors.ts
Due: lint, format

fix(security): bound the repeat operator count and nesting depth
  packages/roller/__tests__/security/repeat-depth.test.ts
  packages/roller/src/notation/parse/notationToOptions.ts
Due: lint, format

chore(games): mark @randsum/games as sideEffects-free
  packages/games/package.json
Due: format

docs(adr): flip ADR-007/008 to Accepted, add ADR-018, re-bucket categories
  docs/adr/ADR-007-modifier-co-location.md
  docs/adr/ADR-008-esm-only-package-output.md
  docs/adr/README.md
Due: format

fix(games): disable bunup exports:true, hand-maintain package.json#exports
  packages/games/CLAUDE.md
  packages/games/__tests__/exports-sync.test.ts
  packages/games/bunup.config.ts
Due: lint, format

Path conditions:
  lint: any of: *.{ts,tsx,js,mjs}
  format: any of: *.{ts,tsx,js,json,md,astro,css}
