Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint --fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

feat(site): migrate RollerPlayground to @randsum/component-library
  apps/site/astro.config.mjs
  apps/site/package.json
  apps/site/src/components/playground/RollerPlayground.css
  apps/site/src/components/playground/RollerPlayground.tsx
  apps/site/src/pages/index.astro
  apps/site/src/styles/roller-playground-theme.css
  bun.lock
Due: lint, format

fix(site): load component-library CSS explicitly and ensure dist is built before site:dev
  apps/site/astro.config.mjs
  package.json
Due: lint, format

fix(component-library): expose dist/index.css in package exports
  packages/component-library/package.json
Due: format

refactor(component-library): remove hover tooltip and clipboard copy from RollerPlayground
  apps/site/src/content/docs/getting-started/introduction.mdx
  apps/site/src/content/docs/getting-started/quick-start.mdx
  apps/site/src/content/docs/guides/error-handling.mdx
  apps/site/src/content/docs/guides/recipes.mdx
  apps/site/src/content/docs/packages/roller.mdx
  apps/site/src/content/docs/reference/dice-notation.mdx
  apps/site/src/content/docs/reference/modifiers.mdx
  apps/site/src/content/docs/reference/roll-options.mdx
  bun.lock
  docs/plans/2026-03-06-component-library-implementation.md
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.stories.tsx
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
Due: lint, format

fix(component-library): restore RollTooltip helpers and remove stale chip CSS
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
Due: lint, format

feat(component-library): add expanded state and toggle to RollerPlayground chip
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
Due: lint, format

feat(component-library): add hover open-icon overlay to result chip
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
Due: lint, format

feat(component-library): add expand panel HTML structure to RollerPlayground
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
Due: lint, format

feat(component-library): add expand panel CSS animation to RollerPlayground
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
Due: format

feat(component-library): fade desc text when expand panel is open
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
Due: lint, format

chore(component-library): add expand interaction stories for RollerPlayground
  packages/component-library/src/components/RollerPlayground/RollerPlayground.stories.tsx
Due: lint, format

fix(component-library): fix duplicate total, keyboard accessibility, and light mode dice colors
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
Due: lint, format

fix(component-library): fix collapse state, chip layout, and remove redundant RollTooltip header
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
Due: lint, format

fix(component-library): move expand panel padding to content child so overflow:hidden collapses correctly
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
Due: lint, format

fix(component-library): add [data-theme=light] support, remove site-specific style overrides
  apps/site/astro.config.mjs
  apps/site/package.json
  apps/site/src/pages/index.astro
  apps/site/src/styles/roller-playground-theme.css
  bun.lock
  docs/plans/2026-03-05-interactive-code-examples-design.md
  docs/plans/2026-03-05-interactive-code-examples.md
  docs/plans/2026-03-05-live-repl-design.md
  docs/plans/2026-03-05-live-repl.md
  docs/plans/2026-03-05-monorepo-improvements.md
  docs/plans/2026-03-06-component-library-design.md
  docs/plans/2026-03-06-component-library-implementation.md
  docs/plans/2026-03-06-roller-playground-design.md
  docs/plans/2026-03-06-roller-playground-docs.md
  docs/plans/2026-03-06-roller-playground-expand-design.md
  docs/plans/2026-03-06-roller-playground-expand.md
  docs/plans/2026-03-06-roller-playground.md
  docs/plans/2026-03-06-sandpack-integration-design.md
  docs/plans/2026-03-06-sandpack-integration.md
  docs/plans/2026-03-06-stackblitz-liverepl-design.md
  docs/plans/2026-03-06-stackblitz-liverepl-plan.md
  package.json
  packages/component-library/package.json
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
Due: lint, format

feat(component-library): add size prop, proportional margins, and descriptive modifier labels
  apps/site/src/pages/index.astro
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.stories.tsx
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
Due: lint, format

fix(component-library): enrich modifier labels with counts/conditions, rename Edit to Code
  apps/site/src/pages/index.astro
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.stories.tsx
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
Due: lint, format

WIP
  apps/site/astro.config.mjs
  apps/site/src/components/HeroInteractive.tsx
  apps/site/src/pages/index.astro
  apps/site/src/styles/custom.css
  apps/site/src/utils/packageData.ts
Due: lint, format

feat(component-library): restyle roller playground as inline code expression with fast spinner
  apps/site/src/content/docs/packages/roller.mdx
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
Due: lint, format

feat(component-library): add ModifierReference component and Modifiers hover tooltip to RollerPlayground
  apps/site/src/components/HeroInteractive.tsx
  docs/plans/2026-03-06-modifiers-hover-tooltip-design.md
  docs/plans/2026-03-06-modifiers-hover-tooltip.md
  eslint.config.js
  packages/component-library/.ladle/components.tsx
  packages/component-library/src/components/ModifierReference/ModifierReference.css
  packages/component-library/src/components/ModifierReference/ModifierReference.stories.tsx
  packages/component-library/src/components/ModifierReference/ModifierReference.tsx
  packages/component-library/src/components/ModifierReference/index.ts
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.stories.tsx
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
  packages/component-library/src/index.ts
Due: lint, format

feat(site+component-library): component docs, bundled CSS, hero notation cycling, tooltip improvements
  apps/site/astro.config.mjs
  apps/site/src/components/HeroInteractive.tsx
  apps/site/src/content/docs/getting-started/faq.mdx
  apps/site/src/content/docs/getting-started/introduction.mdx
  apps/site/src/content/docs/getting-started/quick-start.mdx
  apps/site/src/content/docs/guides/error-handling.mdx
  apps/site/src/content/docs/guides/testing.mdx
  apps/site/src/content/docs/packages/overview.mdx
  apps/site/src/content/docs/packages/roller.mdx
  apps/site/src/content/docs/reference/roll-options.mdx
  apps/site/src/content/docs/tools/components/index.mdx
  apps/site/src/content/docs/tools/components/modifier-reference.mdx
  apps/site/src/content/docs/tools/components/roller-playground.mdx
  apps/site/src/pages/index.astro
  apps/site/src/utils/packageData.ts
  packages/component-library/bunup.config.ts
  packages/component-library/package.json
  packages/component-library/src/components/ModifierReference/ModifierReference.css
  packages/component-library/src/components/ModifierReference/ModifierReference.tsx
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
  packages/roller/src/roll/index.ts
Due: lint, format

fix(site): remove docs:site from netlify build command
  apps/site/netlify.toml
Due: none

docs(site): remove docs:site reference from README
  apps/site/README.md
Due: format

fix(component-library): externalize react/jsx-runtime and jsx-dev-runtime
  packages/component-library/bunup.config.ts
Due: lint, format

chore(component-library): bump version to 0.1.1
  packages/component-library/package.json
Due: format

fix(site): left-align content and add gaps between RollerPlayground instances
  apps/site/src/styles/custom.css
Due: format

revert(site): remove --sl-content-margin-inline override (broke landing page)
  apps/site/src/styles/custom.css
Due: format

fix(component-library): add not-content class to prevent Starlight markdown spacing
  packages/component-library/package.json
  packages/component-library/src/components/ModifierReference/ModifierReference.tsx
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
Due: lint, format

fix(site): increase RollerPlayground gap to 1.5rem
  apps/site/src/styles/custom.css
Due: format

fix(site): add 2rem vertical margin to large RollerPlayground
  apps/site/src/styles/custom.css
Due: format

fix(site): scope large RollerPlayground margin to sl-markdown-content only
  apps/site/src/styles/custom.css
Due: format

fix(site): exclude hero playground from large RollerPlayground margin
  apps/site/src/styles/custom.css
Due: format

fix(site): alias component-library to TS source, remove sucrase
  apps/site/astro.config.mjs
  apps/site/package.json
Due: lint, format

chore: remove .claude-plugin, update CLAUDE.md and agent configs
  .claude-plugin/plugin.json
  .claude/agents/code-reviewer.md
  .claude/agents/test-writer.md
  .claude/settings.json
  CLAUDE.md
  bun.lock
Due: format

feat(site): SEO improvements, OG image, llms.txt, and doc content updates
  apps/site/astro.config.mjs
  apps/site/public/llms.txt
  apps/site/public/og-image.svg
  apps/site/public/robots.txt
  apps/site/src/content/docs/games/blades.mdx
  apps/site/src/content/docs/games/comparison.mdx
  apps/site/src/content/docs/games/daggerheart.mdx
  apps/site/src/content/docs/games/fifth.mdx
  apps/site/src/content/docs/games/overview.mdx
  apps/site/src/content/docs/games/pbta.mdx
  apps/site/src/content/docs/games/root-rpg.mdx
  apps/site/src/content/docs/games/salvageunion.mdx
  apps/site/src/content/docs/getting-started/faq.mdx
  apps/site/src/content/docs/getting-started/installation.mdx
  apps/site/src/content/docs/getting-started/introduction.mdx
  apps/site/src/content/docs/getting-started/quick-start.mdx
  apps/site/src/content/docs/guides/custom-game-packages.mdx
  apps/site/src/content/docs/guides/error-handling.mdx
  apps/site/src/content/docs/guides/recipes.mdx
  apps/site/src/content/docs/guides/testing.mdx
  apps/site/src/content/docs/index.mdx
  apps/site/src/content/docs/packages/overview.mdx
  apps/site/src/content/docs/packages/roller.mdx
  apps/site/src/content/docs/reference/dice-notation.mdx
  apps/site/src/content/docs/reference/modifiers.mdx
  apps/site/src/content/docs/reference/roll-options.mdx
  apps/site/src/content/docs/tools/components/index.mdx
  apps/site/src/content/docs/tools/components/modifier-reference.mdx
  apps/site/src/content/docs/tools/components/roller-playground.mdx
  apps/site/src/content/docs/tools/discord-bot.mdx
  apps/site/src/content/docs/tools/skill/dice-rolling.mdx
  apps/site/src/content/docs/tools/skill/game-systems.mdx
  apps/site/src/content/docs/tools/skill/index.mdx
  apps/site/src/content/docs/tools/skill/notation.mdx
  apps/site/src/pages/index.astro
  packages/component-library/src/components/RollerPlayground/RollerPlayground.css
  packages/component-library/src/components/RollerPlayground/RollerPlayground.tsx
Due: lint, format

feat(site): regenerate OG image with logo, solarized code, and install badges
  apps/site/public/og-image.svg
Due: none

fix(site): fix OG image logo rendering and update code syntax colors
  apps/site/public/og-image.svg
  apps/site/public/randsum-logo.png
Due: none

fix(site): embed logo as base64 in OG image for self-contained rendering
  apps/site/public/og-image.svg
Due: none

Path conditions:
  lint: any of: *.{ts,tsx,js,mjs}
  format: any of: *.{ts,tsx,js,json,md,astro,css}
