Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run lint --fix
  stage_fixed: true

format:
  run: bun run format
  stage_fixed: true

fix(ci): run astro sync before typecheck
  .github/workflows/main.yml
Due: none

fix(ci): skip site typecheck, rely on site:build instead
  .github/workflows/main.yml
  apps/site/package.json
Due: format

fix(ci): exclude content.config.ts from site lint
  apps/site/package.json
Due: format

fix(site): use astro check for typecheck
  apps/site/package.json
Due: format

chore(site): re-include content.config.ts in lint
  apps/site/package.json
Due: format

fix(ci): add Node 22 for Astro compatibility
  .github/workflows/main.yml
Due: none

fix(ci): add @astrojs/check, fix site type errors
  apps/site/package.json
  apps/site/src/pages/index.astro
  bun.lock
Due: format

feat(ci): per-package CI workflows with unified check scripts
  .github/workflows/ci-cli.yml
  .github/workflows/ci-component-library.yml
  .github/workflows/ci-games.yml
  .github/workflows/ci-notation.yml
  .github/workflows/ci-roller.yml
  .github/workflows/ci-site.yml
  .github/workflows/ci-skill.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
  apps/cli/package.json
  apps/discord-bot/package.json
  apps/site/package.json
  bun.lock
  docs/superpowers/plans/2026-03-14-per-package-ci.md
  lefthook.yml
  package.json
  packages/component-library/package.json
  packages/games/package.json
  packages/internal/display-utils/package.json
  packages/notation/package.json
  packages/roller/package.json
Due: format

chore: ignore .claude/worktrees in gitignore
  .gitignore
Due: none

fix(ci): reorder check to build before typecheck
  apps/cli/package.json
  apps/discord-bot/package.json
  apps/site/package.json
  packages/component-library/package.json
  packages/games/package.json
  packages/internal/display-utils/package.json
  packages/notation/package.json
  packages/roller/package.json
Due: format

chore: move display-utils back to packages/, remove size from check
  .github/workflows/ci-cli.yml
  .github/workflows/ci-component-library.yml
  .github/workflows/ci-games.yml
  .github/workflows/ci-notation.yml
  .github/workflows/ci-roller.yml
  .github/workflows/publish.yml
  apps/site/src/utils/packageData.ts
  bun.lock
  package.json
  packages/component-library/package.json
  packages/display-utils/CLAUDE.md
  packages/display-utils/LICENSE
  packages/display-utils/README.md
  packages/display-utils/__tests__/computeSteps.test.ts
  packages/display-utils/__tests__/modifierDocs.test.ts
  packages/display-utils/__tests__/stackblitz.test.ts
  packages/display-utils/bunup.config.ts
  packages/display-utils/package.json
  packages/display-utils/src/computeSteps.ts
  packages/display-utils/src/index.ts
  packages/display-utils/src/modifierDocs.ts
  packages/display-utils/src/stackblitz.ts
  packages/display-utils/tsconfig.json
  packages/games/package.json
  packages/notation/package.json
  packages/roller/package.json
Due: lint, format

fix: move check:exports to CI-only (prevents parallel contention)
  .github/workflows/ci-cli.yml
  .github/workflows/ci-component-library.yml
  .github/workflows/ci-games.yml
  .github/workflows/ci-notation.yml
  .github/workflows/ci-roller.yml
  .github/workflows/ci-site.yml
  .github/workflows/publish.yml
  apps/cli/package.json
  apps/site/package.json
  package.json
  packages/component-library/package.json
  packages/games/package.json
  packages/notation/package.json
  packages/roller/package.json
Due: format

fix(ci): prevent duplicate CI runs on PR branches
  .github/workflows/ci-cli.yml
  .github/workflows/ci-component-library.yml
  .github/workflows/ci-games.yml
  .github/workflows/ci-notation.yml
  .github/workflows/ci-roller.yml
  .github/workflows/ci-site.yml
  .github/workflows/ci-skill.yml
Due: none

fix(games): eliminate network calls in CI codegen checks
  packages/games/__fixtures__/salvageunion-tables.json
  packages/games/__tests__/lib/codegen-snapshots.test.ts
  packages/games/codegen.ts
  packages/games/src/lib/codegen.ts
  packages/games/src/lib/index.ts
Due: lint, format

fix: slim pre-push hook and fix codegen snapshot timeout
  lefthook.yml
  packages/games/__tests__/lib/codegen-snapshots.test.ts
Due: lint, format

test: comprehensive coverage sprint (81% -> 99.26%)
  packages/games/__tests__/lib/codegenUnit.test.ts
  packages/games/__tests__/lib/conditionEvaluator.test.ts
  packages/games/__tests__/lib/emitUnit.test.ts
  packages/games/__tests__/lib/externalRefResolverUnit.test.ts
  packages/games/__tests__/lib/inputBinder.test.ts
  packages/games/__tests__/lib/loaderUnit.test.ts
  packages/games/__tests__/lib/modifierTranslator.test.ts
  packages/games/__tests__/lib/normalizerUnit.test.ts
  packages/games/__tests__/lib/pipeline.test.ts
  packages/games/__tests__/lib/refResolver.test.ts
  packages/notation/__tests__/comparison.test.ts
  packages/notation/__tests__/definitions.test.ts
  packages/notation/__tests__/formatHumanList.test.ts
  packages/notation/__tests__/isDiceNotation.test.ts
  packages/notation/__tests__/listOfNotations.test.ts
  packages/notation/__tests__/notation.test.ts
  packages/notation/__tests__/notationToOptions.test.ts
  packages/notation/__tests__/parse-extended.test.ts
  packages/notation/__tests__/schemas.test.ts
  packages/notation/__tests__/suggestions.test.ts
  packages/notation/__tests__/tokenize.test.ts
  packages/notation/__tests__/transformers-extended.test.ts
  packages/notation/__tests__/transformers.test.ts
  packages/notation/__tests__/validateNotation.test.ts
  packages/notation/src/parse.ts
  packages/notation/src/transform.ts
  packages/notation/src/validate.ts
  packages/roller/__tests__/validate.test.ts
Due: lint, format

fix(games): resolve lint errors in coverage test files
  packages/games/__tests__/lib/emitUnit.test.ts
  packages/games/__tests__/lib/externalRefResolverUnit.test.ts
  packages/games/__tests__/lib/loaderUnit.test.ts
  packages/games/__tests__/lib/pipeline.test.ts
Due: lint, format

fix(games): resolve remaining lint errors in codegen test and script
  packages/games/__tests__/lib/codegenUnit.test.ts
  packages/games/codegen.ts
Due: lint, format

fix(games): escape backslashes in codegen string literals (CodeQL)
  packages/games/src/lib/codegen.ts
  packages/games/src/lib/codegen/emitBody.ts
Due: lint, format

ci: consolidate per-package workflows into single CI with gate job
  .github/workflows/ci-cli.yml
  .github/workflows/ci-component-library.yml
  .github/workflows/ci-games.yml
  .github/workflows/ci-notation.yml
  .github/workflows/ci-roller.yml
  .github/workflows/ci-site.yml
  .github/workflows/ci-skill.yml
  .github/workflows/ci.yml
Due: none

chore(site): scaffold docs 4.0 structure with new sidebar config
  apps/site/astro.config.mjs
  apps/site/src/content/docs/games/getting-started.mdx
  apps/site/src/content/docs/games/introduction.mdx
  apps/site/src/content/docs/games/schema/contributing-a-game.mdx
  apps/site/src/content/docs/games/schema/overview.mdx
  apps/site/src/content/docs/games/schema/reference.mdx
  apps/site/src/content/docs/games/schema/using-loadspec.mdx
  apps/site/src/content/docs/notation/api-reference.mdx
  apps/site/src/content/docs/notation/getting-started.mdx
  apps/site/src/content/docs/notation/introduction.mdx
  apps/site/src/content/docs/notation/randsum-dice-notation.mdx
  apps/site/src/content/docs/notation/validation-and-parsing.mdx
  apps/site/src/content/docs/roller/api-reference.mdx
  apps/site/src/content/docs/roller/error-handling.mdx
  apps/site/src/content/docs/roller/getting-started.mdx
  apps/site/src/content/docs/roller/introduction.mdx
  apps/site/src/content/docs/roller/modifiers.mdx
  apps/site/src/content/docs/roller/roll-options.mdx
  apps/site/src/content/docs/tools/claude-code-skill.mdx
  apps/site/src/content/docs/tools/component-library.mdx
  apps/site/src/content/docs/welcome/ecosystem-overview.mdx
  apps/site/src/content/docs/welcome/introduction.mdx
  docs/superpowers/specs/2026-03-14-docs-4.0-restructure-design.md
Due: lint, format

fix: remove invalid '+5' standalone notation from docs and CLAUDE.md
  CLAUDE.md
  apps/site/public/skills/dice-rolling/SKILL.md
  apps/site/public/skills/dice-rolling/references/NOTATION.md
  packages/roller/CLAUDE.md
  skills/dice-rolling/SKILL.md
  skills/dice-rolling/references/NOTATION.md
Due: format

docs(site): write all 4.0 restructured documentation content
  apps/site/src/content/docs/games/blades.mdx
  apps/site/src/content/docs/games/daggerheart.mdx
  apps/site/src/content/docs/games/fifth.mdx
  apps/site/src/content/docs/games/getting-started.mdx
  apps/site/src/content/docs/games/introduction.mdx
  apps/site/src/content/docs/games/pbta.mdx
  apps/site/src/content/docs/games/root-rpg.mdx
  apps/site/src/content/docs/games/salvageunion.mdx
  apps/site/src/content/docs/games/schema/contributing-a-game.mdx
  apps/site/src/content/docs/games/schema/overview.mdx
  apps/site/src/content/docs/games/schema/reference.mdx
  apps/site/src/content/docs/games/schema/using-loadspec.mdx
  apps/site/src/content/docs/notation/api-reference.mdx
  apps/site/src/content/docs/notation/getting-started.mdx
  apps/site/src/content/docs/notation/introduction.mdx
  apps/site/src/content/docs/notation/randsum-dice-notation.mdx
  apps/site/src/content/docs/notation/validation-and-parsing.mdx
  apps/site/src/content/docs/roller/api-reference.mdx
  apps/site/src/content/docs/roller/error-handling.mdx
  apps/site/src/content/docs/roller/getting-started.mdx
  apps/site/src/content/docs/roller/introduction.mdx
  apps/site/src/content/docs/roller/modifiers.mdx
  apps/site/src/content/docs/roller/roll-options.mdx
  apps/site/src/content/docs/tools/claude-code-skill.mdx
  apps/site/src/content/docs/tools/component-library.mdx
  apps/site/src/content/docs/tools/display-utils.mdx
  apps/site/src/content/docs/welcome/ecosystem-overview.mdx
  apps/site/src/content/docs/welcome/introduction.mdx
Due: none

chore(site): delete old pages, update homepage and hero links
  apps/site/src/components/HeroInteractive.tsx
  apps/site/src/content/docs/games/comparison.mdx
  apps/site/src/content/docs/games/overview.mdx
  apps/site/src/content/docs/getting-started/faq.mdx
  apps/site/src/content/docs/getting-started/installation.mdx
  apps/site/src/content/docs/getting-started/introduction.mdx
  apps/site/src/content/docs/getting-started/quick-start.mdx
  apps/site/src/content/docs/guides/error-handling.mdx
  apps/site/src/content/docs/guides/migrating-from-v2.mdx
  apps/site/src/content/docs/guides/recipes.mdx
  apps/site/src/content/docs/guides/testing.mdx
  apps/site/src/content/docs/guides/troubleshooting.mdx
  apps/site/src/content/docs/packages/notation.mdx
  apps/site/src/content/docs/packages/overview.mdx
  apps/site/src/content/docs/packages/roller.mdx
  apps/site/src/content/docs/reference/changelog.mdx
  apps/site/src/content/docs/reference/dice-notation.mdx
  apps/site/src/content/docs/reference/modifiers.mdx
  apps/site/src/content/docs/reference/roll-options.mdx
  apps/site/src/content/docs/tools/cli.mdx
  apps/site/src/content/docs/tools/components/index.mdx
  apps/site/src/content/docs/tools/components/modifier-reference.mdx
  apps/site/src/content/docs/tools/components/roller-playground.mdx
  apps/site/src/content/docs/tools/skill/dice-rolling.mdx
  apps/site/src/content/docs/tools/skill/game-systems.mdx
  apps/site/src/content/docs/tools/skill/index.mdx
  apps/site/src/content/docs/tools/skill/notation.mdx
  apps/site/src/pages/index.astro
Due: lint, format

fix(site): fix MDX build errors in schema pages
  apps/site/src/content/docs/games/schema/contributing-a-game.mdx
  apps/site/src/content/docs/games/schema/reference.mdx
Due: none

chore: update dependencies to latest
  bun.lock
  package.json
Due: format

docs(site): lead with Salvage Union as primary game example
  apps/site/src/content/docs/games/getting-started.mdx
  apps/site/src/content/docs/games/introduction.mdx
  apps/site/src/content/docs/games/schema/contributing-a-game.mdx
  apps/site/src/content/docs/games/schema/overview.mdx
  apps/site/src/content/docs/games/schema/reference.mdx
  apps/site/src/content/docs/welcome/introduction.mdx
  apps/site/src/pages/index.astro
Due: format

chore: P0 collaboration improvements from 4-agent audit
  .claude/agents/json-schema-expert.md
  .gitignore
  CLAUDE.md
  packages/games/CLAUDE.md
Due: format

chore: P1/P2 collaboration improvements from audit
  .claude/skills/codegen/SKILL.md
  .claude/skills/publish/SKILL.md
  CLAUDE.md
  CONTRIBUTING.md
  docs/adr/ADR-001-unified-games-package.md
  docs/adr/ADR-002-code-generation-from-json-specs.md
  docs/adr/ADR-003-notation-as-separate-package.md
  docs/adr/ADR-004-literal-types-over-branded-types.md
  lefthook.yml
  llms.txt
  packages/component-library/CLAUDE.md
Due: format

feat: add game-spec-creator and dice-probability public skills
  skills/README.md
  skills/dice-probability/SKILL.md
  skills/dice-probability/references/PROBABILITY_TABLES.md
  skills/game-spec-creator/SKILL.md
  skills/game-spec-creator/references/SPEC_EXAMPLES.md
Due: format

feat(roller)!: rename RollerRollResult.result to .values
  apps/site/public/skills/dice-rolling/SKILL.md
  apps/site/src/content/docs/roller/getting-started.mdx
  apps/site/src/content/docs/roller/roll-options.mdx
  packages/roller/README.md
  packages/roller/src/roll/index.ts
  packages/roller/src/types/results.ts
  skills/dice-rolling/SKILL.md
Due: lint, format

fix(roller): update missed test for .result→.values rename
  packages/roller/__tests__/roll/roll.test.ts
Due: lint, format

refactor(roller)!: replace mutable modifier registry with static frozen array
  apps/cli/package.json
  packages/component-library/package.json
  packages/display-utils/package.json
  packages/games/package.json
  packages/notation/package.json
  packages/notation/src/parse/parseModifiers.ts
  packages/roller/__tests__/lib/modifiers/ModifierEngine.test.ts
  packages/roller/__tests__/lib/modifiers/registry.test.ts
  packages/roller/package.json
  packages/roller/src/lib/modifiers/definitions/cap.ts
  packages/roller/src/lib/modifiers/definitions/compound.ts
  packages/roller/src/lib/modifiers/definitions/countSuccesses.ts
  packages/roller/src/lib/modifiers/definitions/drop.ts
  packages/roller/src/lib/modifiers/definitions/explode.ts
  packages/roller/src/lib/modifiers/definitions/index.ts
  packages/roller/src/lib/modifiers/definitions/keep.ts
  packages/roller/src/lib/modifiers/definitions/minus.ts
  packages/roller/src/lib/modifiers/definitions/multiply.ts
  packages/roller/src/lib/modifiers/definitions/multiplyTotal.ts
  packages/roller/src/lib/modifiers/definitions/penetrate.ts
  packages/roller/src/lib/modifiers/definitions/plus.ts
  packages/roller/src/lib/modifiers/definitions/replace.ts
  packages/roller/src/lib/modifiers/definitions/reroll.ts
  packages/roller/src/lib/modifiers/definitions/unique.ts
  packages/roller/src/lib/modifiers/index.ts
  packages/roller/src/lib/modifiers/registry.ts
  packages/roller/src/lib/optionsValidation.ts
  packages/roller/src/roll/pipeline.ts
Due: lint, format

chore(roller): bundle optimizations and DX fixes
  packages/display-utils/CLAUDE.md
  packages/display-utils/package.json
  packages/games/__tests__/smoke.test.ts
  packages/roller/CLAUDE.md
  packages/roller/__tests__/lib/modifiers/ModifierEngine.test.ts
  packages/roller/__tests__/lib/patterns.test.ts
  packages/roller/src/lib/modifiers/index.ts
  packages/roller/src/lib/modifiers/registry.ts
  packages/roller/src/lib/patterns/completeRollPattern.ts
  packages/roller/src/lib/patterns/coreNotationPattern.ts
  packages/roller/src/lib/patterns/index.ts
Due: lint, format

feat(roller): add d% (percentile) and dF (Fate/Fudge) dice support
  CLAUDE.md
  apps/cli/package.json
  apps/discord-bot/src/commands/roll.ts
  apps/site/public/llms.txt
  llms.txt
  packages/component-library/package.json
  packages/display-utils/package.json
  packages/games/package.json
  packages/games/src/lib/codegen.ts
  packages/notation/package.json
  packages/roller/RANDSUM_DICE_NOTATION.md
  packages/roller/__tests__/roll/fateDice.test.ts
  packages/roller/__tests__/roll/percentile.test.ts
  packages/roller/__tests__/roll/specialDice.integration.test.ts
  packages/roller/__tests__/roll/specialDice.property.test.ts
  packages/roller/package.json
  packages/roller/src/roll/index.ts
  packages/roller/src/roll/parseArguments.ts
  packages/roller/src/types/core.ts
  packages/roller/src/types/index.ts
Due: lint, format

chore(games): strip salvageunion metadata and simplify codegen
  packages/games/src/lib/codegen.ts
  packages/games/src/salvageunion.generated.ts
Due: lint, format

chore(notation): disable minification in bunup config
  packages/notation/bunup.config.ts
Due: lint, format

fix(roller): update .result to .values in special dice test
  packages/roller/__tests__/roll/specialDice.integration.test.ts
Due: lint, format

Path conditions:
  lint: any of: *.{ts,tsx,js,mjs}
  format: any of: *.{ts,tsx,js,json,md,astro,css}
