Repository RANDSUM/randsum: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,mjs}"
      run: bun run lint --fix
      stage_fixed: true
    format:
      glob: "*.{ts,tsx,js,json,md,astro,css}"
      run: bun run format
      stage_fixed: true
    typecheck:
      run: bun run typecheck

pre-push:
  commands:
    test:
      run: bun test
    exports:
      run: bun run check:exports
    security:
      run: bun audit --audit-level high

docs(spec): v1.0 revisions before publish
  apps/spec/src/content/specs/v1.0.md
  apps/spec/src/styles/global.css
Due: format

refactor(spec): consolidate to single source of truth at notation.randsum.dev
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  apps/cli/README.md
  apps/discord-bot/src/commands/notation.ts
  apps/spec/public/llms-full.txt
  apps/spec/public/llms.txt
  apps/spec/src/components/HeroHeader.astro
  apps/spec/src/content/specs/v1.0-alpha.md
  apps/spec/src/utils/versions.ts
  packages/roller/CLAUDE.md
  packages/roller/ERROR_REFERENCE.md
  packages/roller/RANDSUM_DICE_NOTATION.md
  packages/roller/README.md
  skills/dice-probability/SKILL.md
Due: lint, format

docs(spec): reorganize Level 3 as Dice Pools
  apps/spec/public/llms-full.txt
  apps/spec/src/content/specs/v1.0-alpha.md
Due: format

docs(spec): add missing Keep Middle (KM) to Level 2 conformance
  apps/spec/public/llms-full.txt
  apps/spec/src/content/specs/v1.0-alpha.md
Due: format

docs(spec): rebuild conformance levels from real platform support
  apps/spec/public/llms-full.txt
  apps/spec/src/content/specs/v1.0-alpha.md
Due: format

feat!: reorder drop/keep after explosions (BREAKING)
  apps/spec/public/llms-full.txt
  apps/spec/src/components/HeroHeader.astro
  apps/spec/src/content/specs/v1.0-alpha.md
  apps/spec/src/styles/global.css
  packages/roller/__tests__/lib/modifiers/ModifierEngine.test.ts
  packages/roller/__tests__/lib/modifiers/sort.test.ts
  packages/roller/__tests__/story5-7-colocation.test.ts
  packages/roller/src/lib/modifiers/priorities.ts
  packages/roller/src/modifiers/definitions.ts
  packages/roller/src/modifiers/drop.ts
  packages/roller/src/modifiers/keep.ts
  packages/roller/src/modifiers/sort.ts
  packages/roller/src/notation/definitions/drop.ts
  packages/roller/src/notation/definitions/keep.ts
  packages/roller/src/notation/definitions/sort.ts
Due: lint, format

fix: revert hero subtitle to original
  apps/spec/src/components/HeroHeader.astro
Due: format

feat(site): update section headers and fix integration chip height
  apps/site/src/pages/index.astro
Due: format

feat(site): update third section header to "You can roll your own way"
  apps/site/src/pages/index.astro
Due: format

fix(site): capitalize Roll, use sky blue accent on "your"
  apps/site/src/pages/index.astro
Due: format

fix: update tests for conditional explode and notation URL change
  apps/discord-bot/__tests__/commands/notation.test.ts
  apps/playground/__tests__/ReferenceDetail.test.ts
Due: lint, format

fix: lint and format fixes across spec app and roller
  apps/spec/src/content/specs/v1.0-alpha.md
  apps/spec/src/utils/versions.ts
  packages/roller/src/modifiers/definitions.ts
Due: lint, format

chore: rename apps/spec to apps/notationSpec
  apps/notationSpec/astro.config.ts
  apps/notationSpec/netlify.toml
  apps/notationSpec/package.json
  apps/notationSpec/public/llms-full.txt
  apps/notationSpec/public/llms.txt
  apps/notationSpec/src/components/HeroHeader.astro
  apps/notationSpec/src/components/MobileMenu.astro
  apps/notationSpec/src/components/OnThisPage.astro
  apps/notationSpec/src/components/ShareActions.astro
  apps/notationSpec/src/components/SidebarNav.astro
  apps/notationSpec/src/components/SkipLink.astro
  apps/notationSpec/src/components/SpecContent.astro
  apps/notationSpec/src/components/VersionBanner.astro
  apps/notationSpec/src/components/VersionDropdown.astro
  apps/notationSpec/src/content.config.ts
  apps/notationSpec/src/content/specs/v1.0-alpha.md
  apps/notationSpec/src/layouts/SpecLayout.astro
  apps/notationSpec/src/pages/404.astro
  apps/notationSpec/src/pages/index.astro
  apps/notationSpec/src/pages/v/[version].astro
  apps/notationSpec/src/styles/global.css
  apps/notationSpec/src/utils/versions.ts
  apps/notationSpec/tsconfig.json
  bun.lock
  packages/roller/CLAUDE.md
Due: lint, format

fix(spec): resolve P0 contradictions and type mismatches in v1.0-alpha
  apps/notationSpec/src/content/specs/v1.0-alpha.md
Due: format

feat(site): add notation spec cross-links and rename syntax guide page
  apps/site/astro.config.mjs
  apps/site/src/content/docs/notation/introduction.mdx
  apps/site/src/content/docs/notation/randsum-dice-notation.mdx
Due: lint

test(roller): add spec-compliance conformance and safety limit tests
  packages/roller/__tests__/notation/count.test.ts
  packages/roller/__tests__/notation/countFailures.test.ts
  packages/roller/__tests__/spec/s06-execution-pipeline/s06.3-priority-ordering.test.ts
  packages/roller/__tests__/spec/s09-safety-limits/s09.1-explosion-depth.test.ts
  packages/roller/__tests__/spec/s09-safety-limits/s09.2-geometric-die-cap.test.ts
  packages/roller/__tests__/spec/s09-safety-limits/s09.3-reroll-attempts.test.ts
  packages/roller/__tests__/spec/s10-conformance-levels/s10.1-level1-core.test.ts
  packages/roller/__tests__/spec/s10-conformance-levels/s10.2-level2-vtt-baseline.test.ts
  packages/roller/src/notation/definitions/count.ts
  packages/roller/src/notation/definitions/countFailures.ts
  packages/roller/src/notation/definitions/countSuccesses.ts
  packages/roller/src/notation/types.ts
Due: lint, format

docs(spec): add error semantics, Sort carve-out, dF.1 alias, move Section 7 to Appendix E
  apps/notationSpec/src/content/specs/v1.0-alpha.md
Due: format

fix(spec): correct 9.5 heading level to subsection
  apps/notationSpec/src/content/specs/v1.0-alpha.md
Due: format

chore: bump .bun-version to 1.3.11
  .bun-version
Due: none

chore: regenerate bun.lock for workspace compatibility
  bun.lock
Due: none

fix(ci): revert bun to 1.3.10 and minimize lockfile delta
  .bun-version
  bun.lock
Due: none

fix(ci): exclude notationSpec from bun workspace
  bun.lock
  package.json
Due: format

fix(ci): rename apps/notationSpec to apps/rdn
  apps/rdn/astro.config.ts
  apps/rdn/netlify.toml
  apps/rdn/package.json
  apps/rdn/public/llms-full.txt
  apps/rdn/public/llms.txt
  apps/rdn/src/components/HeroHeader.astro
  apps/rdn/src/components/MobileMenu.astro
  apps/rdn/src/components/OnThisPage.astro
  apps/rdn/src/components/ShareActions.astro
  apps/rdn/src/components/SidebarNav.astro
  apps/rdn/src/components/SkipLink.astro
  apps/rdn/src/components/SpecContent.astro
  apps/rdn/src/components/VersionBanner.astro
  apps/rdn/src/components/VersionDropdown.astro
  apps/rdn/src/content.config.ts
  apps/rdn/src/content/specs/v1.0-alpha.md
  apps/rdn/src/layouts/SpecLayout.astro
  apps/rdn/src/pages/404.astro
  apps/rdn/src/pages/index.astro
  apps/rdn/src/pages/v/[version].astro
  apps/rdn/src/styles/global.css
  apps/rdn/src/utils/versions.ts
  apps/rdn/tsconfig.json
  bun.lock
  package.json
  packages/roller/CLAUDE.md
Due: lint, format

chore: rename package to @randsum/rdn and add CI job
  .github/workflows/ci.yml
  apps/rdn/package.json
  bun.lock
  package.json
Due: format

fix(ci): add Node.js 22 setup to rdn job
  .github/workflows/ci.yml
Due: none

chore: rename notation:* scripts to rdn:*
  package.json
Due: format

fix(rdn): populate TOC on load and fix content-aside gap
  apps/rdn/src/components/SidebarNav.astro
  apps/rdn/src/styles/global.css
Due: format

fix(rdn): reliable scroll tracking and section-aware TOC title
  apps/rdn/src/components/OnThisPage.astro
  apps/rdn/src/components/SidebarNav.astro
  apps/rdn/src/layouts/SpecLayout.astro
  apps/rdn/src/styles/global.css
Due: format

fix(rdn): use getBoundingClientRect for scroll tracking
  apps/rdn/src/components/OnThisPage.astro
  apps/rdn/src/components/SidebarNav.astro
Due: format

fix(rdn): use primary text color for h4 headings
  apps/rdn/src/styles/global.css
Due: format

feat(rdn): add light/dark mode toggle
  apps/rdn/src/components/HeroHeader.astro
  apps/rdn/src/layouts/SpecLayout.astro
  apps/rdn/src/styles/global.css
Due: format

chore(rdn): convert conformance levels and faceted records to tables
  apps/rdn/src/content/specs/v1.0-alpha.md
Due: format

feat(rdn): convert spec lists to tables, fix TOC scroll tracking
  apps/rdn/src/components/OnThisPage.astro
Due: format

fix(rdn): fix JSON parse error in TOC data embedding
  apps/rdn/src/components/OnThisPage.astro
Due: format

feat(rdn): style modifier properties as compact cards
  apps/rdn/src/components/SpecContent.astro
  apps/rdn/src/styles/global.css
Due: format

fix(rdn): fix prop-card grid breaking multi-line content
  apps/rdn/src/styles/global.css
Due: format

fix(rdn): promote Stage sections to h2 to shorten TOC
  apps/rdn/src/content/specs/v1.0-alpha.md
Due: format

fix(rdn): collapsible TOC showing only active subsection
  apps/rdn/src/components/OnThisPage.astro
  apps/rdn/src/content/specs/v1.0-alpha.md
Due: format

feat(spec): add IETF-required sections and fix dangling references
  apps/rdn/src/content/specs/v1.0-alpha.md
Due: format

fix: rewrite llms.txt with RDN branding, fix CONTRIBUTING.md stale refs
  CONTRIBUTING.md
  llms.txt
Due: format
